ion-content {
  --background: linear-gradient(0deg, #ffffff, #00c0b3);
}
.heading{
  padding: 5% 0% 3% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-family: Raleway-Bold;
    font-size: 4.5rem;
    color: #fff;
    margin: 0 auto;
  }
  p{
    font-family: Raleway-Light;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 auto;
  }
}
.heading h1, .heading p {
  margin: 0;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 123, 123, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagenot{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  img{
    padding-top: 5%;
    height:90%;
    width: 90%;
    object-fit: cover;
  }
}
.onboard-top{
  padding-top: 10%;
  padding-bottom: 5%;
  padding-right: 3%;
  margin-top:0%;
  ion-toolbar{
    --background:transparent;
  }
}
.container-text {
  padding: 5% 12% 0% 12%;
  p{
    font-family: Raleway-Medium;
    font-size: 1.20rem;
    text-align: center; /* Centra el texto horizontalmente */
    color: #e6427f;
    margin: 1%;
    padding: 0;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 6% 0% 6%;
  position: fixed;
  bottom: 10%;
  width: 100%;
  ion-button {
    --border-radius: 10px;
    --background:#54c296;
    --padding-top: 7%; /* ajusta el valor de acuerdo a tu preferencia */
    --padding-bottom: 7%;
    width: 100%;
    font-family: Raleway-Light;
    font-size: 120%;
    color: #fff;
  }
}
