<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <app-toolbar-designer></app-toolbar-designer>
  <div class="header-up">
    <div class="header-name">
      <h1>Entrenadores</h1>
    </div>
  </div>
  <div class="container-body">
    <div *ngFor="let item of dataEntrenadores">
      <ion-card (click)="go_page_create('data-entrenador',item)"class="card-item"  style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/media/images/objetive-muscular-bk-2.png');background-repeat: no-repeat;background-size: cover;">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <ion-card-header>
              <ion-card-title>{{ obtenerPrimerNombre(item.NOMBREPERSONA) }}&nbsp;{{ obtenerPrimerNombre(item.APELLDOPERSONA) }}</ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <mat-card-avatar>
              <img mat-card-image [src]="ip_address + '/media/perfile/' + item.IMAGEPERSONA" class="circulo">
            </mat-card-avatar>
          </ion-col>
          <!-- <div class="img-overlay">
            <ion-col size="4" class="ion-no-padding">
              <ion-img class="img" [src]="ip_address + '/media/perfile/' + item.IMAGEPERSONA"></ion-img>
            </ion-col>
          </div> -->
          <ion-col size="6" >
            <ion-card-content class="ion-no-padding">
              <div class="item-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                  <path d="M16 3l0 4"></path>
                  <path d="M8 3l0 4"></path>
                  <path d="M4 11l16 0"></path>
                  <path d="M8 15h2v2h-2z"></path>
              </svg>
                <h2>Edad:</h2>
                <span class="age">&nbsp;&nbsp;&nbsp;{{ calcularEdad(item.FECHANACIMIENTOPERSONA) }} años</span>
              </div>
      <!--        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gift" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 8m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z"></path>
                <path d="M12 8l0 13"></path>
                <path d="M19 12v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7"></path>
                <path d="M7.5 8a2.5 2.5 0 0 1 0 -5a4.8 8 0 0 1 4.5 5a4.8 8 0 0 1 4.5 -5a2.5 2.5 0 0 1 0 5"></path>
            </svg>
              <h2>Fecha de Nacimiento:</h2>
              <span class="age">&nbsp;&nbsp;&nbsp;{{ item.FECHANACIMIENTOPERSONA | date: 'yyyy-MM-dd' }}</span> -->
              <div class="item-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-briefcase" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                  <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
                  <path d="M12 12l0 .01"></path>
                  <path d="M3 13a20 20 0 0 0 18 0"></path>
                </svg>
                <h2>Experiencia:</h2>
                <span class="age">&nbsp;&nbsp;&nbsp;{{ item.EXPERIENCIAENTRENADOR }} años</span>
              </div>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <app-footer-designer-users></app-footer-designer-users>
</ion-content>
