<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <div class="fullscreen-bg" *ngIf="!validatehiddenDiv" style="background-image:linear-gradient(0deg,  #0000006b,#9159f9a4), url('{{ip_address}}/media/perfile/background.png')">
    <div class="title-app">
      <h2>HomeFit<span>GO</span></h2>
    </div>
    <div class="container-fullscreen-bg">
      <div class="item-header">
        <p>Zona de GYM</p>
      </div>
      <div class="item-body">
        <h1>
          Cuida tu salud con nuestros planes de ejercicio.
        </h1>
        <p>
          Hemos estado creando e implementando proyectos durante muchos años en todo el mundo, tenemos cientos de clientes satisfechos.
        </p>
        <ion-button (click)="hideDiv()" fill="clear">
          Leer Más
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l14 0"></path>
            <path d="M15 16l4 -4"></path>
            <path d="M15 8l4 4"></path>
          </svg>
        </ion-button>
      </div>
    </div>
    <div class="button-botton"  (click)="hideDiv()" >
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M6 10l6 6l6 -6h-12"></path>
     </svg>
    </div>
  </div>
  <div class="portada-bg" style="background-image: linear-gradient(0deg, #1b1f28, #ffffff1a), url('{{ip_address}}/media/perfile/portada.jpg')">
   <!--  <div class="header">
      <app-toolbar-designer-white></app-toolbar-designer-white>
    </div> -->
    <div class="text-overlay-up">
      <p><span> Entrenamiento</span><br> Personalizado</p>
    </div>
  </div>
  <div class="container-body">
    <div><h2 class="subtitle" >ejercicio</h2></div>
    <div class="image-container" (click)="go_page('listar-ejercicios-all')">
      <img [src]="ip_address+'/media/images/mostrarEjercicios.jpg'" alt="AllEjercicios" >
      <div class="filter-overlay-img" style=" left: 0;background: linear-gradient(0deg, #c7b4fe7e, hsla(0, 0%, 0%, 0.467));"></div>
      <div class="text-overlay-image-first-child" style="left: 8%; text-align: start;">{{totalEjercicio && totalEjercicio[0].total_datos}} de Ejercicios para Empezar tu Entrenamietno</div>
    </div>
    <div><h2 class="subtitle" >rutinas</h2></div>
    <div class="image-container" (click)="go_page('listar-rutinas-all')">
      <img [src]="ip_address+'/media/rutinas/mostrarRutinas.jpg'" alt="AllRutinas">
      <div class="filter-overlay-img" style="transform: scale(-1);background: linear-gradient(0deg, #00000077, #c7b4fe7e);"></div>
      <div class="text-overlay-image-first-child" style="right: 8%;text-align: end;">Mas de {{totalRutinas && totalRutinas[0].total_datos}}  Rutinas  para Ti</div>
    </div>
    <div><h2 class="subtitle" >prog. de rutinas</h2></div>
    <div class="image-container"  (click)="go_page('listar-sesiones-all')">
      <img [src]="ip_address+'/media/sesiones/mostrarSesiones.jpg'" alt="AllSesiones">
      <div class="filter-overlay-img"  style="transform: scale(-1);background: linear-gradient(0deg, #000000da, #c7b4fe7e);"></div>
      <div class="text-overlay-image-first-child" style="right: 8%; text-align: end;">Más de {{totalSesiones && totalSesiones[0].total_datos}} Sesiones de Rutinas</div>
    </div>
    <div><h2 class="subtitle" ><span>encontrar un</span><br>entrenador</h2></div>
    <div class="container-triner">
      <div class="item-triner" (click)="go_page_create('data-entrenador',item)" *ngFor="let item of dataEntrenadores">
        <img [src]="ip_address + '/media/perfile/'+item.IMAGEPERSONA" alt="Imagen 2" class="image-triner">
        <div class="text-triner">
          <h2>{{ obtenerPrimerNombre(item.NOMBREPERSONA) }}</h2>
          <p>{{ calcularEdad(item.FECHANACIMIENTOPERSONA) }}&nbsp;años</p>
        </div>
      </div>
    </div>
  </div>
 <app-footer-designer-users></app-footer-designer-users>
</ion-content>
