ion-content {
  --background: linear-gradient(0deg, #330e67, #330e67);
  height: 100vh;
  overflow: hidden;
  //filter: blur(5px);
}

//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.container-body{
  height: 65vh;
  padding: 0% 0% 9% 0%;
  overflow-x: hidden;
  overflow-y: auto;

}

.card-item{
  border-radius: 15px;
  ion-card-header{
    ion-card-title {
      font-family: Raleway-Bold;
      font-size: 1.5rem;
      color:  #ffffff;
    }
    ion-card-subtitle{
      font-family: Raleway-Light;
      font-size: 1rem;
      color:  #ffffff;
    }
  }
}

.header-up{
  padding: 0% 6% 3% 6%;
  display: block;
  justify-content: center;
  align-items: center;
  .up-date{
    margin: 0px;
    padding: 0px;
    ion-icon{
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #8c7efc;
      margin-right: 10px;
      width: 19px;
      height: 19px;
    }
  }
  .header-name{
    margin: 0px;
    padding: 0px;
    h1{
      font-family: Raleway-ExtraBold;
      font-size: 2rem;
      color: #535253;
    }

  }
}

.img-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 92, 205);
  margin: 100px auto;
  width: 250px;
  height: 100px;
  position: relative;
}

.circulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  background: rgb(138, 138, 138);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -40px;
}



.item-container {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
  h2{
    font-family: Raleway-Bold;
    font-size: 1rem;
    color: #ffffff;
  }
}

.item-container svg {
  margin-right: 5px;
}
.portada-bg{
  position: relative;
  top: 0%;
  left: 0;
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  padding-top: 9%;
  .header{
    background: linear-gradient(90deg, #b066d2b4, #7c64d2a6);
    border-radius: 50px;
    margin: 0% 3% 0% 3%;
    color: #ffffff!important;
  }
}
.text-overlay-up {
  position: absolute;
  bottom: 3%;
  left: 3%;
  padding: 10px;
  color: #ffffff;
}

.container-box-container{
  position: absolute;
  top: 35%;
  left: 3%;
  padding: 10px;
}

.text-overlay-up p {
  margin: 0;
  font-family: Raleway-Bold;
  font-size: 1.7rem;
  color: #ffffff;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
}
.title-app{
  position: fixed;
  top: 3%;
  left: 3%;
  h2{
    font-family: Raleway-Bold;
    font-size: 1.8rem;
    color: #ffffff;
    span{
      color: #9159f9e5;
    }
  }
}
.container-fullscreen-bg{
  position: fixed;
  top: 45%;
  left: 0%;
  margin: 0% 6%;
  transform: translateY(-50%);
  .item-header{
    p{
      font-family: Raleway-Medium;
      font-size: 1rem;
      color: #ffffff;
      text-shadow: 0 0 5px #000000;
    }
  }
  .item-body{
    h1{
      font-family: Raleway-Bold;
      font-size: 2.5rem;
      color: #ffffff;
      text-shadow: 0 0 5px #000000;
    }
    p{
      padding-right: 5%;
      font-family: Raleway-Light;
      font-size: 1rem;
      color: #ffffff98;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.527);
    }
    ion-button{
      width: 60%;
      margin-left: auto;
      margin-right: 0;
      height: 50px;
      padding: 0;
      background-image: linear-gradient(90deg, #c9b8fa, #7d65cb);
      border-radius: 50px;
      color: #ffffff;
      font-family: Raleway-Medium;
      font-size: 1rem;
      background-color: #8c7efc;
    }
  }
}

.button-botton{
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffffa1;
  background-color: transparent;
  border-radius: 50px;
  width: 60px; /* Ajusta el valor según el tamaño deseado */
  height: 60px; /* Ajusta el valor según el tamaño deseado */
  padding: 0;
  border: solid 2px #ffffff5e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  animation: slideOut 3s forwards;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 84%;
  height: 242px;
  margin: 7% 8%;
}
.square {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Color de fondo del cuadrado inferior */
  border: #ffffff18 solid 1px;
  border-radius: 5px;
}

.overlay-square {
  position: absolute;
  top: -6%;
  left: -5%;
  z-index: 3;
}

.overlay-square img {
  border-radius: 20px 5px 5px 5px;  /* Valor del radio del borde */
}

.overlay-square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: -15px;
  border-radius: 20px 0px 0px 0px;
  background: linear-gradient(0deg, #c8b8fa00, #6227b057);/* Color y opacidad de la capa */
}

.text-overlay {
  position: absolute;
  top: 3%;
  left:  15%;
  color: #ffffffd5;
  font-family: Raleway-ExtraBold;
  font-size: 1.8rem;
  z-index: 5;
  p{
    margin: 0;
    font-family: Raleway-ExtraBold;
    padding: 0;
    text-shadow: 0 0 5px #000000;
  }

}
.container-text-body{
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.text-body{
  color: #ffffffd5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  h2{
    margin: 0 auto;
    font-family: Raleway-Bold;
    font-size: 1rem;
    z-index: 5;
    span{
      font-family: Raleway-Light;
      font-size: 1rem;
      z-index: 5;
    }
  }
}

.text-body svg,
.text-body h2 {
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.text-body svg{
  margin-right: 10px;

}
.box-container {
  width: 45px;
  height: 45px;
  display: flex;
  flex-wrap: wrap;
}

.square-box {
  box-sizing: border-box;
  border: 1px solid #000000;
}

.square1 {
  width: 50%;
  height: 50%;
  background-color: #c9b8fa;
}

.square2 {
  width: 50%;
  height: 25%;
  background-color: #ad8ff6;
}

.square3 {
  width: 25%;
  height: 50%;
  background-color: #752fd2;
}

.square4 {
  width: 25%;
  height: 25%;
  background-color: #eeeafd;
}
