<ion-toolbar class="toolbar-footer">
  <ion-grid class="container-footer">
    <ion-row>
      <ion-col  (click)="go_animate(1,'main')"   size="3" class="image-container-footer active-element1 ">
        <div class="notification-dot " [ngClass]="{'flicker': animateElement1}"></div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
       </svg>
      </ion-col>
      <ion-col (click)="go_animate(2,'listar-ejercicios')" size="3" class="image-container-footer active-element2 ">
        <div class="notification-dot"[ngClass]="{'flicker': animateElement2}"></div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rocket" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path>
          <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
          <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
       </svg>
      </ion-col>
      <ion-col size="3" (click)="go_animate(3,'contrato-entrenador')" class="image-container-footer active-element3 ">
        <div class="notification-dot" [ngClass]="{'flicker': animateElement3}"></div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stretching" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M16 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M5 20l5 -.5l1 -2"></path>
          <path d="M18 20v-5h-5.5l2.5 -6.5l-5.5 1l1.5 2"></path>
       </svg>
      </ion-col>
      <ion-col (click)="go_animate(4,'perfile')" size="3" class="image-container-footer active-element4 ">
        <div class="notification-dot" [ngClass]="{'flicker': animateElement4}"></div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-cog" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
          <path d="M6 21v-2a4 4 0 0 1 4 -4h2.5"></path>
          <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
          <path d="M19.001 15.5v1.5"></path>
          <path d="M19.001 21v1.5"></path>
          <path d="M22.032 17.25l-1.299 .75"></path>
          <path d="M17.27 20l-1.3 .75"></path>
          <path d="M15.97 17.25l1.3 .75"></path>
          <path d="M20.733 20l1.3 .75"></path>
       </svg>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
