<ion-header *ngIf="showheader">
  <app-toolbar-designer></app-toolbar-designer>
</ion-header>
<ion-content [fullscreen]="true" >
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <ion-toolbar class="toolbar-header">
    <div class="onboard-top" >
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button style="color: #9259f9;"   (click)="go_page('sesiones')">
           <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
         </ion-button>
         <p (click)="go_page('sesiones')">Regresar</p>
       </ion-buttons>
       <ion-buttons slot="end">
        <ion-button  (click)="confirmchangeCreateData()"  style="color: #9259f9; margin-right: 10px;"  >
          <ng-container *ngIf="(variable && userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)   || (variable && userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ; else otherIcon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
              <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
              <path d="M10 12l4 0"></path>
           </svg>&nbsp;<span class="spaniconup">ACTUALIZAR</span>
          </ng-container>
          <ng-template #otherIcon>
            <ng-container  *ngIf="(!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ;else otherotherIcon" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
              <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
              <path d="M14 4l0 4l-6 0l0 -4"></path>
           </svg>&nbsp;<span class="spaniconup">Crear</span>
          </ng-container>
           </ng-template>
           <ng-template #otherotherIcon>
          </ng-template>
        </ion-button>
      </ion-buttons>
      </ion-toolbar>
    </div>
  </ion-toolbar>
  <div class="container-body">
    <ion-card *ngIf="dataRutinasporSesion && dataRutinasporSesion.length>=2" class="ion-card-ejercicio-title flotante" (click)=" dataRutinasporSesion && dataRutinasporSesion.length > 0  ? showSelected('dataRutinasporSesiones'):''"
      style=" background-image: url('{{ip_address}}/media/images/objetive-muscular-bk-3.png');">
      <ion-card-header>
        <ion-card-title style="color: #ffffff!important;">
          <div class="contenedor-padre">
            <img *ngIf=" dataRutinasporSesion && dataRutinasporSesion.length>0"   class="imagen" src="{{ ip_address }}/media/images/plus-invisible.png" alt="plus">
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card  style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
      <div class="custom-card-image-container">
        <div class="container-imagen" *ngIf="dataRutinasporSesion && dataRutinasporSesion.length>1">
          <ng-container *ngIf="!selectedImageUrl  && imagePortada; else otherImage">
            <img class="iamgendefault" (click)="uploadImage()" alt="Silhouette of mountains"  [src]="ip_address+'/media/sesiones/portadassesiones/'+imagePortada"  class="custom-card-image" />
            <div class="image-overlay"></div>
          </ng-container>
          <ng-template #otherImage>
            <div *ngIf="selectedImageUrl; else otherotherImage">
              <img class="iamgendefault" alt="Default Image" (click)="uploadImage()" [src]="selectedImageUrl" class="custom-card-image" />
              <div class="image-overlay"></div>
            </div>
          </ng-template>
          <ng-template #otherotherImage>
            <img alt="DefaultImage" class="iamgendefault" (click)="uploadImage()" src="https://ionicframework.com/docs/img/demos/card-media.png" class="custom-card-image"/>
            <div class="image-overlay"></div>
          </ng-template>
        </div>
        <div class="ion-chip"
        (click)="(userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)? showSelected('dataTrainerBasic'):''" >
          <ion-chip  [ngStyle]="{ 'background-color': getColorByValue(selectedTrainerBasic) }">
            <ion-avatar>
              <img *ngIf="!selectedTrainerBasic" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <img *ngIf="selectedTrainerBasic" src="{{ip_address}}/media/perfile/{{selectedTrainerBasic.IMAGEPERSONA}}" />
            </ion-avatar>
            <div class="ion-item-chip">
              <ion-label> {{ selectedTrainerBasic ? getfirstName(selectedTrainerBasic.NOMBREPERSONA )+ ' ' + getfirstName(selectedTrainerBasic.APELLDOPERSONA):'Manager' }}</ion-label>
              <ion-icon name="caret-down" slot="end"></ion-icon>
            </div>
          </ion-chip>
        </div>
        <div (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?uploadImage():''" class="ion-header">
          <ion-icon name="download"></ion-icon>
          <input type="file" style="display: none;" id="fileInput" class="file-input" accept=".jpg" (change)="handleFileInput($event)" #fileInputRef>
        </div>
        <ion-card-header class="custom-card-header" *ngIf="dataRutinasporSesion && dataRutinasporSesion.length>1">
          <div class="ion-item">
            <ion-textarea  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" class=" full-text ion-input-body-title" [(ngModel)]="nombreSesion" type="text" name="titulo" placeholder="Título Sesión" required></ion-textarea>
            <ion-icon class="ion-icon-title" name="create" slot="end"></ion-icon>
          </div>
        </ion-card-header>
      </div>
      <ion-card-content *ngIf="dataRutinasporSesion && dataRutinasporSesion.length>1">
        <div class="ion-item-content">
          <ion-textarea  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" class="ion-input-body-subtitle" [(ngModel)]="objetivoSesion" type="text" name="subtitulo" placeholder="Objetivo Sesión" required></ion-textarea>
          <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <div>
      <!-- <div class="tab-buttons">
        <div (click)="showTab(1)" [class.selected-button]="isTabSelected(1)">Por Usuarios</div>
        <div (click)="showTab(2)" [class.selected-button]="isTabSelected(2)" >Por Objetivos</div>
      </div> -->
      <!-- <div *ngIf="currentTab===1;">
        <ion-grid >
          <ion-row>
            <div class="custom-row">
              <ion-card  (click)="showSelected('dataUsuariosBasic')"  class="custom-card custom-card-3" >
                <ion-card-header>
                  <ion-card-title>
                    <div class="custom-badge">
                      <img style="box-shadow: none!important;"
                        src="{{ ip_address }}/media/images/plus-invisible-white.png"
                        alt="The Wisconsin State Capitol building in Madison, WI at night"
                      >
                      <div class="color-overlay"></div>
                    </div>
                    <div class="custom-title">
                      <p class="p-user-container">
                        Seleccionar
                      </p>
                      <p class="p-user-container">
                        Usuarios
                      </p>
                    </div>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <div>
                      <div class="icon-text">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scale-outline" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M3 3m0 4a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"></path>
                          <path d="M12 7c1.956 0 3.724 .802 5 2.095l-2.956 2.904a3 3 0 0 0 -2.038 -.799a3 3 0 0 0 -2.038 .798l-2.956 -2.903a6.979 6.979 0 0 1 5 -2.095z"></path>
                      </svg>
                        <p>-- kg</p>
                      </div>
                      <div class="icon-text" style="margin-top: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ruler" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M5 4h14a1 1 0 0 1 1 1v5a1 1 0 0 1 -1 1h-7a1 1 0 0 0 -1 1v7a1 1 0 0 1 -1 1h-5a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1"></path>
                          <path d="M4 8l2 0"></path>
                          <path d="M4 12l3 0"></path>
                          <path d="M4 16l2 0"></path>
                          <path d="M8 4l0 2"></path>
                          <path d="M12 4l0 3"></path>
                          <path d="M16 4l0 2"></path>
                        </svg>
                        <p>--,-- cm</p>
                      </div>
                    </div>
                </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Card Content
                </ion-card-content>
              </ion-card>
              <ng-container *ngIf="dataUsersSesiones && dataUsersSesiones.length>0" >
                <ion-card class="custom-card custom-card-{{i%4}}" *ngFor="let item of dataUsersSesiones; let i=index;">
                  <ion-card-header>
                    <ion-card-title>
                      <div class="custom-badge">
                        <img
                          src="{{ ip_address }}/media/perfile/{{ item.IMAGEPERSONA }}"
                          alt="The Wisconsin State Capitol building in Madison, WI at night"
                        >
                        <div class="color-overlay"></div>
                      </div>
                      <div class="custom-title">
                        <p class="p-user-container">
                          {{ getfirstName(item.NOMBREPERSONA) }}
                        </p>
                        <p class="p-user-container">
                          {{ getfirstName(item.APELLDOPERSONA) }}
                        </p>
                      </div>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <div>
                        <div class="icon-text">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scale-outline" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 3m0 4a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"></path>
                            <path d="M12 7c1.956 0 3.724 .802 5 2.095l-2.956 2.904a3 3 0 0 0 -2.038 -.799a3 3 0 0 0 -2.038 .798l-2.956 -2.903a6.979 6.979 0 0 1 5 -2.095z"></path>
                        </svg>
                          <p>{{ item.PESOUSUARIO }} kg</p>
                        </div>
                        <div class="icon-text" style="margin-top: 5px;">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ruler" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 4h14a1 1 0 0 1 1 1v5a1 1 0 0 1 -1 1h-7a1 1 0 0 0 -1 1v7a1 1 0 0 1 -1 1h-5a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1"></path>
                            <path d="M4 8l2 0"></path>
                            <path d="M4 12l3 0"></path>
                            <path d="M4 16l2 0"></path>
                            <path d="M8 4l0 2"></path>
                            <path d="M12 4l0 3"></path>
                            <path d="M16 4l0 2"></path>
                          </svg>
                          <p>{{item.ALTURAUSUARIO}} cm</p>
                        </div>
                      </div>
                  </ion-card-subtitle>
                  </ion-card-header>
                   <ion-card-content>
                    Card Content
                  </ion-card-content>
                </ion-card>
              </ng-container>
            </div>
          </ion-row>
        </ion-grid>
      </div> -->
      <div >
        <ion-card style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
          <ion-grid>
            <ion-row  class="ion-card-title-container">
              <ion-col size="4">
                <ion-card-header>
                  <ion-card-title class="ion-card-title">Objetivo Sesión</ion-card-title>
                </ion-card-header>
              </ion-col>
              <ion-col size="8">
                <ion-card-content>
                  <div class="container-input">
                    <ion-select  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" (ionChange)="selectObjetiveFuntion()" class="ion-card-subtitle-select" name="objetivoSesion" interface="popover" [(ngModel)]=" ObjetivoPersonal " required>
                      <ion-select-option value="" disabled selected>Selecciona una opción</ion-select-option>
                      <ion-select-option *ngFor="let option of dataObjetivosPersonales"  [value]="option.IDOBJETIVOSPERSONALES ">{{ option.DESCRIPCIONOBJETIVOSPERSONALES }}</ion-select-option>
                      <ion-select-option value="" >Ninguno</ion-select-option>
                    </ion-select>
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
      <div >
        <ion-card style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
          <ion-grid>
            <ion-row  class="ion-card-title-container">
              <ion-col size="4">
                <ion-card-header>
                  <ion-card-title class="ion-card-title">Frecuencia Ejercicio</ion-card-title>
                </ion-card-header>
              </ion-col>
              <ion-col size="8">
                <ion-card-content>
                  <div class="container-input">
                    <ion-select  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" class="ion-card-subtitle-select" name="frecuenciaSesion" interface="popover" [(ngModel)]="FrecuenciaPersonales " required>
                      <ion-select-option value="" disabled selected>Selecciona una opción</ion-select-option>
                      <ion-select-option *ngFor="let option of dataFrecuenciaPersonales"  [value]="option.IDFRECUENCIA">{{ option.TituloFrecuenciaEjercicio }}</ion-select-option>
                      <ion-select-option value="" >Ninguno</ion-select-option>
                    </ion-select>
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
      <div >
        <ion-card style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
          <ion-grid>
            <ion-row  class="ion-card-title-container">
              <ion-col size="4">
                <ion-card-header>
                  <ion-card-title class="ion-card-title">Profesion</ion-card-title>
                </ion-card-header>
              </ion-col>
              <ion-col size="8">
                <ion-card-content>
                  <div class="container-input">
                    <ion-select  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" class="ion-card-subtitle-select" name="profesionSesion" interface="popover" [(ngModel)]="profesion" required>
                      <ion-select-option value="" disabled selected>Selecciona una opción</ion-select-option>
                      <ion-select-option *ngFor="let option of dataProfesion"  [value]="option.IDPROFESION  ">{{ option.DESCRIPCIONPROFESION }}</ion-select-option>
                      <ion-select-option value="" >Ninguno</ion-select-option>
                    </ion-select>
                  </div>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
      <ion-card style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
        <ion-grid>
          <ion-row  class="ion-card-title-container">
            <ion-col size="6">
              <ion-card-header>
                <ion-card-title class="ion-card-title">Duración</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size="6">
              <ion-card-content>
                <h2  class="ion-card-subtitle">{{ duracionSesion ? duracionSesion : 'HH:mm:ss' }}</h2>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card [ngClass]="{ 'active-card': visibilidaSesion === '1', 'inactive-card': visibilidaSesion === '0' }" [style.background-image]="visibilidaSesion === '' ?  'url(' + ip_address + '/media/rutinas/background.png)':'none'">
        <ion-card-header>
          <ion-card-title>Visibilidad de Sesion</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-item-content">
            <ion-select  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" name="selectStatus" interface="popover"  [(ngModel)]="visibilidaSesion " required>
              <ion-select-option value="" disabled selected>Selecciona una opción</ion-select-option>
              <ion-select-option value="1">Activo</ion-select-option>
              <ion-select-option value="0">Inactivo</ion-select-option>
            </ion-select>
            <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
          </div>
          <div  class="div-select" *ngIf="visibilidaSesion && visibilidaSesion === '0' ">
            <p>Indique las Razones</p>
            <div class="ion-item-content">
              <ion-textarea  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" type="text"  [(ngModel)]="observacionSesion" ></ion-textarea>
              <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <!-- <ion-grid class="datetime-general" *ngIf="currentTab===1 "  [attr.id]="'elemento-destino-horario'">
        <ion-row>
          <ion-col size="6">
            <ion-card   (click)="openCalendar(1)"   style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
              <ion-card-header>
                <ion-card-title>Inicio</ion-card-title>
                <ion-card-subtitle  *ngIf="dateinitialicedStart===false "  >Porfavor seleccione ..</ion-card-subtitle>
                <ion-datetime-button   datetime="datetime1"  class="hidden" color="tertiary"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true" [isOpen]="showCalendarStart"  (didDismiss)="cancelCalendar(1)">
                  <ng-template>
                    <ion-datetime  presentation="date" [(ngModel)]="startdate"  [isOpen]="true" mode="md" [showDefaultButtons]="true"
                    doneText="Guardar" cancelText="Cancelar" (ionChange)="updateEndDate()"
                      [preferWheel]="false" [highlightedDates]="highlightedDates" color="violet" id="datetime1"
                      ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-card-header>
              <ion-card-content>
                {{dateinitialicedStart===true? startdate:''}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card   (click)="openCalendar(2)"  style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
              <ion-card-header>
                <ion-card-title>Fin</ion-card-title>
                <ion-card-subtitle *ngIf="dateinitialicedEnd===false"  >Porfavor seleccione ..</ion-card-subtitle>
                <ion-datetime-button   datetime="datetime2"  class="hidden" color="tertiary"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true" [isOpen]="showCalendarEnd"  (didDismiss)="cancelCalendar(2)">
                  <ng-template>
                    <ion-datetime  presentation="date" readonly="true" [(ngModel)]='enddate'
                    [isOpen]="true" mode="md" [showDefaultButtons]="false"
                    doneText="Guardar" cancelText="Cancelar"
                    [preferWheel]="false" [highlightedDates]="highlightedDates" color="violet" id="datetime2"  >
                    </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-card-header>
              <ion-card-content>
                {{dateinitialicedEnd===true?enddate:''}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-card style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
        <ion-grid>
          <ion-row class="ion-card-title-container">
            <ion-col size="6">
              <ion-card-header>
                <ion-card-title class="ion-card-title">Dias Programados </ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size="6">
              <ion-card-content>
                <!-- <h2 *ngIf="currentTab===1;else otherdayCount" class="ion-card-subtitle">{{ dateinitialicedStart && dateinitialicedEnd ? obtenerDiferenciaEnDias(startdate,enddate) +1 +' dia (s)' : '0 días' }}</h2> -->
                <!-- <ng-template #otherdayCount> -->
                  <h2  class="ion-card-subtitle">{{ dataRutinasporSesion && dataRutinasporSesion.length>0 ?  dataRutinasporSesion.length + ' dia (s)' : '0 días' }}</h2>
              <!-- </ng-template> -->
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card  class="ion-card-ejercicio-title" (click)=" dataRutinasporSesion && dataRutinasporSesion.length > 0 && (variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? showSelected('dataRutinasporSesiones'):''"  style=" background-image: url('{{ip_address}}/media/images/objetive-muscular-bk-3.png');">
        <ion-card-header>
          <ion-card-title style="color: #ffffff!important;">
            <div class="contenedor-padre">
              <h2 [style]="dataRutinasporSesion && dataRutinasporSesion.length > 0 ? 'left: 30px;' : 'left: 0px;'" class="text-im">Rutinas</h2>
              <img *ngIf=" dataRutinasporSesion && dataRutinasporSesion.length>0" class="imagen" src="{{ ip_address }}/media/images/plus-invisible.png" alt="plus">
            </div>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card id="myDiv" *ngIf=" (!dataRutinasporSesion || dataRutinasporSesion.length===0) && (variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)"  (click)="showSelected('dataRutinasporSesiones')" class="custom-card-imagen-agr" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url('{{ip_address}}/media/sesiones/crear_sesion.jpg');">
        <ion-card-header>
          <img class="background-image" src="{{ ip_address }}/media/images/plus-invisible.png" alt="plus">
          <ion-card-title>Agregar Rutina</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <br>
        </ion-card-content>
      </ion-card>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
        <div class="item-video-setup  users-container" *ngFor="let option of dataRutinasporSesion; let i = index;"
            [class.selected]="selectedTrainerBasic && selectedTrainerBasic.IDPERSONA === option.IDPERSONA" >
            <ion-card style="background: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0));" [attr.id]="'elemento-sesionesrutinas'+ i" >
              <div class="image-container">
                <img alt="Silhouette of mountains"   src="{{ ip_address }}/media/rutinas/portadasrutinas/{{option.IMAGENRUTINA}}" class="image"/>
                <div class="filter-overlay"></div>
                <div   class="title-body-left-bottom">
                  <p class="textspan">Creado por  <span>@ {{option.NICKNAMEPERSONA}}</span></p>
                  <p class="text2">{{option.NOMBRERUTINA}}</p>
                </div>
                <div class="ion-chip-selected">
                  <ion-chip >
                    <div class="ion-item-chip-selected">
                      <ion-label >{{option.DURACIONRUTINA}}</ion-label>
                    </div>
                  </ion-chip>
                </div>
                <div class="ion-dia-selected">
                  <div class="fecha-container">
                    <!-- <div class="dia" *ngIf="currentTab===1;else otherday">{{splitFecha(sumarDias(startdate,i+1))[2]}}</div> -->
                    <!-- <ng-template #otherday> -->
                        <div class="dia" >{{i+1}}</div>
                    <!-- </ng-template> -->
                    <!-- <div class="mes" *ngIf="currentTab===1;else othermoth">{{obtenerNombreMes(splitFecha(startdate)[1])}}</div> -->
                    <!-- <ng-template #othermoth> -->
                      <div class="mes" >Día</div>
                    <!-- </ng-template> -->
                  </div>
                </div>
              </div>
              <!-- <ion-card-header >
                <ion-card-title>
                  <p class="text1">{{option.DESCRIPCIONRUTINA}}</p>
                </ion-card-title>
              </ion-card-header> -->
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <div class="ion-card-content-ejercicio-2" >
                      <div  class="ion-icon-edit-2" *ngIf="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)">
                        <ion-reorder >
                          <ion-icon name="chevron-expand"></ion-icon>
                        </ion-reorder>
                      </div>
                      <div class="ion-icon-edit">
                        <ion-icon  (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ?EditItemERequerido(option,i):''" name="create"></ion-icon>
                        <ion-icon (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ?RemoveItemERequerido(i):''"  name="close-circle"></ion-icon>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-card-content  (click)="showEjerciciosxItemExt(option,i)"  >
                      <div class="ion-card-content ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                          <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                          <path d="M9 12l.01 0"></path>
                          <path d="M13 12l2 0"></path>
                          <path d="M9 16l.01 0"></path>
                          <path d="M13 16l2 0"></path>
                      </svg>
                      <p class="text-description">{{option.DESCRIPCIONOBJETIVOSPERSONALES}}</p>
                      </div>
                      <div class="ion-card-content ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-box-bottom-left-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-12.333 13a1 1 0 0 0 -1 1v2l.007 .117a1 1 0 0 0 1.993 -.117v-2l-.007 -.117a1 1 0 0 0 -.993 -.883zm3 -4a1 1 0 0 0 -1 1v6l.007 .117a1 1 0 0 0 1.993 -.117v-6l-.007 -.117a1 1 0 0 0 -.993 -.883zm3 2a1 1 0 0 0 -1 1v4l.007 .117a1 1 0 0 0 1.993 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor"></path>
                          </svg>
                          <p class="text-description">{{option.NOMBRETIPOEJERCICIO}}</p>
                      </div>
                      <div class="ion-card-content ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stretching" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M16 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                          <path d="M5 20l5 -.5l1 -2"></path>
                          <path d="M18 20v-5h-5.5l2.5 -6.5l-5.5 1l1.5 2"></path>
                      </svg>
                          <p class="text-description">¿Conoce los Ejercicios?</p>
                      </div>
                    </ion-card-content>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <div  class="item-body-right-bottom"  [ngStyle]="{ 'background-color': option.STATUSRUTINA === 0 ? '#fdfec3' : (option.STATUSRUTINA === 1 ? '#fcfee7' : '#fdfec3') }" >
                    <div>
                      <img class="icono-item-botton" src="{{ ip_address }}/media/images/{{ option.STATUSRUTINA === 0 ? 'noactive.png' : (option.STATUSRUTINA === 1 ? 'check.png' : 'time.png') }}" alt="Imagen Subtítulo">
                      <h2> {{ option.STATUSRUTINA === 0 ? 'Inactivo' : (option.STATUSRUTINA === 1 ? 'Activo' : 'Revisión') }}</h2>
                    </div>
                  </div>
                </ion-row>
              </ion-grid>
            </ion-card>
            <div *ngIf="mostrarEjerciciosSelectExt[i]" [attr.id]="'elemento-destino-ext-' + i" >
              <ion-card class="ion-card-ejercicios">
                <ion-card-header (click)="mostrarEjerciciosSelectExt[i]=!mostrarEjerciciosSelectExt[i]">
                  <ion-card-title>Ejercicios<ion-icon  name="chevron-expand"></ion-icon></ion-card-title>
                </ion-card-header>
                <div class="ion-card-ejer-content">
                  <ion-card-content>
                    <ion-card class="ion-card-ejercicio"  style="margin: 0 auto!important; margin-bottom: 3%; width: 100%;  background-image: linear-gradient(45deg,  #0000008e,#000000a8), url('{{ ip_address }}/multimedia/{{getVideoName(findEjercicioRutina(data).ALMACENAMIENTOMULTIMEDIA)}}.jpg');background-repeat: no-repeat;background-size: cover;" *ngFor="let data of option.IDEJERCICIOS ;" >
                      <div class="ion-chip-selected2">
                        <ion-chip >
                          <div class="ion-item-chip-selected2">
                            <ion-label >{{findEjercicioRutina(data).TIEMPOMULTIMEDIA}}</ion-label>
                          </div>
                        </ion-chip>
                      </div>
                      <div class="ion-activate">
                        <div  class="ion-activate-bottom "   [ngStyle]="{ 'background-color': findEjercicioRutina(data).ESTADOEJERCICIO === 0 ? '#fd8d89b2' : (findEjercicioRutina(data).ESTADOEJERCICIO === 1 ? '#d4f738b2' : '#f8e21fb7') }" >
                          <div>
                            <img class="icono-item-botton-activate" src="{{ ip_address }}/media/images/{{ findEjercicioRutina(data).ESTADOEJERCICIO === 0 ? 'noactive.png' : (findEjercicioRutina(data).ESTADOEJERCICIO === 1 ? 'check.png' : 'time.png') }}" alt="Imagen Subtítulo">
                            <h2> {{ findEjercicioRutina(data).ESTADOEJERCICIO === 0 ? 'Inactivo' : (findEjercicioRutina(data).ESTADOEJERCICIO === 1 ? 'Activo' : 'Revisión') }}</h2>
                          </div>
                        </div>
                      </div>
                      <ion-card-content >
                        <ion-grid>
                          <ion-row>
                            <ion-col size="12">
                              <div class="ion-card-content-ejercicio">
                                <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><span style=" font-family: Raleway-Bold;
                                  font-size: 1.5rem;
                                  color: #ffffff;" class="full-text">{{findEjercicioRutina(data).NOMBREEJERCICIO}}</span></ion-label>
                              </div>
                            </ion-col>
                            <ion-col size="6">
                              <div class="ion-card-content-ejercicio">
                                <ion-icon  style="color: #ffffff;" name="sync"></ion-icon>
                                <ion-label style="color: #ffffff;" >{{findEjercicioRutina(data).REPETICIONESEJERCICIO}}</ion-label>
                              </div>
                            </ion-col>
                            <ion-col size="6">
                              <div class="ion-card-content-ejercicio">
                                <ion-icon style="color: #ffffff;" name="sparkles-outline"></ion-icon>
                                <ion-label style="color: #ffffff;">{{findEjercicioRutina(data).METEJERCICIO}}</ion-label>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12">
                              <div class="ion-card-content-ejercicio">
                                <ion-icon  style="color: #ffffff;" name="ribbon"></ion-icon>
                                <ion-label style=" color: #ffffff; min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">{{findEjercicioRutina(data).tituloniveldificultadejercicio}}</ion-label>
                              </div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12">
                              <div class="ion-card-content-ejercicio">
                                <ion-icon style="color: #ffffff;" name="flame"></ion-icon>
                                <ion-label style="color: #ffffff; min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " ><span style="margin-right: 10px;">Tip. Ejer.</span>{{findEjercicioRutina(data).NOMBRETIPOEJERCICIO}}</ion-label>
                              </div>
                            </ion-col>
                          </ion-row>
                          </ion-grid>
                        </ion-card-content>
                      </ion-card>
                  </ion-card-content>
                </div>
              </ion-card>
            </div>
        </div>
      </ion-reorder-group>
    </div>
  </div>

    <!-- SELECT BROWSEABLE DE SELECT BAsic Trainer -->
  <div class="overlay-container-select"  *ngIf="mostrarTrainerBasic">
    <div class="browser">
      <div class="up-title">
        <div class="title-select">
          <p>Entrenadores</p>
        </div>
        <div class="back-select"  >
          <p (click)="toggleVariables()"  >Cancelar</p>
        </div>
      </div>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataTrainerBasic')"   (ionInput)="onInputChange($event,'dataTrainerBasic')" (ionClear)="onInputChange($event,'dataTrainerBasic')"  placeholder="Buscar"></ion-searchbar>
      <!-- <ion-button class="ion-button-select" (click)="go_page('crear-objetivo-personal')"  fill="clear">(+) Agregar Nuevo</ion-button> -->
      <div   class="select-trainer" *ngIf=" selectData && selectData.length >0;else noDataMessage" class="container-overlay">
        <ion-chip *ngFor="let data of selectData" (click)="selectItem(data,'dataTrainerBasic')"
        [class.selected]="selectedTrainerBasic && selectedTrainerBasic.IDPERSONA === data.IDPERSONA" class="ion-chip-mostrar"
        [ngStyle]="{ 'background-color': getColorByValue(data) }">
          <ion-avatar>
            <img src="{{ ip_address }}/media/perfile/{{data.IMAGEPERSONA}}" />
          </ion-avatar>
          <ion-label>{{getfirstName(data.NOMBREPERSONA)}}&nbsp;{{getfirstName(data.APELLDOPERSONA)}}</ion-label>
        </ion-chip>
      </div>
      <ng-template #noDataMessage>
        <ion-list lines="none" >
          <ion-item>Resultado no encontrado</ion-item>
        </ion-list>
      </ng-template>
    </div>
  </div>

   <!-- SELECT BROWSEABLE DE SELECT RUTINAS -->
   <div class="overlay-container-select"  *ngIf="mostrarRutinasporSesion">
    <div class="browser">
      <div class="up-title">
        <div class="title-select">
          <p>Rutinas</p>
        </div>
        <div class="back-select"   >
          <p (click)="cancelarmostrarSelecEjercicio()" >Cancelar</p>
        </div>
      </div>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataRutinasporSesiones')"   (ionInput)="onInputChange($event,'dataRutinasporSesiones')" (ionClear)="onInputChange($event,'dataRutinasporSesiones')"  placeholder="Buscar"></ion-searchbar>
      <ion-button class="ion-button-select" (click)="go_page('rutinas')"  fill="clear">(+) Agregar Nuevo</ion-button>
      <div class="container-overlay">
        <div class="item-video-setup" *ngFor="let option of selectData; let i = index;"
        [class.selected]="dataRutinasporSesionUniq && dataRutinasporSesionUniq.IDRUTINA === option.IDRUTINA">
          <ion-card style="background: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0));">
            <div class="image-container" (click)="selectItem(option,'dataRutinasporSesiones')">
              <img alt="Silhouette of mountains" (click)="selectItem(option,'dataRutinasporSesiones')"  src="{{ ip_address }}/media/rutinas/portadasrutinas/{{option.IMAGENRUTINA}}" class="image"/>
              <div class="filter-overlay"></div>
              <div   class="title-body-left-bottom" >
                <p class="textspan">Creado por  <span>@ {{option.NICKNAMEPERSONA}}</span></p>
                <p class="text2">{{option.NOMBRERUTINA}}</p>
              </div>
              <div class="ion-chip-selected">
                <ion-chip >
                  <div class="ion-item-chip-selected">
                    <ion-label >{{option.DURACIONRUTINA}}</ion-label>
                  </div>
                </ion-chip>
              </div>
            </div>
            <ion-card-header >
              <ion-card-title>
                <p class="text1" (click)="selectItem(option,'dataRutinasporSesiones')">{{option.DESCRIPCIONRUTINA}}</p>
              </ion-card-title>
            </ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-content  (click)="showEjerciciosxItem(option,i)"  >
                    <div class="ion-card-content ">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                        <path d="M9 12l.01 0"></path>
                        <path d="M13 12l2 0"></path>
                        <path d="M9 16l.01 0"></path>
                        <path d="M13 16l2 0"></path>
                    </svg>
                    <p class="text-description">{{option.DESCRIPCIONOBJETIVOSPERSONALES}}</p>
                    </div>
                    <div class="ion-card-content ">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-box-bottom-left-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-12.333 13a1 1 0 0 0 -1 1v2l.007 .117a1 1 0 0 0 1.993 -.117v-2l-.007 -.117a1 1 0 0 0 -.993 -.883zm3 -4a1 1 0 0 0 -1 1v6l.007 .117a1 1 0 0 0 1.993 -.117v-6l-.007 -.117a1 1 0 0 0 -.993 -.883zm3 2a1 1 0 0 0 -1 1v4l.007 .117a1 1 0 0 0 1.993 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor"></path>
                        </svg>
                        <p class="text-description">{{option.NOMBRETIPOEJERCICIO}}</p>
                    </div>
                    <div class="ion-card-content ">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stretching" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M5 20l5 -.5l1 -2"></path>
                        <path d="M18 20v-5h-5.5l2.5 -6.5l-5.5 1l1.5 2"></path>
                    </svg>
                        <p class="text-description">¿Conoce los Ejercicios?</p>
                    </div>
                  </ion-card-content>
                </ion-col>
              </ion-row>
              <ion-row>
                <div  class="item-body-right-bottom"  [ngStyle]="{ 'background-color': option.STATUSRUTINA === 0 ? '#fdfec3' : (option.STATUSRUTINA === 1 ? '#fcfee7' : '#fdfec3') }" >
                  <div>
                    <img class="icono-item-botton" src="{{ ip_address }}/media/images/{{ option.STATUSRUTINA === 0 ? 'noactive.png' : (option.STATUSRUTINA === 1 ? 'check.png' : 'time.png') }}" alt="Imagen Subtítulo">
                    <h2> {{ option.STATUSRUTINA === 0 ? 'Inactivo' : (option.STATUSRUTINA === 1 ? 'Activo' : 'Revisión') }}</h2>
                  </div>
                </div>
              </ion-row>
            </ion-grid>
          </ion-card>
          <div *ngIf="mostrarEjerciciosSelect[i]" [attr.id]="'elemento-destino-' + i" >
            <ion-card class="ion-card-ejercicios">
              <ion-card-header (click)="mostrarEjerciciosSelect[i]=!mostrarEjerciciosSelect[i]">
                <ion-card-title>Ejercicios<ion-icon  name="chevron-expand"></ion-icon></ion-card-title>
              </ion-card-header>
              <div class="ion-card-ejer-content">
                <ion-card-content>
                  <ion-card class="ion-card-ejercicio"  style="margin: 0 auto!important; margin-bottom: 3%; width: 100%;  background-image: linear-gradient(45deg,  #0000008e,#000000a8), url('{{ ip_address }}/multimedia/{{getVideoName(findEjercicioRutina(data).ALMACENAMIENTOMULTIMEDIA)}}.jpg');background-repeat: no-repeat;background-size: cover;" *ngFor="let data of option.IDEJERCICIOS ;" >
                    <div class="ion-chip-selected2">
                      <ion-chip >
                        <div class="ion-item-chip-selected2">
                          <ion-label >{{findEjercicioRutina(data).TIEMPOMULTIMEDIA}}</ion-label>
                        </div>
                      </ion-chip>
                    </div>
                    <div class="ion-activate">
                      <div  class="ion-activate-bottom "   [ngStyle]="{ 'background-color': findEjercicioRutina(data).ESTADOEJERCICIO === 0 ? '#fd8d89b2' : (findEjercicioRutina(data).ESTADOEJERCICIO === 1 ? '#d4f738b2' : '#f8e21fb7') }" >
                        <div>
                          <img class="icono-item-botton-activate" src="{{ ip_address }}/media/images/{{ findEjercicioRutina(data).ESTADOEJERCICIO === 0 ? 'noactive.png' : (findEjercicioRutina(data).ESTADOEJERCICIO === 1 ? 'check.png' : 'time.png') }}" alt="Imagen Subtítulo">
                          <h2> {{ findEjercicioRutina(data).ESTADOEJERCICIO === 0 ? 'Inactivo' : (findEjercicioRutina(data).ESTADOEJERCICIO === 1 ? 'Activo' : 'Revisión') }}</h2>
                        </div>
                      </div>
                    </div>
                    <ion-card-content >
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            <div class="ion-card-content-ejercicio">
                              <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><span style=" font-family: Raleway-Bold;
                                font-size: 1.5rem;
                                color: #ffffff;" class="full-text">{{findEjercicioRutina(data).NOMBREEJERCICIO}}</span></ion-label>
                            </div>
                          </ion-col>
                          <ion-col size="6">
                            <div class="ion-card-content-ejercicio">
                              <ion-icon  style="color: #ffffff;" name="sync"></ion-icon>
                              <ion-label style="color: #ffffff;" >{{findEjercicioRutina(data).REPETICIONESEJERCICIO}}</ion-label>
                            </div>
                          </ion-col>
                          <ion-col size="6">
                            <div class="ion-card-content-ejercicio">
                              <ion-icon style="color: #ffffff;" name="sparkles-outline"></ion-icon>
                              <ion-label style="color: #ffffff;">{{findEjercicioRutina(data).METEJERCICIO}}</ion-label>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <div class="ion-card-content-ejercicio">
                              <ion-icon  style="color: #ffffff;" name="ribbon"></ion-icon>
                              <ion-label style=" color: #ffffff; min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">{{findEjercicioRutina(data).tituloniveldificultadejercicio}}</ion-label>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12">
                            <div class="ion-card-content-ejercicio">
                              <ion-icon style="color: #ffffff;" name="flame"></ion-icon>
                              <ion-label style="color: #ffffff; min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " ><span style="margin-right: 10px;">Tip. Ejer.</span>{{findEjercicioRutina(data).NOMBRETIPOEJERCICIO}}</ion-label>
                            </div>
                          </ion-col>
                        </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>
                </ion-card-content>
              </div>
            </ion-card>
          </div>
        </div>
      </div>
      <ng-template #noDataMessage>
        <ion-list lines="none" >
          <ion-item>Resultado no encontrado</ion-item>
        </ion-list>
      </ng-template>
    </div>
  </div>


    <!-- SELECT BROWSEABLE DE SELECT USERS -->
    <div class="overlay-container-select"  *ngIf="mostrarUsuariosBasic">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Usuarios</p>
          </div>
          <div class="back-select"  (click)="toggleVariables()" >
            <p (click)="canceldataUsuariosBasic()" >Cancelar</p>
            <h1 (click)="confirmdataUsuariosBasic()" >OK</h1>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataTrainerBasic')"   (ionInput)="onInputChange($event,'dataTrainerBasic')" (ionClear)="onInputChange($event,'dataTrainerBasic')"  placeholder="Buscar"></ion-searchbar>
        <!-- <ion-button class="ion-button-select" (click)="go_page('crear-objetivo-personal')"  fill="clear">(+) Agregar Nuevo</ion-button> -->
        <div *ngIf=" selectData && selectData.length >0;else noDataMessage" class="container-overlay" >
          <ion-checkbox justify="space-between" *ngFor="let data of selectData" [ngStyle]="{ 'background-color': getColorByValue(data) }" (ionChange)="handleCheckboxChange(data, $event)" [checked]="isCheckboxSelected(data)">
            <ion-chip class="ion-chip-mostrar ">
              <ion-avatar>
                <img *ngIf="data.IMAGEPERSONA" src="{{ ip_address }}/media/perfile/{{data.IMAGEPERSONA}}" />
                <img *ngIf="!data.IMAGEPERSONA" src="{{ ip_address }}/media/images/user-pg.png"  style=" background: radial-gradient(circle, #ffffff, #e5e5e5);"/>
              </ion-avatar>
              <ion-label>{{getfirstName(data.NOMBREPERSONA)}}&nbsp;{{getfirstName(data.APELLDOPERSONA)}}</ion-label>
            </ion-chip>
          </ion-checkbox>
        </div>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
</ion-content>
<ion-footer *ngIf="showheader">
  <div *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99;else otherfooter">
    <app-footer-designer ></app-footer-designer>
  </div>
  <ng-template #otherfooter>
    <app-footer-designer-trainer *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===2"></app-footer-designer-trainer>
  </ng-template>
</ion-footer>
