<ion-toolbar class="toolbar-footer">
  <ion-grid class="container-footer">
    <ion-row>
      <ion-col (click)="go_page('activate-entrenadores')"  size="3" class="image-container-footer active-element1">
        <div class="notification-dot"></div>
        <img class="icono-image" src="{{ ip_address }}/media/images/edituser_gris.png" alt="Icono de mi app">
        <ion-label class="label-footer">Usuarios</ion-label>
      </ion-col>
      <ion-col (click)="go_page('control-multimedia')" size="3" class="image-container-footer active-element2 ">
        <div class="notification-dot"></div>
        <ion-img class="icono-image" src="{{ ip_address }}/media/images/multimedia.png"></ion-img>
        <ion-label class="label-footer">Multimedia</ion-label>
      </ion-col>
      <ion-col size="3" class="image-container-footer active-element3 ">
        <div class="notification-dot"></div>
        <ion-img class="icono-image" src="{{ ip_address }}/media/images/notificacion.png"></ion-img>
        <ion-label class="label-footer">Inicio</ion-label>
      </ion-col>
      <ion-col (click)="go_page('perfile')" size="3" class="image-container-footer active-element4 ">
        <div class="notification-dot"></div>
        <ion-img class="icono-image" src="{{ ip_address }}/media/images/profile-gris.png"></ion-img>
        <ion-label class="label-footer">Cuenta</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
