ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  var(--background-ip-address)  no-repeat center center / cover;
  height: 100vh;
  overflow: hidden;
  padding: 0% 0% 0% 0%;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 123, 123, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
// icono de close (X) y back (<)
.onboard-top{
  padding: 15% 6% 3% 6%;
  margin-top:0%;
  width: 100%;
  ion-toolbar{
    --background: linear-gradient(to right, #dfd5ff 12.5%, #eee9fe 12.5%);
    border-radius: 40px;
    box-shadow: 0px 2px 4px #ac89fc3f;
    ion-buttons{
      ion-button{
        border-radius: 40px;
        background-color: #ffffffd7;
        color: #ac89fc;
      }
    }

  }
}

//css de de barra de estado de proceso
.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Raleway-Medium;
  color: #9259f9;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.line{
  border-radius: 40px;
  width: 70%;
  height: 10px;
  margin-top: 10%;
  margin: 0 auto;
  margin-top: 5%;
  background-image: linear-gradient(to right, #626be8 12.5%, #d7d7e1 12.5%);
}

.heading{
  padding: 5% 0% 3% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-family: Raleway-Light;
    font-size: 1.6rem;
    color: #535353;
    margin: 0 auto;
  }
  p{
    font-family: Raleway-Medium;
    font-size: 1rem;
    color: #7b7b7b;
    margin: 0 auto;
  }
}
.heading h1, .heading p {
  margin: 0;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
  padding: 6% 6% 0 6%;
  .form-input{
    position: relative;
    margin-bottom: 3%;
    ion-item::part(native){
      padding-left: 0;
    }

    ion-label{
      margin-bottom: 2%;
      font-family:Raleway-Light ;
      color: #535353;
      padding: 1%;
      display: none;
    }
    ion-label.show {
      display: block;
    }
    ion-input{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.076);
      text-align: left;
      --padding-top: 5%; /* ajusta el valor de acuerdo a tu preferencia */
      --padding-bottom: 5%;
      --border-width: 0px;
      border-radius: 10px;
      background-color: #f1f5fe;
      font-size: 1.15rem;
      color: #999898c2;
      --padding-start:20px;
      --padding-end:20px;
      ion-icon{
        position: absolute;
        right: 10px;
        font-size: 150%;
        top: 25%;
        color: #dc35468c;
        display: none;
        pointer-events: stroke;
        z-index: 2;
      }
      ion-icon.show{
        display: block;
      }
    }
  }
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 6% 0% 6%;
/*   position: fixed;
  bottom: 28%;
  width: 100%; */
  ion-button {
    --border-radius: 10px;
    --background:#6069e8;
    --padding-top: 7%; /* ajusta el valor de acuerdo a tu preferencia */
    --padding-bottom: 7%;
    width: 100%;
    font-family: Raleway-Light;
    font-size: 120%;
    color: #fff;
  }
}

/* .buttonNotNow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6% 6% 0% 6%;
  position: fixed;
  bottom: 15%;
  width: 100%;
} */

.line-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px; /* ajusta según sea necesario */
  padding-left: 7%;
  padding-right: 7%;
}

.line-bottom {
  width: 100%;
  height: 1px;
  background-color: #7b7b7b;
}

.circle-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* ajusta según sea necesario */
  width: 30px; /* ajusta según sea necesario */
  height: 30px; /* ajusta según sea necesario */
  border-radius: 50%;
  background-color: white;
  margin: 0 10px; /* ajusta según sea necesario */
  color: #7b7b7b;
}
.button-container {
  display: flex;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
  padding-bottom: 6%;
}

.button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
}

.button img {
  max-width: 100%;
  max-height: 100%;
}

.full-screen-div {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff; /* Color del texto */
  text-align: center; /* Alineación del texto */
  padding: 20px; /* Espaciado interno del div */
  z-index: 99999;
}

.container-body{
  position: relative; /* Puedes usar 'absolute' si quieres que sea superpuesto a otros elementos */
  width: 80%; /* O el tamaño que desees */
  height: auto; /* O el tamaño que desees */
  background-color: rgba(77, 98, 223, 0.5); /* Color de fondo con transparencia */
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainHeading {
  text-align: center;
  color: #ffffff;
  font-family: Raleway-Medium;
  font-size: 1.5rem;
  margin: 5% 0% 0% 0%;
  padding: 3% 0% 0% 0%;
}

.otpSubheading {
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  font-family: Raleway-Light;
  font-size: 1.2rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  svg{
    color: #ffffff;
    width: 16%;
    height: auto;
  }
}

.otp-input {
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: 7vh;
  text-align: center;
  border: none;
  border-radius: 7px;
  caret-color: rgb(127, 129, 255);
  color: rgb(44, 44, 44);
  outline: none;
  color: #ffffff;
  font-family: Raleway-Medium;
  font-size: 2rem;
}

.otp-input:focus,
.otp-input:valid {
  background-color: rgba(127, 129, 255, 0.199);
  transition-duration: .3s;
}

.verifyButton {
  padding: 5% 0%;
  width: 100%;
  height: auto;
  border: none;
  color: white;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.2s;
  font-family: Raleway-Light;
  font-size: 1.8rem;
  margin: 8% 0% 0% 0%;
}

.ptext{
  padding: 0;
  margin: 0;
  color: white;
  font-family: Raleway-ThinItalic;
  font-size: 1.2rem;
}
.verifyButton:hover {
  background-color: #7f81ff;
  color: #ffffff;
  border: none;
  transition-duration: .2s;
}

.exitBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
  //background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Raleway-Medium;
  font-size: 2.3rem;
  cursor: pointer;
}

.resendBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 700;
  z-index: 999999999;
}

.ion-input {
  text-transform: uppercase;
}
