ion-content {
  --background: linear-gradient(0deg, #ffffff, #bea6ff);
}
.container-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}
.tab-content{
  width: 94%;
  margin: 0% 2%;
  padding: 6% 6%;
  background-color: #ffffffab;
  border-radius: 15px ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  ion-list{
    background-color: transparent;
    h1{
      text-align: center;
      font-family: Raleway-Bold;
      font-size: 1.2rem;
      color: #524f52;
      margin: 0px;
      padding: 0px;
    }
    p{
      text-align: center;
      font-family: Raleway-Light;
      font-size: .9rem;
      margin: 3% 0% 3% 0%;
      padding: 0px;
      color: #6b6a6b;
    }
    ion-label{
      font-family: Raleway-Bold;
      font-size: 1rem;
      display: inline-block;
    }
  }
}

.input-wrapper{
  margin: 3% 0% 3% 0%;
  display: grid;
  grid-template-columns: 10fr 2fr; /* 11 columnas para el input, 1 columna para el icono */
  align-items: center;
  justify-content: center!important;
  border-radius: 20px;
  width: 100%;
  background-color: #bdbdbd81;
  .input-password{
    ion-input{
      color: #524f52;
      padding-left: 20px !important;
      font-family: Raleway-Medium;
      font-size: 1.1rem;
    }
  }
  .input-icon{
    justify-content: center;
    text-align: center;
    align-items: center;
    ion-icon{
      width: 23px;
      height: 23px;
    }
  }
}

.password-instruccion{
  background-color: transparent;
  border: #dedede solid 1px;
  border-radius: 15px;
  padding: 5%;
  margin: 1px;
  text-align: start!important;
  h1{
    text-align: start!important;
    font-family: Raleway-Light;
    font-size: 1.1rem;
    color: #524f52!important;
    span{
      text-align: start!important;
      font-family: Raleway-Light ;
      font-size: 1rem;
      color: #524f52!important;
    }
  }
}

.buttons-tab1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
