<ion-content [fullscreen]="true">
  <div class="container-body">
    <div class="tab-content" >
      <ion-list  >
        <h1>Seguridad</h1>
        <p>Cambiar la Contraseña</p>
        <div>
          <ion-label>Ingrese Contraseña:</ion-label>
          <div class="input-wrapper">
            <div class="input-password">
              <ion-input placeholder="Ingrese Contraseña" [type]="passwordType1" name="password" [(ngModel)]="password" required></ion-input>
            </div>
            <div class="input-icon" (click)="togglePassword(1)">
              <ion-icon [name]="passwordIcon1"></ion-icon>
            </div>
          </div>
        </div>

        <div>
          <ion-label>Confirmar Contraseña:</ion-label>
          <div class="input-wrapper">
            <div class="input-password">
              <ion-input placeholder="Ingrese Contraseña" [type]="passwordType2" name="password" [(ngModel)]="confirmPassword" required></ion-input>
            </div>
            <div class="input-icon" (click)="togglePassword(2)">
              <ion-icon [name]="passwordIcon2"></ion-icon>
            </div>
          </div>
        </div>
        <div class="password-instruccion">
          <h1>Rercuerda que debe tener:</h1>
          <h1>• <span>+  8 caracteres </span></h1>
          <h1>• <span>+  1 simbolo </span></h1>
          <h1>• <span>+  1 mayuscula</span></h1>
          <h1>• <span>+  1 número</span></h1>
        </div>
        </ion-list>
        <div class="buttons-tab1" *ngFor="let option of dataPerfil" >
          <ion-button (click)="cancelarButton()"  class="ion-buttons-1" fill="clear">Cancelar</ion-button>
          <ion-button  (click)="updateNewPassword(option)" class="ion-buttons-2" fill="clear">Guardar</ion-button>
        </div>
    </div>
  </div>
</ion-content>
