ion-content {
  --background: linear-gradient(0deg, #232123, #232123);
  height: 100vh;
  overflow: hidden;
}
//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.video-container {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 50vh; /* El video ocupa el 40% de la altura de la pantalla */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #232123, #23212357, #ffffff6b, #232123);

}

.top-left-button {
  //background-color: rgba(255, 255, 255, 0.548);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.top-right-button {
  //-color: rgba(255, 255, 255, 0.548);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.bottom-right-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  diV{
    //background-color: rgba(255, 255, 255, 0.548);
    color: rgb(255, 255, 255);
    border-radius: 50%;
  }
}
.bottom-left-button{
  position: absolute;
  bottom: 20px;
  padding-right: 20%;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  h1{
    font-family: Raleway-Bold;
    font-size: 1.5rem;
    color: #ffffffbb;
  }
}

.container-body{
  padding: 5% 6% 0% 6%;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}
.item-container{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.item-icon{
  margin-right: 10px;
}
.item-text{
  h2{
    font-family: Raleway-Light;
    font-size: 1rem;
  }
}
.item-text-description{
  padding-top: 5%;
  font-family: Raleway-Light;
  font-size: .9rem;
}

.item-icon.align-top {
  align-self: flex;
}

.container-button{
  ion-button{
    background-color: #ffffff; /* Cambiar el color de fondo */
    border-radius: 30px; /* Agregar bordes redondeados */
    height: 55px; /* Aumentar la altura */
    padding: 10px 20px; /* Agregar padding */
    margin: 0% 10%;
    color: #232123; /* Cambiar el color del texto */
    font-family: Raleway-Medium;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}

.half-width-button {
  margin: 0 auto;
  flex-basis: 50%;
  font-family: Raleway-Bold;
  font-size: 1rem;
  color: #7953d098;
}
