<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <div class="onboard-top" >
    <ion-toolbar>
      <p class="header-p">PASO 2/8</p>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  (click)="goHome()">
          <ion-icon name='close-outline' slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div class="heading">
    <h1>Ahora configuremos</h1>
    <p>tu contraseña</p>
  </div>
  <form [formGroup] = "formularioLogin">
  <div class="password-container">
    <div class="form-input form-input-passsword" style=" background-color: #f1f5fe; border-radius: 10px;">
      <div>
        <ion-input formControlName="password" type="{{ passwordType }}" placeholder="Ingrese Contraseña" > </ion-input>
      </div>
      <div (click)="togglePassword()">
        <ion-icon  name="{{ passwordIcon }}"  slot="end"></ion-icon>
      </div>
    </div>
    <ion-row>
      <ion-col size="3">
        <div class="lineVerificate" [ngClass]="{ 'lineVerificate': true, 'checking': validationStatus.length }"></div>
      </ion-col>
      <ion-col size="3">
        <div class="lineVerificate" [ngClass]="{ 'lineVerificate': true, 'checking': validationStatus.symbol }"></div>
      </ion-col>
      <ion-col size="3">
        <div class="lineVerificate " [ngClass]="{ 'lineVerificate': true, 'checking': validationStatus.uppercase }"></div>
      </ion-col>
      <ion-col size="3">
        <div class="lineVerificate " [ngClass]="{ 'lineVerificate': true, 'checking': validationStatus.number }"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <p [ngClass]="{ 'checkingText': validationStatus.length }" >+  8 caracteres</p>
        <p [ngClass]="{ 'checkingText': validationStatus.symbol }">+1 simbolo</p>
      </ion-col>
      <ion-col size="6">
        <p [ngClass]="{ 'checkingText': validationStatus.uppercase }">+1 mayuscula</p>
        <p [ngClass]="{ 'checkingText': validationStatus.number }">+1 número</p>
      </ion-col>
    </ion-row>
    <div class="form-input">
      <ion-input   formControlName="passwordConfirm"  type="{{ passwordTypeCnf }}" placeholder="Confirmar Contraseña" >
        <ion-icon  name="{{ passwordIconConf }}"  slot="end" (click)="togglePasswordConf()"></ion-icon>
      </ion-input>
    </div>
  </div>
  </form>
  <div class="container-button">
    <div class="buttons">
      <ion-button id="continueBtnPB" [disabled]="formularioLogin.hasError('mismatch')" (click)="go_nextPage()">Continuar</ion-button>
    </div>
    <div class="buttonNotNow" (click)="goBack()"  style="padding: 5% 0% 5% 0%;"  >
      <ion-button (click)="goBack()"  style="padding: 5% 0% 5% 0%;" fill="clear">Atras</ion-button>
    </div>
</div>
</ion-content>
