ion-content {
  --background: linear-gradient(0deg, #f0f3f7, #ffffff);
  height: 100vh;
  overflow: hidden;
}
ion-header{
  background: transparent;
  box-shadow: none;
}
ion-header::after{
  //height: 0px;
  box-shadow: none;
  background: transparent;
}
//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.container-body{
  padding: 0% 0% 10% 0%;
  //background-color: #5660f5;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  justify-content: center;
  align-content: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: block;
  justify-content: center;
  align-content: center;
}

.box {
  margin-bottom: 10px; /* Añadido margen inferior para separar las cajas */
  display: inline-block;
  width: 31.33%;
  height: 100px;
  margin: 0% 1% auto;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);

}
.postbox{
  justify-content: center;
  align-content: center;
  align-items: center;
}
.text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  text-align: left;
  overflow: hidden;
}

.text span {
  display: block;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.span1{
  font-family: Raleway-Medium;
  font-size: .8rem;
  color:  #eee9fe;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.span2{
  font-family: Raleway-Bold;
  font-size: 1rem;
  color:  #ffffffe7;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 8px;
  color: rgb(255, 255, 255);
}

.container-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 3%;
  span{
    color: #6829c793;
    font-family: Raleway-Bold;
    font-size: 1.2rem;
  }
}
.subtitle{
  padding-left: 0%;
  //border-bottom: 2px solid #53525353;
  span{
    color:  #53525371;
    font-family: Raleway-Bold;
    font-size: 1.2rem;
  }
}
.subtitle2{
  font-family: Raleway-Bold;
  font-size: 1.2rem;
  color: #78757c93;
}
.right-text {
  margin-left: auto;
  padding-right: 8%;
  font-family: Raleway-Bold;
  font-size: .8rem;
  color:  #6829c793;

}

.item-container{
  margin-top: 3%;
  padding: 1% 0% 0% 0%;
  //background-color: #a073e293;
  //border-radius: 15px;
  //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.item-container:first-child {
  margin: 0% 3%!important;
  margin-top: 0%;
  //background-color: #6829c793;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  .subtitle{
    //padding: 0%!important;
    background-color: #f6f3ff;
    padding: 3% 2%;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    span{
      margin-left: 3%;
      color: #621eb9;
    }
  }
  .postbox{
    padding: 2% 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #eee9fe;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}
.item-container:nth-child(2) {
  margin: 0% 3%!important;
  margin-top: 0%;
  //background-color: #6829c793;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  .subtitle{
    //padding: 0%!important;
    background-color: #ded5ff;
    padding: 3% 2%;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    span{
      margin-left: 3%;
      color: #621eb9;
    }
  }
  .postbox{
    padding: 2% 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #c7b4fe;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

.item-container:nth-child(3) {
  margin: 0% 3%!important;
  margin-top: 0%;
  //background-color: #6829c793;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  .subtitle{
    //padding: 0%!important;
    background-color: #ac89fc;
    padding: 3% 2%;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    span{
      margin-left: 3%;
      color: #ffffff;
    }
  }
  .postbox{
    padding: 2% 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #9259f9;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

.item-container:nth-child(4) {
  margin: 0% 3%!important;
  margin-top: 0%;
  //background-color: #6829c793;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  .subtitle{
    //padding: 0%!important;
    background-color: #ac89fc;
    padding: 3% 2%;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    span{
      margin-left: 3%;
      color: #ffffff;
    }
  }
  .postbox{
    padding: 2% 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #c7b4fe;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}


.item-container:nth-child(5) {
  margin: 0% 3%!important;
  margin-top: 0%;
  //background-color: #6829c793;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  .subtitle{
    //padding: 0%!important;
    background-color: #ded5ff;
    padding: 3% 2%;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    span{
      margin-left: 3%;
      color: #621eb9;
    }
  }
  .postbox{
    padding: 2% 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #eee9fe;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}


.item-container:nth-child(6) {
  margin: 0% 3%!important;
  margin-top: 0%;
  //background-color: #6829c793;
  border-radius: 15px 15px 15px 15px;
  padding: 0;
  .subtitle{
    //padding: 0%!important;
    background-color: #ded5ff;
    padding: 3% 2%;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    span{
      margin-left: 3%;
      color: #621eb9;
    }
  }
  .postbox{
    padding: 2% 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #c7b4fe;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}
.tipeSuscription{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  border-radius: 15px 0px 15px 0px;
  width: 60%;
  svg{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  h1{
    margin: 0 auto;
    font-family: Raleway-BoldItalic;
    font-size: .7rem;
    margin-right: 10%;
  }
}
