ion-content {
  --background: linear-gradient(0deg, #ffffff, #f2f3f8);
  height: 100vh;
  overflow: hidden;
}
//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.container-body{
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10%;
}
.container-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0e8ff;
}
.subtitle{
  font-family: Raleway-Bold;
  font-size: 1.2rem;
  color:  #5921a8;
  padding-left: 8%;
  text-align: 0 2px 4px rgba(0, 0, 0, 0.384);
}

.right-text {
  margin-left: auto;
  padding-right: 8%;
  font-family: Raleway-ExtraBold;
  font-size: 1rem;
  color:  #5921a8;

}
.container-procesosquedados {
  width: 100%;
  padding-bottom: 2%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 3%;
  //background: #ffffff;
  padding-top: 3%;
  margin-left: 3%;
  border-radius: 10px 0px 0px 10px;
  //box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.048);
}
.container-entrenadores{
  width: 100%;
  padding: 3% 5%;
}
.box-container-entrenadores{
  display: inline-block;
  width: 130px;
  height: auto;
  margin-right: 10px;
  padding-bottom: 3%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  padding-bottom: 2%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 5%;
  background: #f0e8ff;
  padding-top: 3%;
  border-radius: 10px;
  //box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.048);
}


.box {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-right: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}
.box-recomendacion {
  display: inline-block;
  width: 230px;
  height: 130px;
  margin-right: 10px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  text-align: left;
  overflow: hidden;
}
.text-demo {
  position: absolute;
  bottom: 0;
  right:  0;
  padding-right: 2%;
  color: #fff;
  text-align: right;
  overflow: hidden;
  .span2-demo{
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: LLGR;
      font-size: 3.1rem;
      color:  #9159f9c2;
      word-break: break-all;
      .spanh1{
        font-size: 3.1rem;
        font-family: LLGR;
        color:  #ffffffc2;
        word-break: break-all;
      }
  }
}
.text-demo-2 {
  position: absolute;
  top: 0;
  left:  0;
  padding-left: 2%;
  color: #fff;
  text-align: right;
  overflow: hidden;
  .span2-demo-2{
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: LLGR;
      font-size: 1.8rem;
      color:  #9159f9c2;
      word-break: break-all;
      .spanh1-2{
        font-size: 1.8rem;
        font-family: LLGR;
        color:  #ffffffc2;
        word-break: break-all;
      }
  }
}
.text-demo-left {
  position: absolute;
  bottom:  0;
  left:  0;
  padding-left: 4%;
  color: #fff;
  text-align: left;
  display: block;
  p{
    padding: 0!important;
    margin: 0!important;
    font-family: LLGR;
    font-size: 1.6rem;
    color:  #ffffff9c;
    word-break: break-all;
    span{
      color:  #9159f99c;
      font-family: LLGR;
      font-size: 1.6rem;
      word-break: break-all;
    }
  }
}


.text span {
  display: block;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.span1{
  font-family: Raleway-Bold;
  font-size: 1.2rem;
  color:  #ffffffaf;
  word-break: break-all;
}
.span2{
  font-family: Raleway-Bold;
  font-size: 1rem;
  color:  #838284e7;
  word-break: break-all;
}


.icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 8px;
  color: rgb(255, 255, 255);
}

.header-up{
  padding: 0% 6% 0% 6%;
  display: block;
  justify-content: center;
  align-items: center;
  .up-date{
    margin: 0px;
    padding: 0px;
    ion-icon{
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #8c7efc;
      margin-right: 10px;
      width: 19px;
      height: 19px;
    }
    span{
      font-family: Raleway-bold;
      font-size: 1rem;
      color: #8c7efc;
    }
  }
  .header-name{
    margin: 0px;
    padding: 0px;
    h1{
      font-family: Raleway-ExtraBold;
      font-size: 2rem;
      color: #535253;
    }
  }
}


.container-swiper{
  display: flex;
  min-width: 100%;
  width: 90%;
  padding: 0% 5%;
}
.slide-content {
  height: 100%;
  position: relative;
}

.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}

.slide-content h2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 5% 5% 0% 5%;
  font-family: LLGR;
  font-size: 2.1rem;
  color:  #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
  span{
    font-family: LLGR;
    font-size: 1.8rem;
    color:  #5660f5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
  }
}
.slide-content p {
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: white;
  padding: 0% 5% 7% 5%;
  font-family: Raleway-Light;
  font-size: 1rem;
  color:  #ffffff;
  //text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 8px;
  color: rgb(255, 255, 255);
}



.onb-container {
  margin: 0 auto;
  background-color:transparent;
  --background: transparent;
  margin-top: 5%;
  margin-bottom: 0%;
  border-radius: 15px;
}
.onb-container-1{
  width: 100vw!important;
  height: 350px;
}
.onb-container-2{
  width: 100vw!important;
  height: 250px;
}
.onb-container-3{
  width: 100vw!important;
  height: 250px;
}
.onb-slide{
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.055)); /* Cambia el color y la opacidad según tus necesidades */
}

.text-container-entrenadores{
  display: block;
  padding: 3% 0% 0% 3%;
  margin: 0;
  p{
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    font-family: LLGR;
    color:  #ffffffe3;
  }
  h1{
    text-align: center;
    background-color: #ffffff9f;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    width: 50%;
    margin: 0% 3% 0% 47%;
    padding: 2% 0% 2% 0%;
    //border: solid 2px #fff;
    color: #9259f9;
    font-family: Raleway-Medium;
    font-size: 1.2rem;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.048);
  }
}
