<ion-content [fullscreen]="true" class="background-content">
  <div class="loading-overlay" *ngIf="loading">
      <app-loading></app-loading>
  </div>
  <div class="header-up">
    <div class="up-date">
      <ion-icon name="sunny-outline"></ion-icon>
      <span class="date">{{ currentDate }}</span>
    </div>
    <div class="header-name">
      <h1>hola,
        <ng-container *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0].NOMBREPERSONA">
          {{ convertirAMinusculas(obtenerPrimerNombre(userSesionPerfil[0].NOMBREPERSONA)) }}
        </ng-container>
      </h1>
    </div>
  </div>
  <div class="container-body">
    <!-- <div><h2 class="subtitle" >Recomendación</h2></div> -->
    <div><h2 class="subtitle" *ngIf="dataprocesosQuedados && dataprocesosQuedados.length>0">Continua donde lo dejaste</h2></div>
    <div class="container-procesosquedados">
      <div class="box box-procesosquedados" *ngIf="dataprocesosQuedados && dataprocesosQuedados.length===0" (click)="go_page('listar-ejercicios')"  style="background-image: linear-gradient(0deg,  #0000008e,#0000007c), url('{{ ip_address }}/media/images/retomar.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;" >
        <div class="text-demo" >
          <span class="span2-demo"  style="display: flex; align-items: center;">
            MÁS LEJOS</span>
        </div>
        <div class="text-demo-2" >
          <span class="span2-demo-2"  style="display: flex; align-items: center;">
            LLEVA TUS&nbsp;<span class="spanh1-2">LIMITES</span></span>
        </div>
      </div>
      <div class="box box-procesosquedados" *ngFor="let item of dataprocesosQuedados;let i=index;" (click)="goEjercicioUniqWithDates(item,'ejercicio-uniq')" [style.background-image]="'linear-gradient(0deg, #0000008e, #0000007c), url(' + ip_address + '/' + (item.IDSESION ? 'media/sesiones/portadassesiones/' + item.IMAGESESION : (item.IDRUTINA ? 'media/rutinas/portadasrutinas/' + item.IMAGENRUTINA : 'multimedia/' + getVideoName(item.ALMACENAMIENTOMULTIMEDIA) + '.jpg')) + ')'"
      style="background-repeat: no-repeat;background-size: cover;background-position: center;">
        <div class="container-porcentaje" >
          <div [style.width.%]="item.progress_percentage">
          </div>
          <p> {{redondearNumero(item.progress_percentage)}} %</p>
        </div>
        <div class="clean" (click)="confirmcleandatahistory(item,i); $event.stopPropagation();">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eraser" width="24" height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19 20h-10.5l-4.21 -4.3a1 1 0 0 1 0 -1.41l10 -10a1 1 0 0 1 1.41 0l5 5a1 1 0 0 1 0 1.41l-9.2 9.3"></path>
            <path d="M18 13.3l-6.3 -6.3"></path>
         </svg>
        </div>
        <div class="text-demo" >
          <span class="span2-demo-rigth-2"  >
            {{item.IDSESION?item.NOMBRESESION:(item.IDRUTINA?item.NOMBRERUTINA:item.NOMBREEJERCICIO)}}</span>
        </div>
        <div class="text-demo-2" >
          <span class="span2-demo-rigth"  style="display: flex; align-items: center;">
            {{item.IDSESION?'Prog.Rutinas':(item.IDRUTINA?'Rutinas':'Ejercicio')}}</span>
        </div>
      </div>
    </div>
    <div><h2 class="subtitle" style="padding: 0% 0% 0% 8%!important;" >recomendación</h2></div>
    <swiper-container #slides class="onb-container-recomendacion"  [loop]="true" effect="coverflow" [autoplay]="{ delay: 1000 }" [loopAdditionalSlides]="4">
      <swiper-slide class="onb-slide-recomendacion"  *ngFor="let item of dataRecomendacion" (click)="item.PREMIER && item.PREMIER ==='Premium'? MessagePremium():go_page_create_rutina(item,'rutinas-diarias')"  >
        <div class="slide-content-recomendacion">
          <div class="tipeSuscription">
          </div>
          <div class="tipeSuscription-svg">
            <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Suscripto'; else otherpremium">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
              </svg>
            </ng-container>
            <ng-template #otherpremium>
              <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Gratis'; else otherotherpremium">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-free-rights" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                  <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75"></path>
                  <path d="M12 7v2"></path>
                  <path d="M12 15v2"></path>
                  <path d="M6 6l1.5 1.5"></path>
                  <path d="M16.5 16.5l1.5 1.5"></path>
                </svg>
              </ng-container>
                <ng-template #otherotherpremium>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rosette-filled" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z" stroke-width="0" fill="currentColor"></path>
                  </svg>
                </ng-template>
            </ng-template>
          </div>
          <h2 >
            {{item.NOMBRERUTINA}}</h2>
          <img  [src]="ip_address + '/media/rutinas/portadasrutinas/' + item.IMAGENRUTINA" />
          <div class="filter-overlay-recomendacion"></div>
        </div>
      </swiper-slide>
    </swiper-container>
    <div><h2 class="subtitle" >tipo de entrenamientos</h2></div>
    <swiper-container #slides [loop]="true" effect="fade" [autoplay]="{ delay: 1000 }" [loopAdditionalSlides]="4" class="container-t-entrenamientos">
      <ng-container *ngFor="let item of dataTEjercicioAll; let i = index">
        <ng-container *ngIf="i % 2 === 0">
          <swiper-slide  class="swiper-container-t-entrenamientos">
            <ion-grid>
              <ion-row>
                <ion-col size="6" (click)="selectSwiper(item,'listar-parametros')">
                  <div class="my-div">
                    <img [src]="ip_address + '/media/tipoEjercicio/' + item.IMAGETIPOEJERCICIO" />
                    <h2>{{item.NOMBRETIPOEJERCICIO}}</h2>
                  </div>
                </ion-col>
                <ion-col size="6" *ngIf="dataTEjercicioAll[i + 1]" (click)="selectSwiper(dataTEjercicioAll[i + 1],'listar-parametros')">
                  <div class="my-div">
                    <img [src]="ip_address + '/media/tipoEjercicio/' + dataTEjercicioAll[i + 1].IMAGETIPOEJERCICIO" />
                    <h2>{{dataTEjercicioAll[i + 1].NOMBRETIPOEJERCICIO}}</h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </swiper-slide>
        </ng-container>
      </ng-container>
    </swiper-container>
    <div><h2 class="subtitle" >descubre más</h2></div>
    <div class="countEjercicios">
      <swiper-container #slides class="onb-container onb-container-1"  [loop]="true" effect="lazy" [autoplay]="{ delay: 1000 }" [loopAdditionalSlides]="4">
        <swiper-slide  (click)="go_page('listar-ejercicios-all')">
          <div class="image-container">
            <img [src]="ip_address+'/media/images/mostrarEjercicios.jpg'" alt="AllEjercicios" >
            <div class="filter-overlay-img" style=" left: 0;background: linear-gradient(0deg, #c7b4fe7e, hsla(0, 0%, 0%, 0.467));"></div>
            <div class="text-overlay-image-first-child" style="left: 8%; text-align: start;">{{totalEjercicio && totalEjercicio[0].total_datos}} de Ejercicios para Empezar tu Entrenamietno</div>
          </div>
        </swiper-slide>
        <swiper-slide (click)="go_page('listar-rutinas-all')">
          <div class="image-container">
            <img [src]="ip_address+'/media/rutinas/mostrarRutinas.jpg'" alt="AllRutinas">
            <div class="filter-overlay-img" style="transform: scale(-1);background: linear-gradient(0deg, #00000077, #c7b4fe7e);"></div>
            <div class="text-overlay-image-first-child" style="right: 8%;text-align: end;">Mas de {{totalRutinas && totalRutinas[0].total_datos}}  Rutinas  para Ti</div>
          </div>
        </swiper-slide>
        <swiper-slide (click)="go_page('listar-sesiones-all')" >
          <div class="image-container">
            <img [src]="ip_address+'/media/sesiones/mostrarSesiones.jpg'" alt="AllSesiones">
            <div class="filter-overlay-img"  style="transform: scale(-1);background: linear-gradient(0deg, #000000da, #c7b4fe7e);"></div>
            <div class="text-overlay-image-first-child" style="right: 8%; text-align: end;">Más de {{totalSesiones && totalSesiones[0].total_datos}} Sesiones de Rutinas</div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div><h2 class="subtitle" >entrenadores</h2></div>
    <div class="container-entrenadores">

      <div class="box-container-entrenadores" (click)="go_page('contrato-entrenador')"  >
        <div class="background-image"  style="width: 100%!important ; background-image: linear-gradient(0deg,  #000000af,#f1f3f80e), url('{{ ip_address }}/media/images/collage_trainers.png');
        background-repeat: no-repeat;background-size: cover;background-position: center;"></div>
        <div class="text-container-entrenadores">
          <h1>Conocer más</h1>
        </div>
      </div>
    </div>
    <div class="container-text">
      <h2 class="subtitle">guardados</h2>
      <div class="right-text" (click)="go_page('listar-guardados')">
        <span>VER TODOS</span>
      </div>
    </div>
    <div class="container" style="margin-top: 0%;" *ngIf="dataRutinas && dataRutinas.length > 0 || dataSesiones && dataSesiones.length > 0 || dataOPersoales && dataOPersoales.length > 0 || dataTEjercicio && dataTEjercicio.length > 0  || dataOMusculares && dataOMusculares.length > 0 || dataEjercicio && dataEjercicio.length > 0 ">
      <div class="box"  (click)="goEjercicioUniq(item,'ejercicio-uniq')" *ngFor="let item of  (dataEjercicio?.slice(0, 3) || [])"  style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/multimedia/{{getVideoName(item.ALMACENAMIENTOMULTIMEDIA)}}.jpg');background-repeat: no-repeat;background-size: cover;" >
        <div class="icon-wrapper" (click)="toggleBookmarkEjercicio(item.IDEJERCICIO); $event.stopPropagation()" *ngIf="!bookmarkState[item.IDEJERCICIO]; else otherbookmarkEjercicio">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
        </svg>
        </div>
        <ng-template #otherbookmarkEjercicio>
          <div class="icon-wrapper" (click)="toggleBookmarkEjercicio(item.IDEJERCICIO); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
          </svg>
          </div>
        </ng-template>
        <div class="text " >
          <span class="span1 ">{{recortarPalabras(item.NOMBREEJERCICIO,3)}}</span>
          <span class="span2 "  style="display: flex; align-items: center;">
            EJERCICIO</span>
        </div>
      </div>
      <div class="box" (click)="go_page_create_rutina(item,'rutinas-diarias')" *ngFor="let item of  (dataRutinas?.slice(0, 3) || [])" style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/media/rutinas/portadasrutinas/{{item.IMAGENRUTINA}}');background-repeat: no-repeat;background-size: cover;" >
        <div class="icon-wrapper" (click)="toggleBookmarkRutinas(item.IDRUTINA); $event.stopPropagation()" *ngIf="!bookmarkRutinasState[item.IDRUTINA]; else otherbookmarkrutinas">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
        </svg>
        </div>
        <ng-template #otherbookmarkrutinas>
          <div class="icon-wrapper" (click)="toggleBookmarkRutinas(item.IDRUTINA); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
          </svg>
          </div>
        </ng-template>
        <div class="text " >
          <span class="span1 ">{{recortarPalabras(item.NOMBRERUTINA,3)}}</span>
          <span class="span2 "  style="display: flex; align-items: center;">
            RUTINA</span>
        </div>
      </div>
      <div class="box" (click)="go_page_create_rutina(item,'programarrutinas')" *ngFor="let item of (dataSesiones?.slice(0, 3) || [])" style="background-image: linear-gradient(0deg, #0000009f, #f1f3f842), url('{{ ip_address }}/media/sesiones/portadassesiones/{{item.IMAGESESION}}');background-repeat: no-repeat;background-size: cover;">
        <div class="icon-wrapper" (click)="toggleBookmarkOSesiones(item.IDSESION); $event.stopPropagation()" *ngIf="!bookmarkSesionesState[item.IDSESION]; else otherbookmarksesiones">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
        </svg>
        </div>
        <ng-template #otherbookmarksesiones>
          <div class="icon-wrapper" (click)="toggleBookmarkOSesiones(item.IDSESION); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
          </svg>
          </div>
        </ng-template>
        <div class="text "  >
          <span   class="span1 ">{{recortarPalabras(item.NOMBRESESION,3)}}</span>
          <span  class="span2"  style="display: flex; align-items: center;">
          PROG. RUTINAS</span>
        </div>
      </div>
      <div class="box"   (click)="selectSwiper(item,'listar-parametros')"   *ngFor="let item of (dataTEjercicio?.slice(0, 3) || [])"   style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/media/tipoEjercicio/{{item.IMAGETIPOEJERCICIO}}');background-repeat: no-repeat;background-size: cover;">
        <div class="icon-wrapper" (click)="toggleBookmarkTEjercicio(item.IDTIPOEJERCICIO); $event.stopPropagation()" *ngIf="!LikeTEjercicioState[item.IDTIPOEJERCICIO]; else otherLikeTEjercicio">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
        </svg>
        </div>
        <ng-template #otherLikeTEjercicio >
          <div class="icon-wrapper" (click)="toggleBookmarkTEjercicio(item.IDTIPOEJERCICIO); $event.stopPropagation()" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
          </svg>
          </div>
        </ng-template>
        <div class="text "  >
          <span   class="span1 ">{{recortarPalabras(item.NOMBRETIPOEJERCICIO,3)}}</span>
          <span  class="span2"  style="display: flex; align-items: center;">
            FITNESS</span>
        </div>
      </div>
      <div class="box" (click)="selectSwiper(item,'listar-sesiones')"  *ngFor="let item of (dataOPersoales?.slice(0, 3) || [])"   style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/media/objetivospersonales/{{item.IMAGEOBJETIVOSPERSONALES}}');background-repeat: no-repeat;background-size: cover;">
        <div class="icon-wrapper" (click)="toggleBookmarkOPersonal(item.IDOBJETIVOSPERSONALES); $event.stopPropagation()" *ngIf="!LikeOPersonalState[item.IDOBJETIVOSPERSONALES]; else otherLikeOPersonal">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
        </svg>
        </div>
        <ng-template #otherLikeOPersonal >
          <div class="icon-wrapper" (click)="toggleBookmarkOPersonal(item.IDOBJETIVOSPERSONALES); $event.stopPropagation()" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
          </svg>
          </div>
        </ng-template>
        <div class="text "  >
          <span   class="span1 ">{{recortarPalabras(item.DESCRIPCIONOBJETIVOSPERSONALES,3)}}</span>
          <span  class="span2"  style="display: flex; align-items: center;">
            OBJETIVO</span>
        </div>
      </div>
      <div class="box"  (click)="selectSwiper(item,'listar-parametros')" *ngFor="let item of (dataOMusculares?.slice(0, 3) || [])"   style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/media/objetivomuscular/{{item.IMAGENOBJETIVOSMUSCULARES}}');background-repeat: no-repeat;background-size: cover;">
        <div class="icon-wrapper" (click)="toggleBookmarkOMuscular(item.IDOBJETIVOSMUSCULARES); $event.stopPropagation()" *ngIf="!LikeOMuscularState[item.IDOBJETIVOSMUSCULARES]; else otherLikeOMuscular">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
        </svg>
        </div>
        <ng-template #otherLikeOMuscular >
          <div class="icon-wrapper" (click)="toggleBookmarkOMuscular(item.IDOBJETIVOSMUSCULARES); $event.stopPropagation()" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
          </svg>
          </div>
        </ng-template>
        <div class="text "  >
          <span   class="span1 ">{{recortarPalabras(item.NOMBREOBJETIVOSMUSCULARES,3)}}</span>
          <span  class="span2"  style="display: flex; align-items: center;">
            MUSCULO</span>
        </div>
      </div>
      <div class="box" (click)="go_page('listar-guardados')" *ngIf="(dataRutinas && dataRutinas.length > 3) || (dataSesiones && dataSesiones.length > 3 )|| (dataTEjercicio && dataTEjercicio.length > 3 )|| (dataOPersoales && dataOPersoales.length > 3) || (dataOMusculares && dataOMusculares.length > 3)" style="background-image: linear-gradient(0deg,  #0000009f,#f1f3f842), url('{{ ip_address }}/media/images/guardado-blureable.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="text "  >
          <span   class="span1 ">VER</span>
          <span  class="span2"  style="display: flex; align-items: center;">
            MÁS</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!loading">
  <app-footer-designer-users></app-footer-designer-users>
</ion-footer>
