ion-content {
  --background: linear-gradient(0deg, #f0f3f7, #f2f3f8);
  height: 100vh;
  overflow: hidden;
}

.toolbar-header{
  z-index: -1;
  margin-top: 9%;
  background: transparent;
  padding: 0% 6% 0% 6%;
  --background: transparent;
  ion-title{
    background-color: transparent;
  }

}
.onboard-top{
  padding-top: 0%;
  padding-bottom: 1%;
  margin-top:0%;
  ion-toolbar{
    --background:transparent;
    p{
      font-family: Raleway-Light;
      font-size: 1rem;
      color:  #6b6a6b;
    }
  }
}

.container-header{
  border-radius: 20px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .icono-bookmark{
    padding-top: 3px;
    width: 28px;
    height: auto;
  }
  .icono-notificacion{
    padding-top: 3px;
    width: 28px;
    height: auto;
  }

.title-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Raleway-Light;
  font-size: 1.5rem;
  color:  #6b6a6b;
  padding-left: 5px;
  padding-top: 3px;
  text-align: left;
}

.toolbar-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 0px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}
.container-footer{
  background-color: transparent;
}
.image-container-footer {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 3vh;
  flex-direction: column;
  .label-footer {
    font-family: Raleway-Medium;
    font-size: 11px;
    margin-top: 4px;
    color: #6b6a6b;
  }
}
.icono-image{
  width: 30px;
  height: auto;
}

//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 123, 123, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}



.container-body{
  height: 80vh;
  overflow: hidden;
  @media (min-height: 300px) and (max-height: 600px) {
    /* Agrega los estilos específicos cuando el teclado está activo */
    /* Puedes ajustar estos estilos según tus necesidades */
    padding: 0% 6% 0% 6%;
    bottom: 0;
    height: 0;
  }
  padding: 0% 6% 12% 6%;
  h2{
    color: #524f52;
    padding-left: 20px !important;
    font-family: Raleway-Bold;
    font-size: 1.1rem;
  }
}


.container-videos {
  padding: 1% 6% 0% 6%;
  margin-top: 2%;
  height: 83%;
  width: 100%; /* Ancho igual al ancho de la pantalla */
  position: relative;
  overflow: auto;
  .item-video-setup {
    background: #c3aaf7b7;
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8))!important;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 36%;
    border-radius: 15px 0px 15px 15px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
    position: relative; /* Agrega posicionamiento relativo al elemento contenedor */
  }
}

.background-image {
  border-radius: 15px;
  width: 100%;
  height: 100%; /* Cambia el valor fijo a 100% para ajustar automáticamente a la altura del contenedor */
  object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
  position: relative;
  z-index: -1;
  object-fit: cover;
  object-position: bottom;
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1% 3% 10% 3%;
  color: white; /* Color del texto */
  width: 100%; /* Ajusta el ancho al 100% para que coincida con el ancho de la imagen */
}

.text1 {
  background-color: #ffffff;
  color: #6b6a6b;
  border-radius: 10px 10px 10px 0px;
  font-family: Raleway-Light;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5%;
  height: 85px!important;
  overflow: auto;
  padding: 2% 3% 2% 3%;
}
.text2 {
  height: 43px;
  overflow: auto;
  color: #ffffff;
  margin-bottom: 3%; /* Espacio entre el primer y segundo texto */
  font-family: Raleway-Bold;
  padding-bottom: 0%;
  padding-left: 3%;
  padding-right: 20%;
  margin-top: 1%;
  font-size: 20px;
  margin-bottom: 4%; /* Espacio entre el primer y segundo texto */
}

.text-container-up{
  position: absolute;
  display: block;
  justify-content: center;
  bottom: 0;
  left: 0;
  padding-left: 2%;

  color: rgba(255, 255, 255, 0.445); /* Color del texto */
  width: 100%; /* /* Ajusta el ancho al 100% para que coincida con el ancho de la imagen */
  ion-icon{
    color: rgba(255, 255, 255, 0.445);/* Color del texto */
    width: 45px;
    height: 45px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
  }
  p{
    font-family: Raleway-Bold;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
  }
}


.item-body-right-top{
  position: absolute;
  top: 0; right: 0;
  padding-top: 7px;
  padding-right: 7px;
  button{
    margin-bottom: 10px;
    background-color:transparent;
  }
}
.item-body-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  //left: 0; /* Asegura que el ancho sea el 100% del contenedor */
  border-radius: 15px 0 15px 0;
  height: 40px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.item-body-right-bottom div {
  display: flex;
  align-items: center;

  h2 {
    align-items: center;
    font-family: Raleway-Medium;
    font-size: 1rem;
    color: #524f52;
    margin-left: 5px;
    margin-right: 20px;
    padding-bottom: 8px;
  }
}

.icono-item-botton{
  margin-left: 10px;
  width: 20px;
  height: auto;
  background-color:transparent ;
}
.icono-item-top{
  width: 22px;
  height: auto;
  background-color:transparent ;
}

.overlay-container-select{
  padding: 0% 6% 0% 6%;
  backdrop-filter: blur(8px); /* Ajusta el valor de desenfoque según tus necesidades */
  background-color: rgba(255, 255, 255, 0.445); /* Cambia los valores RGBA según el color deseado */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .up-title{
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    background-color: #f0f3f7;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center;
    ion-select{
      justify-content: center!important;
      text-align: center!important;
      padding: 2% 0% 2% 6%;
      margin: 3% 0% 3% 0%;
      border-radius: 10px;
      background-color: #ffffff;
    }
    .title-select{
      p{
        font-family: Raleway-Bold;
        font-size: 1rem;
        color: #524f52;
      }
      ion-textarea{
        font-family: Raleway-Light;
        font-size: 1rem;
        background: #ffffff;
        border-radius: 10px;
        padding: 3%;
        margin: 3%;
      }
      ion-input{
        font-family: Raleway-Light;
        font-size: 1rem;
        background: #ffffff;
        border-radius: 10px;
        padding: 3%;
        margin: 3%;
      }
    }
  }
  }
  .div-select{
    margin-bottom: 2%;
    p{
      font-family: Raleway-Bold;
      font-size: 1rem;
      color: #524f52;
    }
    ion-textarea{
      background-color: #ffffff;
      height: 100px;
      width: 100%;
      border-radius: 10px;
    }
  }

  .buttons-tab1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .ion-buttons-1{
    padding: 20px 0px;
    height: 100%;
    border: 2px solid #9259f9;
    font-family: Raleway-Medium;
    font-size: 1.1rem;
    color: #9259f9;
    border-radius: 10px;
    flex-basis: 50%;
  }

  .ion-buttons-2{
    padding: 20px 0px;
    height: 100%;
    border: 2px solid #9259f9;
    background-color: #9259f9;
    font-family: Raleway-Medium;
    font-size: 1.1rem;
    color: #f0f0f0;
    border-radius: 10px;
    flex-basis: 50%;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
  }


.no-data-message{
  padding: 0% 6% 0% 6%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  img{
    width: 60%;
    height: auto;

  }
}
.text-no-data-message{
  text-align: center  ;
  font-family: Raleway-Bold;
  font-size: 1.1rem;
  color: #303030;
  padding: 5% 0% 0% 0%;
  margin: 0%;
}
.subtext-no-data-message{
  text-align: center;
  font-family: Raleway-Medium;
  font-size: 1rem;
  padding: 2% 0% 0% 5%;
  margin: 0%;
  color: #9e9e9e;
}


.filter{
  @media (min-height: 300px) and (max-height: 600px) {
    /* Agrega los estilos específicos cuando el teclado está activo */
    /* Puedes ajustar estos estilos según tus necesidades */
    position: fixed;
    bottom: 0;
    height: 0;
  }
  margin: 0px;
  flex-direction: row-reverse;
  overflow-x: scroll; /* Establece el desplazamiento horizontal solo cuando sea necesario */
  white-space: nowrap; /* Establece el desplazamiento horizontal solo cuando sea necesario */
  height: 7%;
  .filter-text-icon{
    background-color: #f2f3f8;
    position: sticky; /* Fija la posición del elemento */
    left: 0;
    z-index: 1;
    border-radius: 5px;
    display: inline-block; /* Mantiene los elementos en una línea */
    margin-right: 10px; /* Espacio entre los elementos */
    padding: 0% 2% 0% 7%;
    z-index: -1;
  }
  .filter-text{
    align-items: center;
    border-radius: 15px;
    display: inline-flex; /* Mantiene los elementos en una línea */
    margin-right: 5px; /* Espacio entre los elementos */
    padding: 0px 15px;
    p{
      font-family: Raleway-Bold;
      font-size:0.8rem;
    }
  }
  .icono-filter{
    width: 20px;
    z-index: 0;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0% 2% 0% 7%;
  }
}
.filter-icon{
  margin-left: 5px;
  width: 15px;
}

