<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <app-toolbar-designer></app-toolbar-designer>
  <ion-toolbar class="toolbar-header">
    <div class="onboard-top" >
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button style="color: #9259f9;"   (click)="go_page('control-multimedia')">
           <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
         </ion-button>
         <p (click)="go_page('control-multimedia')">Regresar</p>
       </ion-buttons>
        <!-- <ion-buttons slot="end">
          <ion-button style="color: #ffffff;" (click)="goHome()">
            <ion-icon name='close-outline' slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </div>
  </ion-toolbar>
  <div class="container-body">
    <div class="browser">
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event)"   (ionInput)="onInputChange($event)" (ionClear)="onInputChange($event)"  placeholder="Buscar"></ion-searchbar>
    </div>
    <div class="filter" >
      <div class="filter-text-icon">
        <img  class="icono-filter" src="{{ ip_address }}/media/images/filter.png" alt="Imagen Subtítulo">
      </div>
      <div class="filter-text" *ngFor="let fil of filter; let i = index" [ngStyle]="{ 'background-color': fil.iconstatus ? '#7525dc' : '#ded5ff ' }" (click)="buttonfilterhabilitate(fil,i)">
        <p [ngStyle]="{ 'color': fil.iconstatus ? '#ffffff' : '#621eb9' }">{{fil.name}}</p>
        <!-- <ng-container *ngIf="fil.iconstatus">
          <img class="filter-icon" src="{{ ip_address }}/media/images/close.png" alt="Icono">
        </ng-container> -->
      </div>
    </div>
    <div class="container-videos" *ngIf=" dataOMuscular && dataOMuscular.length >0;else noDataMessage " >
      <div  (click)="showSelectEdit(null,'create')" class="item-video-setup" style="height: 15%!important; background: linear-gradient(45deg, #a67bf7, #6b4ab7); " >
        <div class="text-container-up">
          <ion-icon name="add-outline"></ion-icon>
          <p >Crear Objetivo Muscular</p>
        </div>
      </div>
      <div class="item-video-setup" *ngFor="let option of dataOMuscular; let i = index;"  >
        <ion-card [style.background-image]="'url(' + ip_address + '/media/images/objetive-muscular-bk-' + (i % 2 === 0 ? '1' : '2') + '.png)'">
          <ion-grid>
            <ion-row>
              <ion-col>
              <div class="item-body-right-top">
                <button >
                  <img class="icono-item-top"  (click)="showSelectEdit(option,'edit')" style="margin-right: 5px;" src="{{ ip_address }}/media/images/edit.png"  alt="Icono 1">
                </button>
                <button>
                  <img  class="icono-item-top" (click)="showSelect(option,'objetivosmusculares')" src="{{ ip_address }}/media/images/reject_white.png" alt="Icono 2">
                </button>
              </div>
            </ion-col>
          </ion-row>
          </ion-grid>
          <ion-card-header>
            <ion-card-title>
              <p class="text2">{{option.NOMBREOBJETIVOSMUSCULARES}}</p>
            </ion-card-title>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-content (click)="showSelectEdit(option,'edit')" >
                  <p class="text1">{{option.DESCRIPCIONOBJETIVOSMUSCULARES}}</p>
                </ion-card-content>
              </ion-col>
            </ion-row>
            <ion-row>
              <div  class="item-body-right-bottom"  (click)="showSelect(option,'objetivosmusculares')" [ngStyle]="{ 'background-color': option.STATUSOBJETIVOSMUSCULARES === 0 ? '#fdfec3' : (option.STATUSOBJETIVOSMUSCULARES === 1 ? '#fcfee7' : '#fdfec3') }" >
                <div>
                  <img class="icono-item-botton" src="{{ ip_address }}/media/images/{{ option.STATUSOBJETIVOSMUSCULARES === 0 ? 'noactive.png' : (option.STATUSOBJETIVOSMUSCULARES === 1 ? 'check.png' : 'time.png') }}" alt="Imagen Subtítulo">
                  <h2> {{ option.STATUSOBJETIVOSMUSCULARES === 0 ? 'Inactivo' : (option.STATUSOBJETIVOSMUSCULARES === 1 ? 'Activo' : 'Revisión') }}</h2>
                </div>
              </div>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>



  <ng-template #noDataMessage>
    <div class="no-data-message" *ngIf="dataOMuscular && dataOMuscular.length === 0">
      <img src="{{ ip_address }}/media/images/notfound.png" alt="Imagen de datos no encontrados">
      <h1 class="text-no-data-message">Resultado no encontrado</h1>
      <h2 class="subtext-no-data-message">Oops! parece que no hay resultado.</h2>
    </div>
  </ng-template>

  <!-- Modificas Status  -->

  <div class="overlay-container-select"  *ngIf="mostrarSelect" >
    <div class="up-title">
      <div class="title-select">
        <p>Cambiar Estado</p>
      </div>
      <ion-select name="selectStatus" interface="popover"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES" required>
        <ion-select-option *ngFor="let option of dataSelect" [value]="option.id">{{ option.nombre }}</ion-select-option>
      </ion-select>
      <div  class="div-select" *ngIf="dataOMuscylarUniq && (dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES === 0 || dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES === 2)">
        <p>Indique las Razones</p>
        <ion-textarea type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.OBSERVACIONOBJETIVOSMUSCULARES	" ></ion-textarea>
      </div>
      <div class="buttons-tab1">
        <ion-button (click)="cancelprocess()"  class="ion-buttons-1" fill="clear">Cancelar</ion-button>
        <ion-button (click)="confirmchangeStatus(dataOMuscylarUniq,'objetivosmusculares')"  class="ion-buttons-2" fill="clear">Actualizar</ion-button>
      </div>
    </div>
  </div>

   <!-- Modificas Todo  -->

   <div class="overlay-container-select"  *ngIf="mostrarSelectEdit" >
    <div class="up-title">
      <div class="title-select">
        <p>Nombre Obj. Muscular</p>
        <ion-input type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.NOMBREOBJETIVOSMUSCULARES" ></ion-input>
      </div>
      <div class="title-select">
        <p>Descripción Obj. Muscular</p>
        <ion-textarea type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.DESCRIPCIONOBJETIVOSMUSCULARES" ></ion-textarea>
      </div>

      <div class="title-select">
        <p>Cambiar Estado</p>
      </div>
      <ion-select name="selectStatus" interface="popover"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES" required>
        <ion-select-option *ngFor="let option of dataSelect" [value]="option.id">{{ option.nombre }}</ion-select-option>
      </ion-select>
      <div  class="div-select" *ngIf="dataOMuscylarUniq && (dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES === 0 || dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES === 2)">
        <p>Indique las Razones</p>
        <ion-textarea type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.OBSERVACIONOBJETIVOSMUSCULARES" ></ion-textarea>
      </div>
      <div class="buttons-tab1">
        <ion-button (click)="cancelprocessEdit()"  class="ion-buttons-1" fill="clear">Cancelar</ion-button>
        <ion-button (click)="confirmUpdateDates(dataOMuscylarUniq,'objetivosmusculares')"  class="ion-buttons-2" fill="clear">Actualizar</ion-button>
      </div>
    </div>
  </div>
    <!-- Crear uno nuevo  -->
    <div class="overlay-container-select"  *ngIf="mostrarSelectCreate" >
      <div class="up-title">
        <div class="title-select">
          <p>Nombre Tip. Ejercicio</p>
          <ion-textarea type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.NOMBREOBJETIVOSMUSCULARES" ></ion-textarea>
        </div>
        <div class="title-select">
          <p>Descripción Tip. Ejercicio</p>
          <ion-textarea type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.DESCRIPCIONOBJETIVOSMUSCULARES" ></ion-textarea>
        </div>

        <div class="title-select">
          <p>Cambiar Estado</p>
        </div>
        <ion-select name="selectStatus" interface="popover"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES" required>
          <ion-select-option value="" disabled selected>Selecciona una opción</ion-select-option>
          <ion-select-option *ngFor="let option of dataSelect" [value]="option.id">{{ option.nombre }}</ion-select-option>
        </ion-select>
        <div  class="div-select" *ngIf="dataOMuscylarUniq && (dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES === 0 || dataOMuscylarUniq.STATUSOBJETIVOSMUSCULARES === 2)">
          <p>Indique las Razones</p>
          <ion-textarea type="text"  [(ngModel)]="dataOMuscylarUniq && dataOMuscylarUniq.OBSERVACIONOBJETIVOSMUSCULARES" ></ion-textarea>
        </div>
        <div class="buttons-tab1">
          <ion-button (click)="cancelprocessCreate()"  class="ion-buttons-1" fill="clear">Cancelar</ion-button>
          <ion-button (click)="confirmcreatesDates(dataOMuscylarUniq,'objetivosmusculares')"  class="ion-buttons-2" fill="clear">Actualizar</ion-button>
        </div>
      </div>
    </div>
    <app-footer-designer></app-footer-designer>
</ion-content>
