ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  var(--background-ip-address)  no-repeat center center / cover;
  height: 100vh;
  overflow: hidden;
}


//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 123, 123, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
// icono de close (X) y back (<)
.onboard-top{
  padding: 15% 6% 3% 6%;
  margin-top:0%;
  width: 100%;
  ion-toolbar{
    --background: linear-gradient(to right, #dfd5ff 62.5%, #eee9fe 12.5%);
    border-radius: 40px;
    box-shadow: 0px 2px 4px #ac89fc3f;
    ion-buttons{
      ion-button{
        border-radius: 40px;
        background-color: #ffffffd7;
        color: #ac89fc;
      }
    }

  }
}

//css de de barra de estado de proceso
.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Raleway-Medium;
  color: #9259f9;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.line{
  border-radius: 40px;
  width: 70%;
  height: 10px;
  margin-top: 10%;
  margin: 0 auto;
  margin-top: 5%;
  background-image: linear-gradient(to right, #626be8 37.5%, #d7d7e1 12.5%);
}

.heading{
  padding: 3% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-family: Raleway-Light;
    font-size: 1.6rem;
    color: #535353;
    margin: 0 auto;
  }
  p{
    font-family: Raleway-Medium;
    font-size: 1rem;
    color: #7b7b7b;
    margin: 0 auto;
  }
}

.heading h1, .heading p {
  margin: 0;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.onb-card{
  padding: 7% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-no-margin{
  text-align: center;
  font-family:Raleway-Light ;
  color: #535353;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 12% 0% 12%;
  position: fixed;
  bottom: 2%;
  width: 100%;
  ion-button {
    --border-radius: 10px;
    --background:#6069e8;
    --padding-top: 7%; /* ajusta el valor de acuerdo a tu preferencia */
    --padding-bottom: 7%;
    width: 100%;
    font-family: Raleway-Light;
    font-size: 120%;
    color: #fff;
  }
}

.buttonNotNow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 6% 0% 6%;
  bottom: 10%;
  ion-button{
    width: 100%;
    font-family: Raleway-Medium;
    font-size: 90%;
    color: #6069e8;

  }
}

.container-ion-col{
  padding: 3% 6% 5% 6%;
  align-items: center;
  justify-content: center;
  text-align: center;
  ng-container{
    --background-color: #535353;
    background: #535353;
    background-color: #535353;
    background: #535353;
  }

}

ion-col {
  background-color: #f6f3ff;
  box-shadow: 0 2px 4px #6069e8d3; /* Agrega la sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 19vh;
  border-radius: 10px;
  margin: 2%;
}

.image-content {
  margin: 10px;
  img {
    width: 60%;
    height: auto;
  }

}
.image-container {
  position: relative;
  padding: 2%;
}
.title{
  font-family: Raleway-Medium;
  font-size: 0.9rem;
  color: #ad88fd;
}

.checkbox-top-right {
  position: absolute;
  top: 0%;
  right: 8%;
  margin-bottom: 100px;
  --checkbox-background: transparent;
  --border-color:  #6069e8d3;
  --checkbox-background-checked: #6069e8d3;
  --border-color-checked: #6069e8d3;
}
