ion-content {
  --background: linear-gradient(0deg, #f0f3f7, #f2f3f8);
  height: 100vh;
  overflow: hidden;
}

//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
