
<ion-header>
  <div class="portada-bg" (click)="go_pageback()" style="background-image: url('{{ip_address}}/media/images/listarEjercicioAll.jpg');">
    <br>
    <div class="text-overlay-up"  >
      <p><span>descubre tú</span><br>
       <span >
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <path d="M9 14l-4 -4l4 -4"></path>
           <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
        </svg></span>Prog.&nbsp;Rutinas</p>
    </div>
    <div class="container-up-search" (click)="showsearchbox=!showsearchbox; $event.stopPropagation()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
        <path d="M21 21l-6 -6"></path>
     </svg>
    </div>
  </div>
  <div class="search"  *ngIf="showsearchbox">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event)"   (ionInput)="onInputChange($event)" (ionClear)="onInputChange($event)"  placeholder="Buscar"></ion-searchbar>
  </div>
</ion-header>
<ion-content >
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <ion-list lines="none">
    <ion-item *ngFor="let item of dataEjercicioParcial; let index" >
      <div class="container"  *ngIf="dataEjercicioParcial && dataEjercicioParcial.length>0">
        <div *ngIf="item.mostrarNivelDificultad" class="titlesection">
          <h1>{{item.tituloniveldificultadejercicio}}</h1>
        </div>
        <div class="box" (touchstart)="onCardTouchStart($event,item)" (touchend)="onCardTouchEnd($event,item)" (click)="item.PREMIER && item.PREMIER ==='Premium' ? go_page('contrato-entrenador'):goEjercicioUniq(item,'ejercicio-uniq');" [ngStyle]="getBackgroundStyle(item.ALMACENAMIENTOMULTIMEDIA)">
          <video autoplay *ngIf="item.viewvideo"  loop class="video-background" #videoPlayer  (loadedmetadata)="autoplayVideo($event)" >
            <source [src]="ip_address+'/multimedia/'+item.ALMACENAMIENTOMULTIMEDIA" type="video/mp4">
          </video>
          <div *ngIf="item.viewvideo"  class="video-overlay"></div>
          <div class="icon-wrapper" (click)="item.PREMIER && item.PREMIER ==='Premium' ? MessagePremium():toggleBookmarkEjercicio(item.IDEJERCICIO); $event.stopPropagation()" *ngIf="!bookmarkState[item.IDEJERCICIO]; else otherbookmarkrutinas">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
           </svg>
          </div>
          <ng-template #otherbookmarkrutinas>
            <div class="icon-wrapper" (click)="item.PREMIER && item.PREMIER ==='Premium'? MessagePremium():toggleBookmarkEjercicio(item.IDEJERCICIO); $event.stopPropagation()">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
             </svg>
            </div>
          </ng-template>
          <div class="tipeSuscription" [style.background-color]="item.PREMIER && item.PREMIER ==='Suscripto'?'#9259f978':(item.PREMIER && item.PREMIER ==='Gratis'?'#fcd713b6':'#e27c00b6')"
          [style.color]="item.PREMIER && item.PREMIER ==='Suscripto'?'#ffffff':(item.PREMIER && item.PREMIER ==='Gratis'?'#421d06':'#fff5c5')">
          <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Suscripto'; else otherpremium">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
          </svg>
            <h1>Suscrito</h1>
          </ng-container>
          <ng-template #otherpremium>
            <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Gratis'; else otherotherpremium">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-free-rights" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75"></path>
                <path d="M12 7v2"></path>
                <path d="M12 15v2"></path>
                <path d="M6 6l1.5 1.5"></path>
                <path d="M16.5 16.5l1.5 1.5"></path>
            </svg>
              <h1>Gratis</h1>
            </ng-container>
            <ng-template #otherotherpremium>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rosette-filled" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z" stroke-width="0" fill="currentColor"></path>
            </svg>
              <h1>Premium</h1>
            </ng-template>
          </ng-template>
        </div>
          <div class="text non-touchable" >
            <div *ngIf="item.ID_EQUIPOS_REQUERIDOS!==null">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-barbell" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M2 12h1"></path>
                <path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2"></path>
                <path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"></path>
                <path d="M9 12h6"></path>
                <path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"></path>
                <path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2"></path>
                <path d="M22 12h-1"></path>
             </svg>
            </div>
            <span class="span1 non-touchable">{{item.NOMBREEJERCICIO}}&nbsp;|&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh-dot" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
              <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
              <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
           </svg>
           {{item.REPETICIONESEJERCICIO}}</span>
            <span class="f non-touchable"  style="display: flex; align-items: center;">
              {{item.TIEMPOMULTIMEDIA && formatDuracionRutina(item.TIEMPOMULTIMEDIA)}} min | {{item.CALORIASEJERCICIO}} cal. | Tip. {{item.NOMBRETIPOEJERCICIO}}</span>
          </div>
        </div>
      </div>
    </ion-item>
    <div class="boxpadding"></div>
  </ion-list>
  <ion-infinite-scroll *ngIf="dataEjercicioParcial<dataEjercicio" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content  loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

