<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <app-toolbar-designer></app-toolbar-designer>
  <div class="onboard-top" >
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button style="color: #9259f9;"  (click)="go_page('videos')">
         <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
       </ion-button>
       <p (click)="go_page('videos')">Crear Nuevo Ejercicio</p>
     </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button style="color: #ffffff;" (click)="goHome()">
          <ion-icon name='close-outline' slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </div>
  <div class="container-body">
    <div class="post-container-body">
      <h2>Seleccione Multimedia</h2>
      <div class="input-wrapper">
        <div (click)="showSelected('dataMultimedia')"  class="title-up">
          <h2>{{ selectedMultimedia ? selectedMultimedia.TITULOMULTIMEDIA : 'Ninguno' }}</h2>
        </div>
        <div  (click)="showSelected('dataMultimedia')" class="input-icon" >
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </div>
      <h2>Seleccione Tipo Ejercicio</h2>
      <div class="input-wrapper">
        <div (click)="showSelected('dataTEjercicio')"  class="title-up">
          <h2>{{ selectedTEjercicio ? selectedTEjercicio.NOMBRETIPOEJERCICIO : 'Ninguno' }}</h2>
        </div>
        <div  (click)="showSelected('dataTEjercicio')" class="input-icon" >
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </div>
      <h2>Seleccione Nivel de Dificultad</h2>
      <div class="input-wrapper">
        <div (click)="showSelected('dataNDificultad')"  class="title-up">
          <h2>{{ selectedNDificultad ? selectedNDificultad.tituloniveldificultadejercicio : 'Ninguno' }}</h2>
        </div>
        <div  (click)="showSelected('dataNDificultad')" class="input-icon" >
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </div>
      <h2>Seleccione Objetivo Muscular</h2>
      <div class="input-wrapper">
        <div (click)="showSelected('dataOMuscular')"  class="title-up">
          <h2>{{ selectedOMuscular ? selectedOMuscular.NOMBREOBJETIVOSMUSCULARES : 'Ninguno' }}</h2>
        </div>
        <div  (click)="showSelected('dataOMuscular')" class="input-icon" >
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </div>
      <div>
        <ion-label class="ion-label-body">Nombre</ion-label>
        <ion-input  class="ion-input-body" [(ngModel)]="nombreEjercicio" type="text" name="nombre" placeholder="Ingresar Nombre" required></ion-input>
      </div>
      <div>
        <ion-label class="ion-label-body">Descripcion</ion-label>
        <ion-textarea  class="ion-input-body" [(ngModel)]="nombreDescripcion" type="text" name="descripcion" placeholder="Ingresar Descripcion" required></ion-textarea>
      </div>
      <div>
        <ion-label class="ion-label-body">Intrucciones</ion-label>
        <ion-textarea  class="ion-input-body" [(ngModel)]="instruccion" type="text" name="instruccion" placeholder="Ingresar Intrucciones" required></ion-textarea>
      </div>
      <div>
        <ion-label class="ion-label-body">Peso Recomendando</ion-label>
        <ion-input  class="ion-input-body" [(ngModel)]="pesoRecomendado" type="text" name="peso" placeholder="Ingresar Peso Recom." required></ion-input>
      </div>
      <div>
        <ion-label class="ion-label-body">Repeticiones</ion-label>
        <ion-input  class="ion-input-body" [(ngModel)]="repeticiones" type="text" name="repeticion" placeholder="Ingresar Numero de Repeticiones" required></ion-input>
      </div>
      <div>
        <ion-label class="ion-label-body">Tiempo en Realizar</ion-label>
        <ion-input class="ion-input-body" [(ngModel)]="tiempoRealizar" (input)="formatearTiempo()" (change)="completarTiempo()" type="text" name="nombre" placeholder="HH:mm:ss" required></ion-input>
      </div>
      <div>
        <ion-label class="ion-label-body">Numero de Series</ion-label>
        <ion-input  class="ion-input-body" [(ngModel)]="numeroSeries" type="text" name="series" placeholder="Ingresar Numero Series" required></ion-input>
      </div>
      <div>
        <ion-label class="ion-label-body">Variación o Modicicación</ion-label>
        <ion-textarea  class="ion-input-body" [(ngModel)]="variacionEjercicio" type="text" name="variacion" placeholder="Ingresar Variación o Modicicación" required></ion-textarea>
      </div>
      <div>
        <ion-label class="ion-label-body">Información Adicional</ion-label>
        <ion-textarea  class="ion-input-body" [(ngModel)]="adicionalInformacion" type="text" name="adicional" placeholder="Ingresar Información Adicional" required></ion-textarea>
      </div>
    </div>
    <div class="buttons-tab1">
      <ion-button (click)="go_page('videos')"  class="ion-buttons-1" fill="clear">Cancelar</ion-button>
      <ion-button (click)="confirmchangeCreateData()"  class="ion-buttons-2" fill="clear">{{ this.variable ? 'Actualizar' : 'Crear' }}</ion-button>
    </div>
  </div>
  <!-- SELECT BROWSEABLE DE SELECT MULTIMEDIA -->
  <div class="overlay-container-select"  *ngIf="mostrarSelectMultimedia">
    <div class="browser">
      <div class="up-title">
        <div class="title-select">
          <p>Multimedia</p>
        </div>
        <div class="back-select"  (click)="mostrarSelectMultimedia = !mostrarSelectMultimedia" >
          <p (click)="mostrarSelectMultimedia=!mostrarSelectMultimedia" >Cancelar</p>
        </div>
      </div>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataMultimedia')"   (ionInput)="onInputChange($event,'dataMultimedia')" (ionClear)="onInputChange($event,'dataMultimedia')"  placeholder="Buscar"></ion-searchbar>
      <ion-button class="ion-button-select" (click)="go_page('crear-multimedia')"  fill="clear">(+) Agregar Nuevo</ion-button>
      <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
        <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataMultimedia')"
        [class.selected]="selectedMultimedia && selectedMultimedia.TITULOMULTIMEDIA === data.TITULOMULTIMEDIA">
          {{data.TITULOMULTIMEDIA}}
        </ion-item>
      </ion-list>
      <ng-template #noDataMessage>
        <ion-list lines="none" >
          <ion-item>Resultado no encontrado</ion-item>
        </ion-list>
      </ng-template>
    </div>
  </div>
  <!-- SELECT BROWSEABLE DE SELECT Tipo Ejercicio  -->
  <div class="overlay-container-select"  *ngIf="mostrarSelecTEjercicio">
    <div class="browser">
      <div class="up-title">
        <div class="title-select">
          <p>Tipo Ejercicio </p>
        </div>
        <div class="back-select"  (click)="mostrarSelecTEjercicio = !mostrarSelecTEjercicio" >
          <p (click)="mostrarSelecTEjercicio=!mostrarSelecTEjercicio" >Cancelar</p>
        </div>
      </div>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataTEjercicio')"   (ionInput)="onInputChange($event,'dataTEjercicio')" (ionClear)="onInputChange($event,'dataTEjercicio')"  placeholder="Buscar"></ion-searchbar>
      <ion-button class="ion-button-select" (click)="go_page('crear-tipo-ejercicio')" fill="clear">(+) Agregar Nuevo</ion-button>
      <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
        <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataTEjercicio')"
        [class.selected]="selectedTEjercicio && selectedTEjercicio.NOMBRETIPOEJERCICIO === data.NOMBRETIPOEJERCICIO">
          {{data.NOMBRETIPOEJERCICIO}}
        </ion-item>
      </ion-list>
      <ng-template #noDataMessage>
        <ion-list lines="none" >
          <ion-item>Resultado no encontrado</ion-item>
        </ion-list>
      </ng-template>
    </div>
  </div>
    <!-- SELECT BROWSEABLE DE SELECT Nivel Difitultad -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecNDificultad">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Nivel de Dificultad</p>
          </div>
          <div class="back-select"  (click)="mostrarSelecNDificultad = !mostrarSelecNDificultad" >
            <p (click)="mostrarSelecNDificultad=!mostrarSelecNDificultad" >Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataNDificultad')"   (ionInput)="onInputChange($event,'dataNDificultad')" (ionClear)="onInputChange($event,'dataNDificultad')"  placeholder="Buscar"></ion-searchbar>
        <!-- <ion-button class="ion-button-select" fill="clear">(+) Agregar Nuevo</ion-button> -->
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataNDificultad')"
          [class.selected]="selectedNDificultad && selectedNDificultad.tituloniveldificultadejercicio === data.tituloniveldificultadejercicio">
            {{data.tituloniveldificultadejercicio}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
    <!-- SELECT BROWSEABLE DE SELECT Objetivo Muscular -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecOMuscular">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Objetivo Muscular</p>
          </div>
          <div class="back-select"  (click)="mostrarSelecOMuscular = !mostrarSelecOMuscular" >
            <p (click)="mostrarSelecOMuscular=!mostrarSelecOMuscular" >Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataOMuscular')"   (ionInput)="onInputChange($event,'dataOMuscular')" (ionClear)="onInputChange($event,'dataOMuscular')"  placeholder="Buscar"></ion-searchbar>
        <ion-button class="ion-button-select" (click)="go_page('crear-objetivo-muscular')"  fill="clear">(+) Agregar Nuevo</ion-button>
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataOMuscular')"
          [class.selected]="selectedOMuscular && selectedOMuscular.NOMBREOBJETIVOSMUSCULARES === data.NOMBREOBJETIVOSMUSCULARES">
            {{data.NOMBREOBJETIVOSMUSCULARES}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
    <app-footer-designer></app-footer-designer>
</ion-content>
