<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <app-toolbar-designer></app-toolbar-designer>
  <div class="onboard-top" >
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button style="color: #9259f9;"  (click)="go_page('videos')">
         <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
       </ion-button>
       <p (click)="go_page('videos')"> Regresar </p>
     </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  (click)="confirmchangeCreateData()"  style="color: #9259f9; margin-right: 10px;"  >
          <ng-container *ngIf="(variable && userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)   || (variable && userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99); else otherIcon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
              <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
              <path d="M10 12l4 0"></path>
           </svg>&nbsp;<span class="spaniconup">Actualizar</span>
          </ng-container>
          <ng-template #otherIcon>
            <ng-container  *ngIf="(!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ;else otherotherIcon" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                <path d="M14 4l0 4l-6 0l0 -4"></path>
             </svg>&nbsp;<span class="spaniconup">Crear</span>
            </ng-container>
          </ng-template>
          <ng-template #otherotherIcon>
          </ng-template>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div >
    <div class="tab-buttons">
      <div (click)="showTab(1)" [class.selected]="isTabSelected(1)">Informacion</div>
      <div *ngIf="variable " (click)="showTab(2)" [class.selected]="isTabSelected(2)" >Comentarios</div>
    </div>
  </div>
    <div class="container-body" *ngIf="currentTab === 1">
      <!-- <div class="post-container-body"> -->
        <h2>Seleccione Multimedia</h2>
        <div class="input-wrapper" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelected('dataMultimedia'):''" >
          <div  class="title-up">
            <h2>{{ selectedMultimedia ? selectedMultimedia.TITULOMULTIMEDIA : 'Ninguno' }}</h2>
          </div>
          <div   class="input-icon" >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <h2>Seleccione Tipo Ejercicio</h2>
        <div class="input-wrapper" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelected('dataTEjercicio'):''" >
          <div  class="title-up">
            <h2>{{ selectedTEjercicio ? selectedTEjercicio.NOMBRETIPOEJERCICIO : 'Ninguno' }}</h2>
          </div>
          <div  class="input-icon" >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <h2>Seleccione Nivel de Dificultad</h2>
        <div class="input-wrapper" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelected('dataNDificultad'):''" >
          <div   class="title-up">
            <h2>{{ selectedNDificultad ? selectedNDificultad.tituloniveldificultadejercicio : 'Ninguno' }}</h2>
          </div>
          <div  class="input-icon" >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <h2>Seleccione Objetivo Muscular</h2>
        <div class="input-wrapper" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelected('dataOMuscular'):''" >
          <div   class="title-up">
            <h2>{{ selectedOMuscular ? selectedOMuscular.NOMBREOBJETIVOSMUSCULARES : 'Ninguno' }}</h2>
          </div>
          <div   class="input-icon" >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <div>
          <ion-label class="ion-label-body">Nombre</ion-label>
          <!-- true true true false -->
          <ion-input [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true" class="ion-input-body" [(ngModel)]="nombreEjercicio" type="text" name="nombre" placeholder="Ingresar Nombre" required></ion-input>
        </div>
        <div>
          <ion-label class="ion-label-body">Descripcion</ion-label>
          <ion-textarea [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true"   class="ion-input-body" [(ngModel)]="nombreDescripcion" type="text" name="descripcion" placeholder="Ingresar Descripcion" required></ion-textarea>
        </div>
        <div>
          <ion-label class="ion-label-body">Intrucciones</ion-label>
          <ion-textarea [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true"   class="ion-input-body" [(ngModel)]="instruccion" type="text" name="instruccion" placeholder="Ingresar Intrucciones" required></ion-textarea>
        </div>
        <div>
          <ion-label class="ion-label-body">Peso Recomendando</ion-label>
          <ion-input [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true"  class="ion-input-body" [(ngModel)]="pesoRecomendado" type="text" name="peso" placeholder="Ingresar Peso Recom." required></ion-input>
        </div>
        <div>
          <ion-label class="ion-label-body">Repeticiones</ion-label>
          <ion-input [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true"   class="ion-input-body" [(ngModel)]="repeticiones" type="text" name="repeticion" placeholder="Ingresar Numero de Repeticiones" required></ion-input>
        </div>
        <div>
          <ion-label class="ion-label-body">Tiempo en Realizar</ion-label>
          <ion-input class="ion-input-body" readonly [value]="selectedMultimedia?.TIEMPOMULTIMEDIA || ''" placeholder="HH:mm:ss" required></ion-input>
        </div>
        <h2>Equivalente Metabólico (MET)</h2>
        <div class="input-wrapper" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelected('dataMET'):''"  >
          <div   class="title-up">
            <h2>{{ selectedMET ? selectedMET.valorMetabolicEquivalentOfTask : 'Ninguno' }}</h2>
          </div>
          <div  class="input-icon" >
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </div>
        <div>
          <ion-label class="ion-label-body">Variación o Modificación</ion-label>
          <ion-textarea  [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true"   class="ion-input-body" [(ngModel)]="variacionEjercicio" type="text" name="variacion" placeholder="Ingresar Variación o Modicicación" required></ion-textarea>
        </div>
        <div>
          <ion-label class="ion-label-body">Información Adicional</ion-label>
          <ion-textarea [disabled]=" (userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)  || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ? false:true"  class="ion-input-body" [(ngModel)]="adicionalInformacion" type="text" name="adicional" placeholder="Ingresar Información Adicional" required></ion-textarea>
        </div>
        <div class="inline-container" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ?showSelected('dataERequerido'):''" *ngIf="equiporequeridoporEjercicio && equiporequeridoporEjercicio.length > 0">
          <ion-label >Equipo Requerido:</ion-label><br>
          <img src="{{ ip_address }}/media/images/plus.png"  alt="Agregar Objetivo">
        </div>
        <div class="container-selects"  *ngIf="equiporequeridoporEjercicio && equiporequeridoporEjercicio.length > 0">
          <ng-container  *ngFor="let option of equiporequeridoporEjercicio" (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelectedERequerido('dataERequerido',option):''" >
            <div (touchstart)="onCardTouchStartRemoveItemERequerido($event,option)" (touchend)="onCardTouchEndRemoveItemERequerido($event)"  class="input-wrapper">
              <div  class="title-up">
                <h2>{{ option.NOMBREEQUIPOREQUERIDO }}</h2>
              </div>
              <div  class="input-icon" >
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </div>
          </ng-container>
        </div>
        <div  (click)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? showSelected('dataERequerido'):''"  *ngIf=" equiporequeridoporEjercicio && equiporequeridoporEjercicio.length === 0" style="padding-top: 2%;">
          <ion-label   class="ion-label-body" style="padding-bottom: 2%!important;">Equipo Requerido</ion-label>
          <ion-button  class="buttonaddObjPers" *ngIf=" equiporequeridoporEjercicio && equiporequeridoporEjercicio.length === 0"  (click)="OpenDialogNewERequ()" fill="clear">+ Eq. Requerido</ion-button>
        </div>
      <!-- </div> -->
      <!-- <div class="buttons-tab1">
        <ion-button (click)="go_page('videos')"  class="ion-buttons-1" fill="clear">Cancelar</ion-button>
        <ion-button (click)="confirmchangeCreateData()"  class="ion-buttons-2" fill="clear">{{ this.variable ? 'Actualizar' : 'Crear' }}</ion-button>
      </div> -->
    </div>
  <div class="container-body" *ngIf="currentTab === 2  && dataComentarioporEjercicio && dataComentarioporEjercicio.length >0;else noDataMessage ">
    <ion-card class="container-body-card" *ngFor="let data of dataComentarioporEjercicio"
    [ngClass]="{'color-1': data.STATUSPROGRESO === 0, 'color-2': data.STATUSPROGRESO === 1}"
    (touchstart)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ?onCardTouchStart($event,data):''" (touchend)="(variable && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA ) ||( userSesionPerfil[0].IDROLUSUARIO===99 ) || (!variable) ? onCardTouchEnd($event):''">
      <ion-card-content class="card-content">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="row-image">
              <img alt="Silhouette of mountains" src="{{ip_address}}/media/perfile/{{data.IMAGEPERSONA}}" />
            </ion-col>
            <ion-col size="9" class="row-text-right">
              <div style="display: flex;">
                <div style="width: 50%;">
                  <div class="item-text">
                    <ion-label>@{{data.NICKNAMEPERSONA}}</ion-label>
                  </div>
                </div>
                <div class="stars">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <div style="color: #9259f9;">
                      <svg *ngIf="star <= data.CALIFICACIONPROGRESO" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0" fill="currentColor" />
                      </svg>
                    </div>
                    <div style="color: #6b6b6b;">
                      <svg *ngIf="star > data.CALIFICACIONPROGRESO" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                      </svg>
                    </div>
                  </ng-container>

                </div>
              </div>
              <div class="item-comment-p">
                <ion-text *ngIf="data.OBSERVACIONPROGRESO; else sinComentarios" >
                  {{ data.OBSERVACIONPROGRESO }}
                </ion-text>

                <ng-template #sinComentarios>
                  <ion-text><span>*Sin Comentarios </span></ion-text>
                </ng-template>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="overlay-container-select"
   *ngIf="dataComentarioporEjercicioUniq && mostarDialogComment">
    <div style="display: flex;
    flex-direction: column; ">
      <div>
        <ion-card class="container-body-card"
        [ngClass]="{'color-1': dataComentarioporEjercicioUniq.STATUSPROGRESO === 0, 'color-2': dataComentarioporEjercicioUniq.STATUSPROGRESO === 1}">
          <ion-card-content class="card-content">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="row-image">
                  <img alt="Silhouette of mountains" src="{{ip_address}}/media/perfile/{{dataComentarioporEjercicioUniq.IMAGEPERSONA}}" />
                </ion-col>
                <ion-col size="9" class="row-text-right">
                  <div style="display: flex;">
                    <div style="width: 50%;">
                      <div class="item-text">
                        <ion-label>@{{dataComentarioporEjercicioUniq.NICKNAMEPERSONA}}</ion-label>
                      </div>
                    </div>
                    <div class="stars">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <div style="color: #9259f9;">
                          <svg *ngIf="star <= dataComentarioporEjercicioUniq.CALIFICACIONPROGRESO" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" stroke-width="0" fill="currentColor" />
                          </svg>
                        </div>
                        <div style="color: #6b6b6b;">
                          <svg *ngIf="star > dataComentarioporEjercicioUniq.CALIFICACIONPROGRESO" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                          </svg>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="item-comment-p">
                    <ion-text *ngIf="dataComentarioporEjercicioUniq.OBSERVACIONPROGRESO; else sinComentarios">
                      {{ dataComentarioporEjercicioUniq.OBSERVACIONPROGRESO }}
                    </ion-text>
                    <ng-template #sinComentarios>
                      <ion-text><span>*Sin Comentarios </span></ion-text>
                    </ng-template>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
      <div>
        <div class="buttons-tab1">
          <ion-button (click)="mostarDialogComment=!mostarDialogComment" class="ion-buttons-1" fill="clear">Cancelar</ion-button>
          <ion-button  (click)="changeStatusProgreso(dataComentarioporEjercicioUniq)" class="ion-buttons-2" fill="clear" >
            {{ dataComentarioporEjercicioUniq.STATUSPROGRESO === 0 ? 'Mostrar' : 'Ocultar' }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noDataMessage>
    <div class="no-data-message" *ngIf=" currentTab ===2 && dataComentarioporEjercicio && dataComentarioporEjercicio.length === 0">
      <img src="{{ ip_address }}/media/errorpage/notfoundcomment.png" alt="Imagen de datos no encontrados">
      <h1 class="text-no-data-message">No Existe Comentarios para este ejercicio</h1>
      <h2 class="subtext-no-data-message">Oops! parece que no hay resultado.</h2>
    </div>
  </ng-template>

  <!-- SELECT BROWSEABLE DE SELECT MULTIMEDIA -->
  <div class="overlay-container-select"  *ngIf="mostrarSelectMultimedia">
    <div class="browser">
      <div class="up-title">
        <div class="title-select">
          <p>Multimedia</p>
        </div>
        <div class="back-select"  (click)="mostrarSelectMultimedia = !mostrarSelectMultimedia" >
          <p (click)="mostrarSelectMultimedia=!mostrarSelectMultimedia" >Cancelar</p>
        </div>
      </div>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataMultimedia')"   (ionInput)="onInputChange($event,'dataMultimedia')" (ionClear)="onInputChange($event,'dataMultimedia')"  placeholder="Buscar"></ion-searchbar>
      <ion-button class="ion-button-select" (click)="go_page('crear-multimedia')"  fill="clear">(+) Agregar Nuevo</ion-button>
      <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
        <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataMultimedia')"
        [class.selected]="selectedMultimedia && selectedMultimedia.TITULOMULTIMEDIA === data.TITULOMULTIMEDIA">
        <ion-avatar slot="start" >
          <img  src="{{ ip_address }}/multimedia/{{getVideoName(data.ALMACENAMIENTOMULTIMEDIA)}}.jpg"alt="Imagen" />
        </ion-avatar>
        {{data.TITULOMULTIMEDIA}} &nbsp;&nbsp;<span class="timemultimediaspan">({{data.TIEMPOMULTIMEDIA}})</span>
        </ion-item>
      </ion-list>
      <ng-template #noDataMessage>
        <ion-list lines="none" >
          <ion-item>Resultado no encontrado</ion-item>
        </ion-list>
      </ng-template>
    </div>
  </div>
  <!-- SELECT BROWSEABLE DE SELECT Tipo Ejercicio  -->
  <div class="overlay-container-select"  *ngIf="mostrarSelecTEjercicio">
    <div class="browser">
      <div class="up-title">
        <div class="title-select">
          <p>Tipo Ejercicio </p>
        </div>
        <div class="back-select"  (click)="mostrarSelecTEjercicio = !mostrarSelecTEjercicio" >
          <p (click)="mostrarSelecTEjercicio=!mostrarSelecTEjercicio" >Cancelar</p>
        </div>
      </div>
      <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataTEjercicio')"   (ionInput)="onInputChange($event,'dataTEjercicio')" (ionClear)="onInputChange($event,'dataTEjercicio')"  placeholder="Buscar"></ion-searchbar>
      <ion-button class="ion-button-select" *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99" (click)="go_page('crear-tipo-ejercicio')" fill="clear">(+) Agregar Nuevo</ion-button>
      <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
        <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataTEjercicio')"
        [class.selected]="selectedTEjercicio && selectedTEjercicio.NOMBRETIPOEJERCICIO === data.NOMBRETIPOEJERCICIO">
          {{data.NOMBRETIPOEJERCICIO}}
        </ion-item>
      </ion-list>
      <ng-template #noDataMessage>
        <ion-list lines="none" >
          <ion-item>Resultado no encontrado</ion-item>
        </ion-list>
      </ng-template>
    </div>
  </div>
    <!-- SELECT BROWSEABLE DE SELECT MET  -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecMET">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Equivalente Metabólico (MET) </p>
          </div>
          <div class="back-select"  (click)="mostrarSelecMET = !mostrarSelecMET" >
            <p (click)="mostrarSelecMET=!mostrarSelecMET" >Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataMET')"   (ionInput)="onInputChange($event,'dataMET')" (ionClear)="onInputChange($event,'dataMET')"  placeholder="Buscar"></ion-searchbar>
        <!-- <ion-button class="ion-button-select" (click)="go_page('crear-tipo-ejercicio')" fill="clear">(+) Agregar Nuevo</ion-button> -->
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataMET')"
          [class.selected]="selectedTEjercicio && selectedTEjercicio.valorMetabolicEquivalentOfTask === data.valorMetabolicEquivalentOfTask">
            {{data.valorMetabolicEquivalentOfTask}} || {{data.actividadMetabolicEquivalentOfTask	}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
    <!-- SELECT BROWSEABLE DE SELECT Nivel Difitultad -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecNDificultad">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Nivel de Dificultad</p>
          </div>
          <div class="back-select"  (click)="mostrarSelecNDificultad = !mostrarSelecNDificultad" >
            <p (click)="mostrarSelecNDificultad=!mostrarSelecNDificultad" >Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataNDificultad')"   (ionInput)="onInputChange($event,'dataNDificultad')" (ionClear)="onInputChange($event,'dataNDificultad')"  placeholder="Buscar"></ion-searchbar>
        <!-- <ion-button class="ion-button-select" fill="clear">(+) Agregar Nuevo</ion-button> -->
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataNDificultad')"
          [class.selected]="selectedNDificultad && selectedNDificultad.tituloniveldificultadejercicio === data.tituloniveldificultadejercicio">
            {{data.tituloniveldificultadejercicio}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
    <!-- SELECT BROWSEABLE DE SELECT Objetivo Muscular -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecOMuscular">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Objetivo Muscular</p>
          </div>
          <div class="back-select"  (click)="mostrarSelecOMuscular = !mostrarSelecOMuscular" >
            <p (click)="mostrarSelecOMuscular=!mostrarSelecOMuscular" >Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataOMuscular')"   (ionInput)="onInputChange($event,'dataOMuscular')" (ionClear)="onInputChange($event,'dataOMuscular')"  placeholder="Buscar"></ion-searchbar>
        <ion-button class="ion-button-select"  *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99" (click)="go_page('crear-objetivo-muscular')"  fill="clear">(+) Agregar Nuevo</ion-button>
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataOMuscular')"
          [class.selected]="selectedOMuscular && selectedOMuscular.NOMBREOBJETIVOSMUSCULARES === data.NOMBREOBJETIVOSMUSCULARES">
            {{data.NOMBREOBJETIVOSMUSCULARES}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
        <!-- SELECT BROWSEABLE DE SELECT Equipo Requerido -->
        <div class="overlay-container-select"  *ngIf="mostrarSelecERequerido">
          <div class="browser">
            <div class="up-title">
              <div class="title-select">
                <p>Equipo Requerido</p>
              </div>
              <div class="back-select"  (click)="cancelarItemRequerido()" >
                <p (click)="cancelarItemRequerido()" >Cancelar</p>
              </div>
            </div>
            <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataERequerido')"   (ionInput)="onInputChange($event,'dataERequerido')" (ionClear)="onInputChange($event,'dataERequerido')"  placeholder="Buscar"></ion-searchbar>
            <ion-button  *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99" class="ion-button-select"  (click)="go_page('crear-erequerido')" fill="clear">(+) Agregar Nuevo</ion-button>
            <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
              <ion-item *ngFor="let data of selectData" (click)="selectItemERequerido(data)"
              [class.selected]="selectERequerido && selectERequerido.NOMBREEQUIPOREQUERIDO === data.NOMBREEQUIPOREQUERIDO">
              <ion-avatar slot="start" >
                <img src="{{ ip_address }}/media/equipoRequerido/{{data.IMAGENEQUIPOREQUERIDO}}" alt="Imagen" />
              </ion-avatar>
              {{data.NOMBREEQUIPOREQUERIDO}}
              </ion-item>
            </ion-list>
            <ng-template #noDataMessage>
              <ion-list lines="none" >
                <ion-item>Resultado no encontrado</ion-item>
              </ion-list>
            </ng-template>
          </div>
        </div>
        <div *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99;else otherfooter">
          <app-footer-designer ></app-footer-designer>
        </div>
        <ng-template #otherfooter>
          <app-footer-designer-trainer *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===2"></app-footer-designer-trainer>
        </ng-template>
</ion-content>
