ion-content {
  --background: linear-gradient(0deg, #f0f3f7, #f2f3f8);
  height: 100vh;
  overflow: hidden;
}

.toolbar-header{
  z-index: -1;
  margin-top: 9%;
  background: transparent;
  padding: 0% 6% 0% 6%;
  --background: transparent;
  ion-title{
    background-color: transparent;
  }

}
.onboard-top{
  padding-top: 0%;
  padding-bottom: 1%;
  padding-right: 6%;
  padding-left: 6%;
  margin-top:0%;
  ion-toolbar{
    --background:transparent;
    p{
      font-family: Raleway-Light;
      font-size: 1rem;
      color:  #6b6a6b;
    }
  }
}

.container-header{
  border-radius: 20px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .icono-bookmark{
    padding-top: 3px;
    width: 28px;
    height: auto;
  }
  .icono-notificacion{
    padding-top: 3px;
    width: 28px;
    height: auto;
  }

.title-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Raleway-Light;
  font-size: 1.5rem;
  color:  #6b6a6b;
  padding-left: 5px;
  padding-top: 3px;
  text-align: left;
}

.toolbar-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 0px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}
.container-footer{
  background-color: transparent;
}
.image-container-footer {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 3vh;
  flex-direction: column;
  .label-footer {
    font-family: Raleway-Medium;
    font-size: 11px;
    margin-top: 4px;
    color: #6b6a6b;
  }
}
.icono-image{
  width: 30px;
  height: auto;
}

//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 123, 123, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-body{
  @media (min-height: 300px) and (max-height: 600px) {
    /* Agrega los estilos específicos cuando el teclado está activo */
    /* Puedes ajustar estos estilos según tus necesidades */
    padding: 0% 6% 10% 6%;
    bottom: 0;
    height: 0;
  }
  padding: 0% 6% 12% 6%;
  .post-container-body{
    overflow-y: auto;
    height: 63vh;
    h2{
      color: #524f52;
      padding-left: 20px !important;
      font-family: Raleway-Bold;
      font-size: 1.1rem;
    }
  }
}

.input-wrapper{
  margin: 3% 0% 3% 0%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: 10fr 2fr; /* 11 columnas para el input, 1 columna para el icono */
  align-items: center;
  justify-content: center!important;
  border-radius: 10px;
  width: 100%;
  background-color: #ffffff81;
  .title-up{
    h2{
      color: #524f52;
      padding-left: 20px !important;
      font-family: Raleway-Light;
      font-size: 1rem;
    }
  }
  .input-icon{
    justify-content: center;
    text-align: center;
    align-items: center;
    ion-icon{
      width: 23px;
      height: 23px;
      color: #6b6a6b;
    }
  }
}

.overlay-container-select{
  padding: 0% 6% 0% 6%;
  backdrop-filter: blur(8px); /* Ajusta el valor de desenfoque según tus necesidades */
  background-color: rgba(255, 255, 255, 0.445); /* Cambia los valores RGBA según el color deseado */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .browser{
    ion-list{
      height: 65vh;
      overflow: auto;
      padding-top: 2%;
      border-radius: 10px;
      margin: 0px 6px 0px 6px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
.up-title{
  padding: 0% 6% 0% 6%;
  display: flex;
  justify-content: space-between;
  .title-select {
    text-align: center;
    p{
      color: #524f52;
      text-align: center;
      font-family: Raleway-Bold;
      font-size: 1rem;
    }
  }
  .back-select {
    text-align: right;
    p{
      color: #524f52;
      text-align: center;
      font-family: Raleway-Light;
      font-size: 1rem;
    }
  }
}

.selected {
  --background: #9660f98e;
  color: #f0f0f0;
  border-radius: 10px;
  margin: 0% 2% 0% 2%;
}

.ion-button-select{
  width: 100%;
  background-color: #ffffff;
  --background-color: #ffffff;
  color: #9259f9;
  border-radius: 10px;
  padding: 2% 6% 3% 6%;
  margin: 2% 0%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ion-input-body{
  background-color: #f8f9fb;
  border-radius: 10px;
  --padding-start:20px;
  --padding-end:20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.ion-label-body{
    color: #524f52;
    padding-left: 20px !important;
    font-family: Raleway-Bold;
    font-size: 1.1rem;
}

.buttons-tab1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5%;
  height: auto;
}
.ion-buttons-1{
  padding: 20px 0px;
  height: 100%;
  //border: 2px solid #9259f9;
  font-family: Raleway-Medium;
  font-size: 1.1rem;
  color: #9259f9;
  border-radius: 10px;
  flex-basis: 50%;
}
.ion-buttons-2{
  padding: 20px 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #9259f9;
  background-color: #9259f9;
  font-family: Raleway-Medium;
  font-size: 1.1rem;
  color: #f0f0f0;
  border-radius: 10px;
  flex-basis: 50%;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}
