<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <div class="header">
    <ion-card *ngIf="variable && variable.IMAGENRUTINA"
      style="background-image: linear-gradient(0deg, #f1f3f8, #00000009),
      url('{{ ip_address }}/media/rutinas/portadasrutinas/{{variable.IMAGENRUTINA}}');
      background-repeat: no-repeat;
      background-size: cover;">
      <div class="card-back" (click)="previusPageMain ? go_page('main') : (variableSesion ? go_page('listar-sesiones') : go_page('listar-guardados'))">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 14l-4 -4l4 -4"></path>
          <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
       </svg>
      </div>
      <div class="card-like">
        <div class="icon-wrapper" (click)="toggleBookmarkRutinas(variable.IDRUTINA); $event.stopPropagation()" *ngIf="!bookmarkRutinasState[variable.IDRUTINA]; else otherbookmarkrutinas">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
         </svg>
        </div>
        <ng-template #otherbookmarkrutinas>
          <div class="icon-wrapper" (click)="toggleBookmarkRutinas(variable.IDRUTINA); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" stroke-width="0" fill="currentColor"></path>
           </svg>
          </div>
        </ng-template>
      </div>
      <div class="body-ionic">
        <ion-card-header>
          <ion-card-title><span *ngIf="variable && variable.IDROLUSUARIO!==99">Creado por <p> @{{variable && variable.NICKNAMEPERSONA}}</p></span><br>{{variable && variable.DESCRIPCIONOBJETIVOSPERSONALES}}</ion-card-title>
          <ion-card-subtitle><h1>RUTINAS</h1></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="flex-container">
            <div class="flex-item">
              <h1>{{variable && variable.IDEJERCICIOS && variable.IDEJERCICIOS.length}}</h1>
              <p>Ejercicios</p>
            </div>
            <div class="flex-item">
              <h1>{{variable && variable.DURACIONRUTINA}}</h1>
              <p>Duración</p>
            </div>
            <div class="flex-item">
              <h1>{{ CALORIASEJERCICIOTOTAL | number:'1.2-2'}}</h1>
              <p>Calorias</p>
            </div>
          </div>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
  <div class="container-tex">
    <h1 class="right-aligned">Rutinas {{encontrarNumerosRepetidos(variable.IDEJERCICIOS)[0].count}} </h1>
  </div>
  <div class="container-body">
    <div class="container" *ngFor="let item of variable.IDEJERCICIOS;"  (click)="goEjercicioUniq(item,'ejercicio-uniq'); $event.stopPropagation();">
      <div   class="round-section" *ngIf="encontrarNumerosRepetidos(variable.IDEJERCICIOS)[0].number===item">
        <h1>Siguiente Repetición</h1>
      </div><br>
      <div class="image-section" (click)="toggleBookmark(findEjercicioRutina(item)?.IDEJERCICIO);$event.stopPropagation();">
        <div class="icon-wrapper"  *ngIf="!bookmarkState[findEjercicioRutina(item)?.IDEJERCICIO]; else otherbookmark">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
         </svg>
        </div>
        <ng-template #otherbookmark>
          <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
           </svg>
          </div>
        </ng-template>
        <div class="tipeSuscription" [style.background-color]="findEjercicioRutina(item)?.PREMIER && findEjercicioRutina(item)?.PREMIER ==='Suscripto'?'#9259f978':(findEjercicioRutina(item)?.PREMIER && findEjercicioRutina(item)?.PREMIER ==='Gratis'?'#fcd713b6':'#e27c00b6')"
          [style.color]="findEjercicioRutina(item)?.PREMIER && findEjercicioRutina(item)?.PREMIER ==='Suscripto'?'#ffffff':(findEjercicioRutina(item)?.PREMIER && findEjercicioRutina(item)?.PREMIER ==='Gratis'?'#421d06':'#fff5c5')">
          <ng-container *ngIf="findEjercicioRutina(item)?.PREMIER && findEjercicioRutina(item)?.PREMIER ==='Suscripto'; else otherpremium">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
           </svg>
            <h1>Suscrito</h1>
          </ng-container>
          <ng-template #otherpremium>
            <ng-container *ngIf="findEjercicioRutina(item)?.PREMIER && findEjercicioRutina(item)?.PREMIER ==='Gratis'; else otherotherpremium">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-free-rights" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75"></path>
                <path d="M12 7v2"></path>
                <path d="M12 15v2"></path>
                <path d="M6 6l1.5 1.5"></path>
                <path d="M16.5 16.5l1.5 1.5"></path>
             </svg>
              <h1>Gratis</h1>
            </ng-container>
            <ng-template #otherotherpremium>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rosette-filled" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z" stroke-width="0" fill="currentColor"></path>
             </svg>
              <h1>Premium</h1>
            </ng-template>
          </ng-template>
        </div>
        <img *ngIf="findEjercicioRutina(item)?.ALMACENAMIENTOMULTIMEDIA"  src="{{ ip_address }}/multimedia/{{item && getVideoName(findEjercicioRutina(item)?.ALMACENAMIENTOMULTIMEDIA)}}.jpg" />
        <div class="img-overlay"></div>
      </div>
      <div class="text-section">
        <h2>{{findEjercicioRutina(item)?.REPETICIONESEJERCICIO}} <span>x</span></h2>
      </div>
      <div class="multiline-text-section">
        <p class="p1section">{{findEjercicioRutina(item)?.NOMBREEJERCICIO}}</p>
        <p class="p2section">{{findEjercicioRutina(item)?.TIEMPOMULTIMEDIA}}&nbsp;min.</p>
        <p class="p3section">cal. {{findEjercicioRutina(item)?.CALORIASEJERCICIO}} aprox.</p>
      </div>
      <div class="icon-section">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container-desplazar">
      <div class="square"
           [style.width.px]="squareWidth"
           [style.height.px]="circleRadius * 2">
           <span class="text">Empezar</span>
      </div>
      <div class="circle"
           [style.left.px]="circleX - circleRadius"
           [style.bottom.px]="circleRadius"
           [style.width.px]="circleRadius * 2"
           [style.height.px]="circleRadius * 2"
           (touchmove)="onTouchMove($event)"
           (touchend)="onTouchEnd()">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-home" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.072 21h-14.144a1.928 1.928 0 0 1 -1.928 -1.928v-6.857c0 -.512 .203 -1 .566 -1.365l7.07 -7.063a1.928 1.928 0 0 1 2.727 0l7.071 7.063c.363 .362 .566 .853 .566 1.365v6.857a1.928 1.928 0 0 1 -1.928 1.928z"></path>
            <path d="M7 13v4h10v-4l-5 -5"></path>
            <path d="M14.8 5.2l-11.8 11.8"></path>
            <path d="M7 17v4"></path>
            <path d="M17 17v4"></path>
         </svg>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-footer-designer-users></app-footer-designer-users>

</ion-footer>
