ion-content {
  --background:#fff;
  height: 100vh;
  overflow: hidden;
}
//css de Spinner de cargando ...
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(130, 123, 123, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
