<ion-header>
  <app-toolbar-designer></app-toolbar-designer>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <ion-toolbar class="toolbar-header">
    <div class="onboard-top" >
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button style="color: #9259f9;"   (click)="go_page('control-multimedia')">
           <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
         </ion-button>
         <p (click)="go_page('control-multimedia')">Regresar</p>
       </ion-buttons>
        <!-- <ion-buttons slot="end">
          <ion-button style="color: #ffffff;" (click)="goHome()">
            <ion-icon name='close-outline' slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </div>
  </ion-toolbar>
  <div class="browser">
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event)"   (ionInput)="onInputChange($event)" (ionClear)="onInputChange($event)"  placeholder="Buscar"></ion-searchbar>
  </div>
  <div class="container-dificultad" >
    <div class="item" (click)="buttonfilterhabilitate(item, i)" *ngFor="let item of dataNivelDificultad; let i = index" [style.background-color]="selectedItem === i ? '#9159f965' : '#ffffff'">
      <ion-img  class="icono-bookmark" src="{{ ip_address }}/media/images/{{item.tituloniveldificultadejercicio}}.png"></ion-img>
      <ion-label [ngStyle]="{'color': selectedItem === i ? '#ffffff' : ''}" >{{item.tituloniveldificultadejercicio}}</ion-label>
    </div>
  </div>
  <div class="container-videos" *ngIf=" dataEjercicio && dataEjercicio.length >=0;else noDataMessage " >
    <div class="item-video-setup"  (click)="go_page_create('crear-ejercicio','')"  >
      <img class="background-image" src="{{ ip_address }}/media/images/crear_video.jpg"alt="Imagen de fondo">
      <div class="text-container-up">
        <ion-icon name="add-outline"></ion-icon>
        <p >Crear Ejercicio</p>
      </div>
    </div>
    <div class="item-video-setup" *ngFor="let option of dataEjercicio" >
      <img class="background-image" src="{{ ip_address }}/multimedia/{{getVideoName(option.ALMACENAMIENTOMULTIMEDIA)}}.jpg"alt="Imagen de fondo">
      <div class="text-container">
        <p class="text2">{{option.NOMBREEJERCICIO}}</p>
        <p class="text1">{{option.NOMBRETIPOEJERCICIO}}<span> | {{option.tituloniveldificultadejercicio}}</span></p>
      </div>
      <div class="item-body-left-top">
        <button >
          <img class="icono-item-top" (click)="savecopy(option)"style="margin-left: 5px;" src="{{ ip_address }}/media/images/copy.png"  alt="Icono 1">
        </button>
      </div>
      <div class="item-body-right-top">
        <button *ngIf="(option.IDENTRENADOR === this.userSesionPerfil[0].IDPERSONA && option.IDROLUSUARIO === 2) || this.userSesionPerfil[0].IDROLUSUARIO===99 " >
          <img class="icono-item-top" (click)="go_page_create('crear-ejercicio',option)" style="margin-right: 5px;" src="{{ ip_address }}/media/images/edit.png"  alt="Icono 1">
        </button>
        <button *ngIf="(option.IDENTRENADOR === this.userSesionPerfil[0].IDPERSONA && option.IDROLUSUARIO === 2) || this.userSesionPerfil[0].IDROLUSUARIO===99" >
          <img (click)="confirmaractualizarEjercicioActivacion(option)"   class="icono-item-top" src="{{ ip_address }}/media/images/reject_red.png" alt="Icono 2">
        </button>
        <button *ngIf="(this.userSesionPerfil[0].IDROLUSUARIO=== 2 && option.IDENTRENADOR  !== this.userSesionPerfil[0].IDPERSONA )">
          <img (click)="go_page_create('crear-ejercicio',option)"  class="icono-item-top" src="{{ ip_address }}/media/images/acercarset.png" alt="Icono 2">
        </button>
      </div>
      <div  (click)="(option.IDENTRENADOR === this.userSesionPerfil[0].IDPERSONA && option.IDROLUSUARIO === 2) || this.userSesionPerfil[0].IDROLUSUARIO===99 ? confirmaractualizarEjercicioActivacion(option):''" class="item-body-right-bottom" [ngStyle]="{ 'background-color': option.ESTADOEJERCICIO ? '#33af1496' : '#d62f2fa8' }">
        <div>
          <img  class="icono-item-botton" src="{{ ip_address }}/media/images/{{ option.ESTADOEJERCICIO ? 'check-white.png' : 'noactive-white.png' }}" alt="Imagen Subtítulo">
          <h2>{{ option.ESTADOEJERCICIO ? 'Activo' : 'Inactivo' }}</h2>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noDataMessage>
    <div class="no-data-message" *ngIf="dataEjercicio && dataEjercicio.length === 0">
      <img src="{{ ip_address }}/media/images/notfound.png" alt="Imagen de datos no encontrados">
      <h1 class="text-no-data-message">Resultado no encontrado</h1>
      <h2 class="subtext-no-data-message">Oops! parece que no hay resultado.</h2>
    </div>
  </ng-template>
</ion-content>
<ion-footer>
  <div *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99;else otherfooter">
    <app-footer-designer ></app-footer-designer>
  </div>
  <ng-template #otherfooter>
    <app-footer-designer-trainer *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===2"></app-footer-designer-trainer>
  </ng-template>
</ion-footer>
