ion-content {
  //--background: linear-gradient(0deg, #00000060, #33333394), var(--background-informe)  no-repeat center center / cover;;
  --background: linear-gradient(-45deg, #122825, #0e202e, #232524);
  //filter: blur(5px);
  z-index: -1;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121; /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.header-up{
  padding: 7% 3% 0% 3%;
  display: block;
  justify-content: center;
  align-items: center;
  .up-date{
    margin: 0px;
    padding: 0px;
    ion-icon{
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #a3a3a3;
      margin-right: 10px;
      width: 19px;
      height: 19px;
    }
    span{
      font-family: Raleway-bold;
      font-size: 1rem;
      color: #a3a3a3;
    }
  }
  .header-name{
    margin: 0px;
    padding: 0px;
    h1{
      margin: 0px;
      padding: 2% 0% 6% 3%;
      font-family: Raleway-Bold;
      font-size: 1.6rem;
      color: #ffffff;
    }
  }
}

.title{
  padding: 5% 0% 3% 2%;
  margin: 0;
  font-family: Raleway-ExtraBold;
  font-size: 1.5rem;
  color:  #ffffff;
  width: 96%;
  margin: 0% 3%;
  span{
    font-family: Raleway-Light;
    font-size: 2.5rem;
    color:  #ffffff69;
  }
  border-bottom: 1px solid #ffffff75;
}

.flex-container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-item {
  flex: 1;
  padding: 10px;
  position: relative;
  h1{
    font-family: Raleway-Bold;
    font-size: 1.5rem;
    color:  #ffffff;
    //color:  #6069e8;
    span{
      font-family: Raleway-Light;
      font-size: .8rem;
      color:  #ffffff;
      //color:  #807c7c;
    }
  }
  p{
    font-family: Raleway-Bold;
    font-size: .9rem;
    color:  #ffffff;
    //color:  #6b6a6bb2;
    text-transform: uppercase;
  }

}

/* Pseudo-elemento para la línea vertical */
.flex-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 15%; /* Ajusta el valor de top según desees */
  bottom:15%; /* Ajusta el valor de bottom según desees */
  right: 0;
  width: 2px;
  height: 50%;
  background-color: #949396b2;
}
.container-body{
  height: 87vh;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 0% 0% 15% 0
}

.top-container{
  margin: 4% 3% 0% 3%;
  width: 94%;
  border-radius: 15px;
  //backdrop-filter: blur(10px);
  background: linear-gradient(-45deg, #1c2a33, #1b2932);
}

.grafica-body{
  margin: 4% 3% 0% 3%;
  width: 94%;
  height: auto;
  border-radius: 15px;
  background: linear-gradient(-45deg, #1c2a33, #1b2932);
  //background-color: #ffffff;
  //background: linear-gradient(0deg, red, blue);
  overflow: auto;
  color: #fff;

}

.container-grafica-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  padding: 5% 3% 5% 3%;
  background: linear-gradient(-45deg, #1c2a33, #1b2932);
  //background: #ffffff;
  margin: 3% 3% 0% 3%;
  border: none;
  border-radius: 15px;
}

.left-grafica-body {
  display: flex;
  margin-left: 3%;
  text-align: left;
  h1{
    padding: 0;
    margin: 0;
    font-family: Raleway-Medium;
    font-size: 1.2rem;
    color:  #ffffff;
    //color:  #676fe9;
    display: inline-block;
      margin: 0;
      span{
        padding-left: 6px;
        font-family: Raleway-Light;
        font-size: .9rem;
        display: inline-block;
        margin: 0;
        color:  #ffffff;
        //color:  #a3a3a3;
      }
  }
}


.right-grafica-body {
  margin-right: 3%;
  flex: 1;
  text-align: right;
  color:  #ffffff;
  p{
    color:  #ffffff;
  }
  //color: #a3a3a3;
}

.info-container {
  display: flex;
  align-items: center;
  margin: 2% 0% 4% 5%;
}

.square {
  width: 14px;
  height: 14px;
  background-color: #616ae8be;
  margin-right: 2px;
  border-radius: 2px;
  margin-right: 8px;
  border: none;
}

p {
  margin: 0;
  font-family: Raleway-Light;
  font-size: .9rem;
  color:  #ffffff;
}


.containerchart-body {
  width: 600px;
  height: 100%;
  padding: 5% 0% 0% 0.5%;
}

.containerchart-body canvas {
  max-width: 100%;
  margin-left: 3%;/* Cambiamos max-width a 100% para que el canvas se ajuste al tamaño del contenedor */
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #1c2a33, #1b2932);
  //background-color: #ffffff;
  width: 94%;
  margin: 3% 3% 0% 3%;
  border-radius: 15px;
}


.div2 {
  width: 94%;
  height: auto;
  margin: 0% 3%;
  div{
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 3px;
    span{
      position: absolute;
      font-family: Raleway-Light;
      font-size: .9rem;
      color:  #ffffff;
    }
  }
}

.text-container{
  padding-top: 6%;
  padding-bottom: 5%;
  text-align: center;
  font-family: Raleway-Bold;
  font-size: 1rem;
  background: linear-gradient(-45deg, #1c2a33, #1b2932);
}

.contenedor-padre {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #1c2a33, #1b2932);
  //background-color: #ffffff;
  width: 94%;
  margin: 3% 3% 0% 3%;
  border-radius: 15px;
  padding: 3% 0% 0% 3%;
}

/* Estilo para cada clase de texto */
.texto-pesos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  span{
    color:  #ffffff;
    font-size: 1rem;
  }
}
.custom-dialog-certificados-text{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  backdrop-filter: blur(10px);
  p{
    text-align: center;
    font-family: Raleway-Medium;
    font-size: 2rem;
    color:  #ffffff;
    span{
      font-family: Raleway-LightItalic;
      font-size: 1.6rem;
    }
  }
}
.custom-dialog-certificados {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.container-preselect {
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
}

.buttons-tab1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.ion-buttons-1{
  text-align: center;
  padding: 20px 0px;
  height: 100%;
  border: 2px solid #9259f9;
  font-family: Raleway-Medium;
  font-size: 1.1rem;
  color: #9259f9;
  border-radius: 10px;
  flex-basis: 50%;
}

.ion-buttons-2{
  text-align: center;
  padding: 20px 0px;
  height: 100%;
  border: 2px solid #9259f9;
  background-color: #9259f9;
  font-family: Raleway-Medium;
  font-size: 1.1rem;
  color: #f0f0f0;
  border-radius: 10px;
  flex-basis: 50%;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.container-input{
  h1{
    padding: 1% 0% 1% 3%;
    margin: 0% 0% 0% 0%;
    font-family: Raleway-Medium;
    font-size: 1.1rem;
    color: rgb(99, 88, 88);
    border: 2px solid #9259f954;
    border-radius: 10px;
  }
  ion-input{
    padding: 0;
    margin: 0;
    font-family: Raleway-Medium;
    font-size: 1.4rem;
    color: #807c7c;
    text-align: center;
  }
}
