<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <div class="header">
    <ion-card style="background-image: linear-gradient(0deg,  #f8fafc,#f8fafc96, #00000009), url('{{ ip_address }}/media/objetivospersonales/{{variable.IMAGEOBJETIVOSPERSONALES}}');background-repeat: no-repeat;background-size: cover;" >
      <div class="card-back" (click)="previusPageMain ? go_page('main') : (previusPagelistarGuardados ? go_page('listar-guardados') : go_page('listar-ejercicios'))">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 14l-4 -4l4 -4"></path>
          <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
       </svg>
      </div>
      <div class="card-like"  (click)="toggleBookmarkOPersonal(variable.IDOBJETIVOSPERSONALES); $event.stopPropagation()">
        <div class=" icon-like"  *ngIf="!LikeOPersonalState[variable.IDOBJETIVOSPERSONALES]; else othericonlike">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
         </svg>
        </div>
        <ng-template #othericonlike>
          <div class=" icon-like" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" stroke-width="0" fill="currentColor"></path>
           </svg>
          </div>
        </ng-template>
      </div>
      <div class="body-ionic">
        <ion-card-header>
          <ion-card-title>{{this.variable && this.variable.DESCRIPCIONOBJETIVOSPERSONALES}}</ion-card-title>
          <ion-card-subtitle><h1>OBJETIVO</h1></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="flex-container">
            <div class="flex-item">
              <h1>{{dataRutinas && dataRutinas.length}}</h1>
              <p>Rutinas</p>
            </div>
            <div class="flex-item">
              <h1>{{dataSesiones && dataSesiones.length}}</h1>
              <p>Prog. Rutinas</p>
            </div>
          </div>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
  <div class="container-body">
    <div class="container-subtitle"><h2 class="subtitle" *ngIf="dataRutinas && dataRutinas.length>0">Rutinas Diarias</h2>
      <h2 class="right-align-subtitle" *ngIf="dataRutinas && dataRutinas.length>0" (click)="go_page_with_dates('listar-rutinas-diarias')">Todos</h2></div>
    <div class="container"  *ngIf="dataRutinas && dataRutinas.length>0">
      <div class="box"   (click)="item.PREMIER && item.PREMIER ==='Premium' ? go_page('contrato-entrenador'):expandBox($event,item,'rutinas-diarias')" *ngFor="let item of  (dataRutinas?.slice(0, 3) || []) " [ngStyle]="getBackgroundStyle(item.IMAGENRUTINA, showImage)">
        <div class="icon-wrapper" (click)="item.PREMIER && item.PREMIER ==='Premium' ? MessagePremium():toggleBookmarkRutinas(item.IDRUTINA); $event.stopPropagation()" *ngIf="!bookmarkRutinasState[item.IDRUTINA]; else otherbookmarkrutinas">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
         </svg>
        </div>
        <ng-template #otherbookmarkrutinas>
          <div class="icon-wrapper" (click)="item.PREMIER && item.PREMIER ==='Premium'? MessagePremium():toggleBookmarkRutinas(item.IDRUTINA); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
           </svg>
          </div>
        </ng-template>
        <div class="tipeSuscription" [style.background-color]="item.PREMIER && item.PREMIER ==='Suscripto'?'#9259f978':(item.PREMIER && item.PREMIER ==='Gratis'?'#fcd713b6':'#e27c00b6')"
        [style.color]="item.PREMIER && item.PREMIER ==='Suscripto'?'#ffffff':(item.PREMIER && item.PREMIER ==='Gratis'?'#421d06':'#fff5c5')">
        <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Suscripto'; else otherpremium">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
        </svg>
          <h1>Suscrito</h1>
        </ng-container>
        <ng-template #otherpremium>
          <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Gratis'; else otherotherpremium">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-free-rights" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75"></path>
              <path d="M12 7v2"></path>
              <path d="M12 15v2"></path>
              <path d="M6 6l1.5 1.5"></path>
              <path d="M16.5 16.5l1.5 1.5"></path>
          </svg>
            <h1>Gratis</h1>
          </ng-container>
          <ng-template #otherotherpremium>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rosette-filled" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z" stroke-width="0" fill="currentColor"></path>
          </svg>
            <h1>Premium</h1>
          </ng-template>
        </ng-template>
        </div>
        <div class="text non-touchable" *ngIf="!showImage">
          <span class="span1 non-touchable">{{item.NOMBRERUTINA}}</span>
          <span class="span2 non-touchable"  style="display: flex; align-items: center;">
            {{formatDuracionRutina(item.DURACIONRUTINA)}} min | {{item.IDEJERCICIOS && item.IDEJERCICIOS.length}} Ej.</span>
        </div>
      </div>
      <div class="box box1" (click)="go_page_with_dates('listar-rutinas-diarias')" [ngStyle]="getBackgroundStyle('testPortada.jpg', showImage)">
        <div class="icon-wrapper" >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
         </svg>
        </div>
        <div class="tipeSuscription" style="background-color:#e27c00b6; color: #fff5c5;" >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rosette-filled" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z" stroke-width="0" fill="currentColor"></path>
          </svg>
          <h1>Premium</h1>
        </div>
        <div class="text non-touchable" *ngIf="!showImage">
          <span class="span1 non-touchable">Lorem er</span>
          <span class="span2 non-touchable"  style="display: flex; align-items: center;">
            XX min | XX Ej.</span>
        </div>
        <div class="text-overlay">
          <h2>Ver<hr>Más</h2>
        </div>
      </div>
    </div>
    <div class="container-subtitle"><h2 class="subtitle" *ngIf="dataSesiones && dataSesiones.length>0" >Prog. de Rutinas</h2>
    <h2 class="right-align-subtitle" (click)="go_page_with_dates('listar-programas-rutinas')" *ngIf="dataSesiones && dataSesiones.length>0" >Todos</h2></div>
    <div class="container" *ngIf="dataSesiones && dataSesiones.length>0" >
      <div class="box" (click)="expandBox($event,item,'programarrutinas')"  *ngFor="let item of (dataSesiones?.slice(0, 3) || []) " [ngStyle]="getBackgroundStyle2(item.IMAGESESION, showImage)"  >
        <div class="icon-wrapper" (click)="item.PREMIER && item.PREMIER ==='Premium' ? MessagePremium():toggleBookmarkOSesiones(item.IDSESION); $event.stopPropagation()" *ngIf="!bookmarkSesionesState[item.IDSESION]; else otherbookmarksesiones">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
         </svg>
        </div>
        <ng-template #otherbookmarksesiones>
          <div class="icon-wrapper" (click)="item.PREMIER && item.PREMIER ==='Premium' ? MessagePremium():toggleBookmarkOSesiones(item.IDSESION); $event.stopPropagation()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark-filled" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 3a3 3 0 0 1 2.995 2.824l.005 .176v14a1 1 0 0 1 -1.413 .911l-.101 -.054l-4.487 -2.691l-4.485 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-14a3 3 0 0 1 2.824 -2.995l.176 -.005h6z" stroke-width="0" fill="currentColor"></path>
           </svg>
          </div>
        </ng-template>
        <div class="tipeSuscription" [style.background-color]="item.PREMIER && item.PREMIER ==='Suscripto'?'#9259f978':(item.PREMIER && item.PREMIER ==='Gratis'?'#fcd713b6':'#e27c00b6')"
          [style.color]="item.PREMIER && item.PREMIER ==='Suscripto'?'#ffffff':(item.PREMIER && item.PREMIER ==='Gratis'?'#421d06':'#fff5c5')">
          <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Suscripto'; else otherpremium">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
            </svg>
            <h1>Suscrito</h1>
          </ng-container>
          <ng-template #otherpremium>
            <ng-container *ngIf="item.PREMIER && item.PREMIER ==='Gratis'; else otherotherpremium">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-free-rights" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75"></path>
                <path d="M12 7v2"></path>
                <path d="M12 15v2"></path>
                <path d="M6 6l1.5 1.5"></path>
                <path d="M16.5 16.5l1.5 1.5"></path>
              </svg>
              <h1>Gratis</h1>
            </ng-container>
            <ng-template #otherotherpremium>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rosette-filled" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z" stroke-width="0" fill="currentColor"></path>
              </svg>
              <h1>Premium</h1>
            </ng-template>
          </ng-template>
        </div>
        <div class="text non-touchable"  *ngIf="!showImage">
          <span   class="span1 non-touchable">{{item.NOMBRESESION}}</span>
          <span  class="span2 non-touchable"  style="display: flex; align-items: center;">
           {{item.IDRUTINAS && item.IDRUTINAS.length}} Día(s)</span>
        </div>
      </div>
      <div class="box box1" (click)="go_page_with_dates('listar-programas-rutinas')"  [ngStyle]="getBackgroundStyle2('testPortada.jpg', showImage)"  >
        <div class="icon-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
         </svg>
        </div>
        <div class="tipeSuscription" style="background-color:#e27c00b6; color: #fff5c5;" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
            </svg>
            <h1>Premium</h1>
        </div>
        <div class="text non-touchable"  *ngIf="!showImage">
          <span   class="span1 non-touchable">Lorem Lore </span>
          <span  class="span2 non-touchable"  style="display: flex; align-items: center;">
           XX Día(s)</span>
        </div>
        <div class="text-overlay">
          <h2>Ver<hr>Más</h2>
        </div>
      </div>
    </div>
    <div>
      <div class="image-container" (click)="go_page('listar-rutinas-all')" [ngStyle]="getBackgroundStyleAll('/rutinas/mostrarRutinas2.jpg')" style="background-position: center bottom;">
        <div class="text-container">
          <h1>
            <span class="word">Prueba</span>&nbsp;
            <span class="word">con</span>&nbsp;
            <span class="word">más</span>&nbsp;
            <span class="word">de</span>&nbsp;
            <span class="word">{{totalRutinas && totalRutinas[0].total_datos}}</span>&nbsp;
            <span class="word">Rutinas</span>
          </h1>
        </div>
      </div>
      <div class="image-container" (click)="go_page('listar-sesiones-all')" [ngStyle]="getBackgroundStyleAll('/sesiones/mostrarSesiones2.jpg')" style="background-position: center;">
        <div class="text-container">
          <h1>
            <span class="word">Contamos</span>&nbsp;
            <span class="word">con</span>&nbsp;
            <span class="word">más</span>&nbsp;
            <span class="word">de</span>&nbsp;
            <span class="word">{{totalSesiones && totalSesiones[0].total_datos}}</span>&nbsp;
            <span class="word">Programa</span>&nbsp;
            <span class="word">de</span>&nbsp;
            <span class="word">Rutinas</span>&nbsp;
          </h1>
        </div>
      </div>


    </div>
    <div *ngIf="dataRutinas && dataRutinas.length===0 && dataSesiones && dataSesiones.length===0 " class="container-nodata">
      <img alt="imagen not found" src="{{ ip_address }}/media/errorpage/notfounddata.png" />
    </div>
  </div>
</ion-content>
<!-- <ion-footer>
  <app-footer-designer-users></app-footer-designer-users>
</ion-footer> -->
