<ion-header *ngIf="showheader">
  <app-toolbar-designer></app-toolbar-designer>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner">
      <img src="../../../../assets/spinner_loading.gif" alt="Loading Spinner">
    </div>
  </div>
  <ion-toolbar class="toolbar-header">
    <div class="onboard-top" >
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button style="color: #9259f9;"   (click)="go_page('rutinas')">
           <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
         </ion-button>
         <p (click)="go_page('rutinas')">Regresar</p>
       </ion-buttons>
        <ion-buttons slot="end">
          <ion-button  (click)="confirmchangeCreateData()"  style="color: #9259f9; margin-right: 10px;"  >
            <ng-container *ngIf="(variable && userSesionPerfil && variable.IDENTRENADOR===userSesionPerfil[0].IDPERSONA)   || (variable && userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99); else otherIcon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
                <path d="M10 12l4 0"></path>
             </svg>&nbsp;<span class="spaniconup">Actualizar</span>
            </ng-container>
            <ng-template #otherIcon>
              <ng-container  *ngIf="(!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ;else otherotherIcon" >
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                  <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                  <path d="M14 4l0 4l-6 0l0 -4"></path>
               </svg>&nbsp;<span class="spaniconup">Crear</span>
              </ng-container>
             </ng-template>
             <ng-template #otherotherIcon>
            </ng-template>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </ion-toolbar>
  <ion-card *ngIf="dataEjercicioporRutina && dataEjercicioporRutina.length>=2" class=" flotante" (click)=" dataEjercicioporRutina && dataEjercicioporRutina.length > 0  ? showSelected('dataEjercicio'):''"
    style=" background-image: url('{{ip_address}}/media/images/objetive-muscular-bk-3.png');">
    <ion-card-header>
      <ion-card-title style="color: #ffffff!important;">
        <div class="contenedor-padre-2">
          <img *ngIf=" dataEjercicioporRutina && dataEjercicioporRutina.length>0" class="imagen2" src="{{ ip_address }}/media/images/plus-invisible.png" alt="plus">
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="container-body">
    <ion-card  style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
      <div class="custom-card-image-container">
        <div class="container-imagen">
          <ng-container *ngIf="!selectedImageUrl  && imagePortada; else otherImage">
            <img class="iamgendefault" (click)="uploadImage()" alt="Silhouette of mountains"  [src]="ip_address+'/media/rutinas/portadasrutinas/'+imagePortada"  class="custom-card-image" />
            <div class="image-overlay"></div>
          </ng-container>
          <ng-template #otherImage>
            <div *ngIf="selectedImageUrl; else otherotherImage">
              <img class="iamgendefault" alt="Default Image" (click)="uploadImage()" [src]="selectedImageUrl" />
              <div class="image-overlay"></div>
            </div>
          </ng-template>
          <ng-template #otherotherImage>
            <img alt="DefaultImage" class="iamgendefault" (click)="uploadImage()" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div class="image-overlay"></div>
          </ng-template>
        </div>
        <div class="ion-chip"
        (click)="(userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?showSelected('dataTrainerBasic'):''" >
          <ion-chip  [ngStyle]="{ 'background-color': getColorByValue(selectedTrainerBasic) }">
            <ion-avatar>
              <img *ngIf="!selectedTrainerBasic" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <img *ngIf="selectedTrainerBasic" src="{{ip_address}}/media/perfile/{{selectedTrainerBasic.IMAGEPERSONA}}" />
            </ion-avatar>
            <div class="ion-item-chip">
              <ion-label> {{ selectedTrainerBasic ? getfirstName(selectedTrainerBasic.NOMBREPERSONA )+ ' ' + getfirstName(selectedTrainerBasic.APELLDOPERSONA):'Manager' }}</ion-label>
              <ion-icon name="caret-down" slot="end"></ion-icon>
            </div>
          </ion-chip>
        </div>
        <div (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?uploadImage():''" class="ion-header">
          <ion-icon name="download"></ion-icon>
          <input type="file" style="display: none;" id="fileInput" class="file-input" accept=".jpg, .png" (change)="handleFileInput($event)" #fileInputRef>
        </div>
        <ion-card-header class="custom-card-header">
          <div class="ion-item">
            <ion-textarea [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" class=" full-text ion-input-body-title" [(ngModel)]="tituloRutina" type="text" name="titulo" placeholder="Título Rutina" required></ion-textarea>
            <ion-icon class="ion-icon-title" name="create" slot="end"></ion-icon>
          </div>
        </ion-card-header>
      </div>
      <ion-card-content>
        <div class="ion-item-content">
          <ion-textarea  [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" class="ion-input-body-subtitle" [(ngModel)]="descripcionRutina" type="text" name="subtitulo" placeholder="Descripcion Rutina" required></ion-textarea>
          <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card  (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?showSelected('dataTEjercicio'):''"  style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
      <ion-card-header>
        <ion-card-title>Tipo Ejercicio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-item-content" >
          <h2 >{{ selectedTEjercicio ? selectedTEjercicio.NOMBRETIPOEJERCICIO :'Seleccione alguno' }}</h2>
          <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card  (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?showSelected('dataOPersonal'):''" style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
      <ion-card-header>
        <ion-card-title>Objetivo de la Rutina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-item-content">
          <h2 >{{ selectedOPersonal ? selectedOPersonal.DESCRIPCIONOBJETIVOSPERSONALES : 'Seleccione alguno' }}</h2>
          <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card [ngClass]="{ 'active-card': visibilidaRutina === '1', 'inactive-card': visibilidaRutina === '0' }" [style.background-image]="visibilidaRutina === '' ?  'url(' + ip_address + '/media/rutinas/background.png)':'none'">
      <ion-card-header>
        <ion-card-title>Visibilidad de Rutina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-item-content">
          <ion-select [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" name="selectStatus" interface="popover"  [(ngModel)]="visibilidaRutina " required>
            <ion-select-option value="" disabled selected>Selecciona una opción</ion-select-option>
            <ion-select-option value="1">Activo</ion-select-option>
            <ion-select-option value="0">Inactivo</ion-select-option>
          </ion-select>
          <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
        </div>
        <div  class="div-select" *ngIf="visibilidaRutina && visibilidaRutina === '0' ">
          <p>Indique las Razones</p>
          <div class="ion-item-content">
            <ion-textarea [disabled]="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?false:true" type="text"  [(ngModel)]="observacionRutina " ></ion-textarea>
            <ion-icon class="ion-icon-content" name="create" slot="end" ></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card style=" background-image: url('{{ip_address}}/media/rutinas/background.png');">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title class="ion-card-title">Duración</ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col size="6">
            <ion-card-content>
              <h2  class="ion-card-subtitle">{{ duracionRutina ? duracionRutina : 'HH:mm:ss' }}</h2>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card (click)="dataEjercicioporRutina && dataEjercicioporRutina.length > 0 && (variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ?showSelected('dataEjercicio'):''"  style=" background-image: url('{{ip_address}}/media/images/objetive-muscular-bk-3.png');">
      <ion-card-header>
        <ion-card-title style="color: #ffffff!important;">
          <div class="contenedor-padre">
            <h2 [style]="dataEjercicioporRutina && dataEjercicioporRutina.length > 0 ? 'left: 30px;' : 'left: 0px;'" class="text-im">Ejercicios</h2>
            <img *ngIf=" dataEjercicioporRutina && dataEjercicioporRutina.length>0 && (variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)" class="imagen" src="{{ ip_address }}/media/images/plus-invisible.png" alt="plus">
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card *ngIf=" dataEjercicioporRutina && dataEjercicioporRutina.length === 0"   (click)="showSelected('dataEjercicio')" class="custom-card" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url('{{ip_address}}/media/rutinas/crear_ejerciciorutina.jpg');">
      <ion-card-header>
        <img class="background-image" src="{{ ip_address }}/media/images/plus-invisible.png" alt="plus">
        <ion-card-title>Agregar Ejercicio {{dataEjercicioporRutina.length}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <br>
      </ion-card-content>
    </ion-card>
    <div *ngIf=" dataEjercicioporRutina" style="margin: 0% 3% 0% 3%;
    justify-content: center;">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-card class="ion-card-ejercicio"  style="margin: 0 auto!important; margin-bottom: 3%; width: 100%;  background-image: linear-gradient(0deg,  #0000001a,#8457eab3), url('{{ ip_address }}/multimedia/{{data?getVideoName(data.ALMACENAMIENTOMULTIMEDIA)[0]:''}}.jpg');background-repeat: no-repeat;background-size: cover;" *ngFor="let data of dataEjercicioporRutina;let i=index;" [attr.id]="'elemento-rutinasejercicios'+ i">
        <ion-card-content >
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div class="ion-chip-selected">
                  <ion-chip >
                    <div class="ion-item-chip-selected">
                      <ion-label >{{data && data.TIEMPOMULTIMEDIA}}</ion-label>
                    </div>
                  </ion-chip>
                </div>
              </ion-col>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><span style=" font-family: Raleway-Bold;
                    font-size: 1.5rem;
                    color: #ffffff;" class="full-text">{{data && data.NOMBREEJERCICIO}}</span></ion-label>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="ion-card-content-ejercicio">
                  <ion-icon  style="color: #ffffff;" name="sync"></ion-icon>
                  <ion-label style="color: #ffffff;" >{{data && data.REPETICIONESEJERCICIO}}</ion-label>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="ion-card-content-ejercicio">
                  <ion-icon style="color: #ffffff;" name="shuffle"></ion-icon>
                  <ion-label style="color: #ffffff;">{{data && data.METEJERCICIO}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-icon  style="color: #ffffff;" name="ribbon"></ion-icon>
                  <ion-label style=" color: #ffffff; min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">{{data && data.tituloniveldificultadejercicio}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-icon style="color: #ffffff;" name="flame"></ion-icon>
                  <ion-label style="color: #ffffff; min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><span style="margin-right: 10px;">Tip. Ejer.</span>{{data && data.NOMBRETIPOEJERCICIO}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio-2" >
                  <div  class="ion-icon-edit-2" *ngIf="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)">
                    <ion-reorder >
                      <ion-icon name="chevron-expand"></ion-icon>
                    </ion-reorder>
                  </div>
                  <div class="ion-icon-edit">
                    <ion-icon  (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99) ?EditItemERequerido(data,i):''" name="create"></ion-icon>
                    <ion-icon (click)="(variable &&  userSesionPerfil && userSesionPerfil[0].IDPERSONA === variable.IDENTRENADOR) || (!variable) || (userSesionPerfil && userSesionPerfil[0].IDROLUSUARIO===99)?RemoveItemERequerido(i):''"  name="close-circle"></ion-icon>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-reorder-group>
    </div>
  </div>
    <!-- SELECT BROWSEABLE DE SELECT Tipo Ejercicio  -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecTEjercicio">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Tipo Ejercicio </p>
          </div>
          <div class="back-select"  >
            <p (click)="toggleVariables() ">Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataTEjercicio')"   (ionInput)="onInputChange($event,'dataTEjercicio')" (ionClear)="onInputChange($event,'dataTEjercicio')"  placeholder="Buscar"></ion-searchbar>
        <ion-button class="ion-button-select" (click)="go_page('crear-tipo-ejercicio')" fill="clear">(+) Agregar Nuevo</ion-button>
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataTEjercicio')"
          [class.selected2]="selectedTEjercicio && selectedTEjercicio.NOMBRETIPOEJERCICIO === data.NOMBRETIPOEJERCICIO">
            {{data.NOMBRETIPOEJERCICIO}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
    <!-- SELECT BROWSEABLE DE SELECT Objetivo Personal -->
    <div class="overlay-container-select"  *ngIf="mostrarSelecOPersonal">
      <div class="browser">
        <div class="up-title">
          <div class="title-select">
            <p>Objetivo Personal</p>
          </div>
          <div class="back-select"  >
            <p (click)="toggleVariables()" >Cancelar</p>
          </div>
        </div>
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataOPersonal')"   (ionInput)="onInputChange($event,'dataOPersonal')" (ionClear)="onInputChange($event,'dataOPersonal')"  placeholder="Buscar"></ion-searchbar>
        <!-- <ion-button class="ion-button-select" (click)="go_page('crear-objetivo-personal')"  fill="clear">(+) Agregar Nuevo</ion-button> -->
        <ion-list lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
          <ion-item *ngFor="let data of selectData" (click)="selectItem(data,'dataOPersonal')"
          [class.selected2]="selectedOPersonal && selectedOPersonal.DESCRIPCIONOBJETIVOSPERSONALES === data.DESCRIPCIONOBJETIVOSPERSONALES">
            {{data.DESCRIPCIONOBJETIVOSPERSONALES}}
          </ion-item>
        </ion-list>
        <ng-template #noDataMessage>
          <ion-list lines="none" >
            <ion-item>Resultado no encontrado</ion-item>
          </ion-list>
        </ng-template>
      </div>
    </div>
        <!-- SELECT BROWSEABLE DE SELECT BAsic Trainer -->
        <div class="overlay-container-select"  *ngIf="mostrarTrainerBasic">
          <div class="browser">
            <div class="up-title">
              <div class="title-select">
                <p>Entrenadores</p>
              </div>
              <div class="back-select"  >
                <p (click)="toggleVariables()" >Cancelar</p>
              </div>
            </div>
            <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataTrainerBasic')"   (ionInput)="onInputChange($event,'dataTrainerBasic')" (ionClear)="onInputChange($event,'dataTrainerBasic')"  placeholder="Buscar"></ion-searchbar>
            <!-- <ion-button class="ion-button-select" (click)="go_page('crear-objetivo-personal')"  fill="clear">(+) Agregar Nuevo</ion-button> -->
            <div   class="select-trainer" *ngIf=" selectData && selectData.length >0;else noDataMessage" >
              <ion-chip *ngFor="let data of selectData" (click)="selectItem(data,'dataTrainerBasic')"
              [class.selected]="selectedTrainerBasic && selectedTrainerBasic.IDPERSONA === data.IDPERSONA" class="ion-chip-mostrar"
              [ngStyle]="{ 'background-color': getColorByValue(data) }">
                <ion-avatar>
                  <img src="{{ ip_address }}/media/perfile/{{data.IMAGEPERSONA}}" />
                </ion-avatar>
                <ion-label>{{getfirstName(data.NOMBREPERSONA)}}&nbsp;{{getfirstName(data.APELLDOPERSONA)}}</ion-label>
              </ion-chip>
            </div>
            <ng-template #noDataMessage>
              <ion-list lines="none" >
                <ion-item>Resultado no encontrado</ion-item>
              </ion-list>
            </ng-template>
          </div>
        </div>
 <!-- SELECT BROWSEABLE DE SELECT  Ejercicio  -->
 <div class="overlay-container-select-ejercicio"  *ngIf="mostrarSelecEjercicio">
  <div class="browser">
    <div class="up-title">
      <div class="title-select">
        <p>Ejercicio </p>
      </div>
      <div class="back-select"  >
        <p (click)="cancelarmostrarSelecEjercicio()" >Cancelar</p>
      </div>
    </div>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onInputChange($event,'dataEjercicio')"   (ionInput)="onInputChange($event,'dataEjercicio')" (ionClear)="onInputChange($event,'dataEjercicio')"  placeholder="Buscar"></ion-searchbar>
    <ion-button class="ion-button-select" (click)="go_page('videos')" fill="clear">(+) Agregar Nuevo</ion-button>

    <div class="selectEjerciciodiv" lines="none"  *ngIf=" selectData && selectData.length >0;else noDataMessage" >
      <div *ngFor="let data of selectData;let i=index;" (click)="selectItem(data,'dataEjercicio')"
      [class.selected]="EjercicioporRutinaUniq && EjercicioporRutinaUniq.NOMBREEJERCICIO === data.NOMBREEJERCICIO">
      <ion-card class="ion-card-ejercicio" style=" background-image: url('{{ip_address}}/media/rutinas/background.png');" >
        <div class="custom-card-image-container-ejercicio">
          <div class="custom-image" >
            <img alt="Silhouette of mountains"  src="{{ ip_address }}/multimedia/{{getVideoName(data.ALMACENAMIENTOMULTIMEDIA)[0]}}.jpg"  class="custom-card-image-ejercicio" />
          </div>
          <div class="ion-chip-ejercicio">
            <ion-chip >
              <div class="ion-item-chip-ejercicio">
                <ion-label >{{data.TIEMPOMULTIMEDIA}}</ion-label>
              </div>
            </ion-chip>
          </div>
          <ion-card-header class="custom-card-header-ejercicio">
            <ion-card-title>{{data.NOMBREEJERCICIO}}</ion-card-title>
          </ion-card-header>
        </div>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div class="ion-card-content-ejercicio">
                  <ion-icon name="sync"></ion-icon>
                  <ion-label >{{data.REPETICIONESEJERCICIO}}</ion-label>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="ion-card-content-ejercicio">
                  <ion-icon name="shuffle"></ion-icon>
                  <ion-label>{{data.METEJERCICIO}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-icon name="barbell"></ion-icon>
                  <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">{{data.PESOLEVANTADOEJERCICIO}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-icon name="ribbon"></ion-icon>
                  <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">{{data.tituloniveldificultadejercicio}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-icon name="flame"></ion-icon>
                  <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><span style="margin-right: 10px;">Tip. Ejer.</span>{{data.NOMBRETIPOEJERCICIO}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="data.TITULOS_EQUIPOS_REQUERIDOS">
              <ion-col size="12">
                <div class="ion-card-content-ejercicio">
                  <ion-icon name="library"></ion-icon>
                  <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "><span style="margin-right: 10px;">Equipo Requerido</span></ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" *ngFor="let equipo of data.TITULOS_EQUIPOS_REQUERIDOS">
                <div class="ion-card-content-ejercicio">
                  <ion-label style="min-width: 220px; max-width: 220px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >{{equipo.nombre }}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    </div>

    <ng-template #noDataMessage>
      <ion-list lines="none" >
        <ion-item>Resultado no encontrado</ion-item>
      </ion-list>
    </ng-template>
  </div>
</div>
</ion-content>
<ion-footer *ngIf="showheader">
  <div *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===99;else otherfooter">
    <app-footer-designer ></app-footer-designer>
  </div>
  <ng-template #otherfooter>
    <app-footer-designer-trainer *ngIf="userSesionPerfil && userSesionPerfil.length > 0 && userSesionPerfil[0] && userSesionPerfil[0].IDROLUSUARIO===2"></app-footer-designer-trainer>
  </ng-template>
</ion-footer>
