/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face{
  font-family: Raleway-Black;
  src: url('assets/fonts/Raleway-Black.ttf');
}
@font-face{
  font-family: Raleway-BlackItalic;
  src: url('assets/fonts/Raleway-BlackItalic.ttf');
}
@font-face{
  font-family: Raleway-Bold;
  src: url('assets/fonts/Raleway-Bold.ttf');
}
@font-face{
  font-family: Raleway-BoldItalic ;
  src: url('assets/fonts/Raleway-BoldItalic.ttf');
}
@font-face{
  font-family: Raleway-ExtraBold ;
  src: url('assets/fonts/Raleway-ExtraBold.ttf');
}
@font-face{
  font-family: Raleway-ExtraBoldItalic ;
  src: url('assets/fonts/Raleway-ExtraBoldItalic.ttf');
}
@font-face{
  font-family: Raleway-ExtraLight ;
  src: url('assets/fonts/Raleway-ExtraLight.ttf');
}
@font-face{
  font-family: Raleway-ExtraLightItalic ;
  src: url('assets/fonts/Raleway-ExtraLightItalic.ttf');
}
@font-face{
  font-family: Raleway-Italic ;
  src: url('assets/fonts/Raleway-Italic.ttf');
}
@font-face{
  font-family: Raleway-Light ;
  src: url('assets/fonts/Raleway-Light.ttf');
}
@font-face{
  font-family: Raleway-LightItalic ;
  src: url('assets/fonts/Raleway-LightItalic.ttf');
}
@font-face{
  font-family: Raleway-Medium ;
  src: url('assets/fonts/Raleway-Medium.ttf');
}
@font-face{
  font-family: Raleway-MediumItalic ;
  src: url('assets/fonts/Raleway-MediumItalic.ttf');
}
@font-face{
  font-family: Raleway-Regular ;
  src: url('assets/fonts/Raleway-Regular.ttf');
}
@font-face{
  font-family: Raleway-SemiBold ;
  src: url('assets/fonts/Raleway-SemiBold.ttf');
}
@font-face{
  font-family: Raleway-SemiBoldItalic ;
  src: url('assets/fonts/Raleway-SemiBoldItalic.ttf');
}
@font-face{
  font-family: Raleway-Thin ;
  src: url('assets/fonts/Raleway-Thin.ttf');
}
@font-face{
  font-family: Raleway-ThinItalic ;
  src: url('assets/fonts/Raleway-ThinItalic.ttf');
}
*{
  font-family: Raleway-Regular;
}
.onboard-main{
  ion-slides{
    .swiper-pagination.swiper-pagination-bullets{
      left: auto !important;
      right: auto;
      text-align: left !important;
    }
  }
}

.toast-custom-danger {
  --border-radius: 40px; // Aquí establecemos el radio de las esquinas de la alerta
  --background: #dc354684; // Aquí establecemos el fondo de la alerta
  --color:rgb(255, 255, 255);
  position: fixed;
  top: var(--alert-top);
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  font-family:Raleway-Light;
  text-align: center;
}
.toast-custom-success {
  --border-radius: 40px; // Aquí establecemos el radio de las esquinas de la alerta
  --background: #28a74684; // Aquí establecemos el fondo de la alerta
  --color:rgb(255, 255, 255);
  position: fixed;
  top: var(--alert-top);
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  font-family:Raleway-Bold;
  text-align: center;
}

ion-calendar    .calendar-body .calendar-month .calendar-month-grid{
  display: flex;
  color: #6069e8;
  justify-content: space-between;
  --background: #28a74684;
  background: #28a74684;
  background-color: aqua;
  --background-color: aqua;
}

ion-datetime{
  color:#6069e8;
  background-color: rgb(255, 255, 255);
  ion-item::part(native){
    padding-left: 0;
    background-color:#6069e8;
  }
}
.action-sheet-button.sc-ion-action-sheet-md {
  //display: block !important ;
  position: relative !important ;
  display: flex;
  width: 100% !important ;
  border: 0 !important ;
  outline: none !important ;
  background: #eee9fe !important ;
  color: #7425dca2 !important ;
  font-family: inherit !important ;
  overflow: hidden !important ;
  border-radius: 75px !important ;
  padding: 0% 6% 0% 6%;
  margin: .5% 0% 0% 0% !important ;
  font-family:  Raleway-Medium;
  text-align: center;
}


.action-sheet-group.sc-ion-action-sheet-md {
  -ms-flex-negative: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 2;
  padding: 0% 6% 0% 6%;
  overscroll-behavior-y: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  pointer-events: all;
  background: transparent;
  padding-bottom: 5%;
}

.select-highlight {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: transform 200ms ease 0s, -webkit-transform 200ms ease 0s;
  background: #eee9fe !important;
}

.alert-button.sc-ion-alert-md {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background-color: #bea6ff;
  color: #ffffff;
  font-weight: 500;
  text-align: start;
  text-transform: uppercase;
  overflow: hidden;
}

.alert-button-group.sc-ion-alert-md {
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -ms-flex-pack: end;
  justify-content: center;
}

.alert-input.sc-ion-alert-md {
  box-shadow: 0px 1px 5px #9159f971;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid var(--ion-color-step-150, #d9d9d9); */
  color: var(--ion-text-color, #000);
  text-align: center;
  padding-right:20px;
  padding-left:20px;
}


.alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md {
  -webkit-padding-start: 24px;
  padding-inline-start: 24px;
  -webkit-padding-end: 24px;
  padding-inline-end: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  color: var(--ion-color-step-550, #737373);
}
